.title {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.normal {
  composes: title;
}

.danger {
  composes: title;
  color: rgb(242, 65, 65);
}

.expand-btn {
  padding: 0.3em 0.3em 0.25em 0.3em !important;
  font-size: 0.375em !important;
  border-radius: 0px !important;
  margin-left: 0.4em;
  vertical-align: baseline !important;
}
