version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      k8s.io:
        patterns:
          - "k8s.io/*"
      go.opentelemetry.io:
        patterns:
          - "go.opentelemetry.io/*"
  - package-ecosystem: "gomod"
    directory: "/documentation/examples/remote_storage"
    schedule:
      interval: "monthly"
  - package-ecosystem: "npm"
    directory: "/web/ui"
    schedule:
      interval: "monthly"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
  - package-ecosystem: "github-actions"
    directory: "/scripts"
    schedule:
      interval: "monthly"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "monthly"
