body {
    padding-top: 10px; /* TODO remove */
}

.panel {
    margin-bottom: 20px;
}

.expression-input {
    margin-bottom: 10px;
}

.expression-input textarea {
    /* font-family: Menlo,Monaco,Consolas,'Courier New',monospace; */
    resize: none;
}

button.execute-btn {
    width: 84px;
}

.alert.alert-danger {
    margin-bottom: 10px;
}

.nav-tabs .nav-link {
    cursor: pointer;
}

.tab-content {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding: 10px;
}

.tab-content .alert {
    margin-bottom: 0;
}

.data-table.table {
   margin: 10px 0 2px 0;
}

.data-table > tbody > tr > td {
    padding: 5px 0 5px 8px;
    font-size: 0.8em;
    overflow: hidden;
}

.autosuggest-dropdown {
    position: absolute;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: #fff;
    color: #495057;
    font-size: 1rem;
    z-index: 1000;
    min-width: 10rem;
    top: 100%;
    left: 56px;
    float: left;
    padding: .5rem 1px .5rem 1px;
    margin: -5px;
    list-style: none;
}

.autosuggest-dropdown li {
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    display: block;
}

.graph-controls, .table-controls {
    margin-bottom: 10px;
}

.graph-controls input {
    text-align: center;
}

.graph-controls .range-input input {
    width: 50px;
}

.graph-controls .time-input input {
    border-right: none;
}

div.time-input {
    width: 240px !important;
}

.table-controls input {
    text-align: center;
}

.graph-controls input.resolution-input {
    width: 90px;
}

.graph-controls .time-input, .graph-controls .resolution-input, .graph-controls .stacked-input {
    margin-left: 20px;
}

.graph-controls .clear-time-btn {
    background: #fff;
    border-left: none;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    color: #495057;
}

.graph-legend {
    margin: 15px 0 15px 25px;
    font-size: 0.8em;
}

.graph-legend .legend-swatch {
    padding: 5px;
    height: 5px;
    outline-offset: 1px;
    outline: 1.5px solid #ccc;
    margin: 2px 8px 2px 0;
}

.legend-metric-name {
    margin-right: 1px;
}

.legend-label-name {
    font-weight: bold;
}

.graph {
    margin: 0 5px 0 5px;
}

.graph-chart {
    height: 500px;
    width: 100%;
    /* This is picked up by Flot's axis label font renderer,
      which ignores "color" and uses "fill" instead. */
    fill: #495057;
    font-size: 0.8em;
}

.graph-chart .flot-overlay {
    cursor: crosshair;
}

.graph-tooltip {
    background: rgba(0,0,0,.8);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    white-space: nowrap;
    padding: 8px;
    border-radius: 3px;
}

.graph-tooltip .labels {
    font-size: 11px;
    line-height: 11px;
  }

.graph-tooltip .detail-swatch {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px 0 0;
}

.add-panel-btn {
    margin-bottom: 20px;
}
