*#
.#*
/*.yaml
/*.yml
*.exe

/prometheus
/promtool
/tsdb/tsdb
benchmark.txt
/data
/cmd/prometheus/data
/cmd/prometheus/debug

!/.travis.yml
!/.promu.yml
!/.golangci.yml
/documentation/examples/remote_storage/remote_storage_adapter/remote_storage_adapter
/documentation/examples/remote_storage/example_write_adapter/example_writer_adapter

npm_licenses.tar.bz2
/web/ui/static/react
/web/ui/assets_vfsdata.go
