*#
*.[568ao]
*.a[568o]
*.cgo*.c
*.cgo*.go
/*.yaml
/*.yml
/*.rules
*.exe
*.orig
*.pyc
*.rej
*.so

# Editor files #
################
*~
.*.swp
.*.swo
*.iml
.idea

.DS_Store
.nfs.*
[568a].out
core

*-stamp
/prometheus
/promtool
benchmark.txt
/data
/.build

.#*
command-line-arguments.test
*BACKUP*
*LOCAL*
*REMOTE*
