*#
*.[568ao]
*.a[568o]
*.cgo*.c
*.cgo*.go
*.conf
*.exe
*.orig
*.pyc
*.rej
*.rules
*.so
*~
.*.swp
._*
.DS_Store
.git
.gitignore
.nfs.*
[568a].out
_cgo_*
core

*-stamp
leveldb-1.7.0*
protobuf-2.4.1*
snappy-1.0.5*
prometheus.build
