---
extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  commas: disable
  comments: disable
  comments-indentation: disable
  document-start: disable
  indentation:
    spaces: consistent
  key-duplicates:
    ignore: |
      *section_key_dup.bad.yml
  line-length: disable
