#
# Please keep this file in sync with the MAINTAINERS.md file!
#

# Subsystems.
/Makefile @simonpasquier @SuperQ
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze
/model/histogram @beorn7 @krajorama
/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/promql @roidelapluie
/storage/remote @cstyan @bwplotka @tomwilkie @npazosmendez @alexgreenbank
/storage/remote/otlptranslator @aknuds1 @jesusvazquez @ArthurSens
/tsdb @jesusvazquez @codesome @bwplotka @krajorama

# Service discovery.
/discovery/kubernetes @brancz
/discovery/stackit @jkroepke
# Pending
# https://github.com/prometheus/prometheus/pull/17105#issuecomment-3248209452
# /discovery/aws/ @matt-gp @sysadmind
# https://github.com/prometheus/prometheus/pull/15212#issuecomment-3575225179
# /discovery/aliyun @KeyOfSpectator
# https://github.com/prometheus/prometheus/pull/14108#issuecomment-2639515421
# /discovery/nomad @jaloren @jrasell
