apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: https://api.sno-4xlarge-421-2jvgv.dev07.red-chesterfield.com:6443
  name: api-sno-4xlarge-421-2jvgv-dev07-red-chesterfield-com:6443
contexts:
- context:
    cluster: api-sno-4xlarge-421-2jvgv-dev07-red-chesterfield-com:6443
    namespace: default
    user: kube:admin/api-sno-4xlarge-421-2jvgv-dev07-red-chesterfield-com:6443
  name: default/api-sno-4xlarge-421-2jvgv-dev07-red-chesterfield-com:6443/kube:admin
- context:
    cluster: api-sno-4xlarge-421-2jvgv-dev07-red-chesterfield-com:6443
    namespace: open-cluster-management-observability
    user: kube:admin/api-sno-4xlarge-421-2jvgv-dev07-red-chesterfield-com:6443
  name: open-cluster-management-observability/api-sno-4xlarge-421-2jvgv-dev07-red-chesterfield-com:6443/kube:admin
current-context: open-cluster-management-observability/api-sno-4xlarge-421-2jvgv-dev07-red-chesterfield-com:6443/kube:admin
kind: Config
preferences: {}
users:
- name: kube:admin/api-sno-4xlarge-421-2jvgv-dev07-red-chesterfield-com:6443
  user:
    token: sha256~KjPB3uQ7eUvonfKojKzdGUbYpP1URslm5EnIfitjqj8
