[Unit]
Description=Prometheus is a systems and service monitoring system. It collects metrics from configured targets at given intervals, evaluates rule expressions, displays the results, and can trigger alerts if some condition is observed to be true.
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/prometheus
ExecStart=/usr/bin/prometheus $PROMETHEUS_OPTS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
Alias=prometheus.service
