{{ template "head" . }}

{{ template "prom_right_table_head" }}
{{ $job := .Params.job }}
<tr>
  <th>{{ $job }}</th>
  <th>{{  template "prom_query_drilldown" (args (printf "sum(up{job='%s'})" $job))  }} / {{ template "prom_query_drilldown" (args (printf "count(up{job='%s'})" $job)) }}</th>
</tr>

<tr>
  <th colspan=2>Currently</th>
</tr>
{{ range query (printf "probe_success{job='%s'}" $job) | sortByLabel "instance" }}
<tr>
  <td {{ if eq (. | value) 1.0 }}{{ else }} class="alert-danger"{{ end }}>
    <a href="http://{{ .Labels.instance }}/">{{ .Labels.instance }}</a></td>
  <td {{ if eq (. | value) 1.0 }}>Up{{ else }} class="alert-danger">Down{{ end }}</td>
</tr>
{{ end }}

<tr>
  <th colspan=2>Past Day %</th>
</tr>
{{ range query (printf "avg_over_time(probe_success{job='%s'}[1d]) * 100" $job) | sortByLabel "instance" }}
<tr>
  <td {{ if gt (. | value) 90.0 }}{{ else }} class="alert-danger"{{ end }}>
    {{ .Labels.instance }}</td>
  <td {{ if gt (. | value) 90.0 }}{{ else }} class="alert-danger"{{ end }}>
    {{ (. | value | printf "%.2f") }}%</td>
</tr>
{{ end }}

{{ template "prom_right_table_tail" }}

{{ template "prom_content_head" .}}
<h1>{{ $job }}</h1>

<h3>Response times</h3>
<div id="responseGraph"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#responseGraph"),
  expr: "probe_duration_seconds{job='{{ $job }}'}",
  name: "[[instance]]",
  yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yUnits: "s",
  yTitle: "response time"
})
</script>

{{ template "prom_content_tail" . }}

{{ template "tail" }}
