{{ template "head" . }}

{{ template "prom_right_table_head" }}
<tr>
  <th>cloudwatch</th>
  <th>{{ template "prom_query_drilldown" (args "sum(up{job='cloudwatch'})") }} / {{ template "prom_query_drilldown" (args "count(up{job='cloudwatch'})") }}</th>
</tr>

<tr>
  <td>API Requests</td>
  <td>{{ template "prom_query_drilldown" (args "sum by (job)(irate(cloudwatch_requests_total{job='cloudwatch'}[5m]))" "/s" "humanizeNoSmallPrefix") }}</td>
</tr>
{{ template "prom_right_table_tail" }}

{{ template "prom_content_head" . }}
<h1>CloudWatch Exporter</h1>
{{ template "prom_content_tail" . }}

{{ template "tail" }}
