{{ template "head" . }}

{{ template "prom_right_table_head" }}
{{ template "prom_right_table_tail" }}

{{ template "prom_content_head" . }}
<h1>Overview</h1>
<p>These are example consoles for Prometheus.</p>

<p>These consoles expect exporters to have the following job labels:</p>
<table class="table table-sm table-striped table-bordered" style="width: 0%">
<tr>
  <th>Exporter</th>
  <th>Job label</th>
</tr>
<tr>
  <td>Node Exporter</td>
  <td><code>node</code></td>
</tr>
<tr>
  <td>Prometheus</td>
  <td><code>prometheus</code></td>
</tr>
</table>

{{ template "prom_content_tail" . }}

{{ template "tail" }}
