---
page_title: "Community"
layout: inner
description: |-
  Serf is a new project with a growing community. Despite this, there are
  active, dedicated users willing to help you through various mediums.
---

<h1>Community</h1>

<p>
  Serf is a new project with a growing community. Despite this, there are
  active, dedicated users willing to help you through various mediums.
</p>
<p>
  <strong>Chat:</strong> <a href="https://gitter.im/hashicorp-serf/Lobby">Serf on Gitter</a>
</p>
<p>
  <strong>Mailing list:</strong>
  <a href="https://groups.google.com/group/serfdom">Serf Google Group</a>
</p>
<p>
  <strong>Bug Tracker:</strong>
  <a href="https://github.com/hashicorp/serf/issues">Issue tracker on
  GitHub</a>. Please only use this for reporting bugs. Do not ask for general
  help here. Use IRC or the mailing list for that.
</p>
