#ifdef __cplusplus
extern "C" {
#endif

/**
 * @brief return determined flavor
 *
 * @param res {
 *   flavor string
 * }
 */
void prompp_get_flavor(void* res);

/**
 * @brief determine flavor and setup function pointers
 *
 */
void prompp_init();

#ifdef __cplusplus
}
#endif
