.alert_header {
  cursor: pointer;
}

.alert_details {
  display: none;
}

div.show-annotations {
  font-size: 0.8em;
  padding-top: 1em;
  padding-bottom: 1em;
}

div.show-annotations:hover {
  cursor: pointer;
}

div.show-annotations button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

div.show-annotations.is-checked {
  color: #286090;
}

