body {
  margin: 0;
}

.eval_stats {
  font-size: 11px;
}

.graph_wrapper {
  margin-top: 12px;
}

.graph {
  position: relative;
  left: 40px;
  min-height: 400px;
}

#add_graph {
  margin-top: 10px;
}

.nav-tabs {
  margin-top: 10px;
}

.nav-tabs > li > a {
  padding: 5px 10px;
}

.tab-pane {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.graph svg {
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.legend {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 60px;
}

.graph_area {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 0 5px 20px;
}

.y_axis {
  overflow: visible;
  position: absolute;
  top: 1px;
  bottom: 0;
  width: 40px;
}

.y_axis svg {
  overflow: visible;
}

.graph .detail .item.active {
  line-height: 1.4em;
  padding: 0.5em;
}

.labels {
  font-size: 11px;
  line-height: 11px;
}

.graph .detail .item .detail_swatch {
  float: right;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 2px 2px 0 8px;
 }

input[title=*]:hover:after {
  content: attr(title);
}

.config input, .config select {
  height: 12px;
  margin-bottom: 0;
}

.config label {
  display: inline;
}

.console_table {
  margin: 5px 0px;
  font-size: 0.8em;
}

select name="insert_metric" {
  margin-bottom: 0px;
}

.datepicker {
  font-size: 10pt;
}

input[name="end_input"], input[name="range_input"] {
  margin-left: -1px;
  margin-right: -1px;
}

.error {
  padding: 5px;
  margin: 2px;
}

.btn, .form-control, .nav-tabs > li > a {
  border-radius: 0;
}

.prometheus_input_group {
  display: inline-block;
  margin: 10px 5px;
  overflow: auto;
}

.prometheus_input_group.range_input {
  margin-left: 59px;
}

.prometheus_input_group .btn {
  font-size: 0.8em;
}

.prometheus_input_group .input {
  width: 100px;
  height: 29px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.prometheus_input_group .date_input {
  width: 200px;
}

.expression_input {
  width: 100% !important;
  margin-bottom: 10px;
}

.expression_select {
  width: 210px !important;
  margin-left: 7px;
}

.graph_container .rickshaw_legend {
  background-color: #222222;
  border-radius: 0;
}
