h2.job_header {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

h2.danger a {
    color: rgb(242, 65, 65);
}

div#showTargets .btn {
    border-radius: 0px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.table-container button.targets {
    padding: 0.3em;
    font-size: 0.6em;
    border-radius: 0;
    font-weight: 400;
}

.table-container table {
    width: 100%;
}

.table-container table tr td {
    height: auto;
    word-wrap: break-word;
    word-break: break-all;
}

td.endpoint, td.labels {
    width: 25%;
}

td.state, td.last-scrape {
    width: 10%;
}

td.errors {
    width: 30%;
}
