---
version: 2.1

orbs:
  prometheus: prometheus/prometheus@0.4.0
  go: circleci/go@0.2.0
  win: circleci/windows@2.3.0
  pca-bes: accedian/pca-bes@1

jobs:
  test:
    machine: true
    resource_class: accedian/staging_bes-ubuntu-medium

    working_directory: ~/repo

    steps:
      - pca-bes/workspacesetup
	  - prometheus/setup_environment
	  - go/load-cache:
		  key: v1
	  - restore_cache:
		  keys:
		  - v3-npm-deps-{{ checksum "web/ui/react-app/yarn.lock" }}
		  - v3-npm-deps-
	  - run:
		  command: make
		  environment:
			# Run garbage collection more aggressively to avoid getting OOMed during the lint phase.
			GOGC: "20"
			# By default Go uses GOMAXPROCS but a Circle CI executor has many
			# cores (> 30) while the CPU and RAM resources are throttled. If we
			# don't limit this to the number of allocated cores, the job is
			# likely to get OOMed and killed.
			GOOPTS: "-p 2"
			GOMAXPROCS: "2"
	  - prometheus/check_proto:
		  version: "3.12.3"
	  - prometheus/store_artifact:
		  file: prometheus
	  - prometheus/store_artifact:
		  file: promtool
	  - go/save-cache:
		  key: v1
	  - save_cache:
		  key: v3-npm-deps-{{ checksum "web/ui/react-app/yarn.lock" }}
		  paths:
		  - /home/circleci/.cache/yarn
	  - store_test_results:
		  path: test-results

  test_windows:
    machine: true
    resource_class: accedian/staging_bes-ubuntu-medium

    working_directory: ~/repo

    steps:
      - pca-bes/workspacesetup
	  - run:
		  # Temporary workaround until circleci updates go.
		  shell: bash
		  command: |
			choco upgrade -y golang
	  - run:
		  shell: bash
		  command: |
			(cd web/ui && GOOS= GOARCH= go generate -mod=vendor)
			go test -mod=vendor -vet=off -test.v `go list ./...|grep -Exv "(github.com/prometheus/prometheus/discovery.*|github.com/prometheus/prometheus/config|github.com/prometheus/prometheus/web)"`
		  environment:
			GOGC: "20"
			GOOPTS: "-p 2 -mod=vendor"

  test_mixins:
    machine: true
    resource_class: accedian/staging_bes-ubuntu-medium

    working_directory: ~/repo

    steps:
      - pca-bes/workspacesetup
	  - run: go install -mod=vendor ./cmd/promtool/.
	  - run:
		  command: go install -mod=readonly github.com/google/go-jsonnet/cmd/jsonnet github.com/google/go-jsonnet/cmd/jsonnetfmt github.com/jsonnet-bundler/jsonnet-bundler/cmd/jb
		  working_directory: ~/project/documentation/prometheus-mixin
	  - run:
		  command: make clean
		  working_directory: ~/project/documentation/prometheus-mixin
	  - run:
		  command: jb install
		  working_directory: ~/project/documentation/prometheus-mixin
	  - run:
		  command: make
		  working_directory: ~/project/documentation/prometheus-mixin
	  - run:
		  command: git diff --exit-code
		  working_directory: ~/project/documentation/prometheus-mixin

  fuzzit_regression:
    machine: true
    resource_class: accedian/staging_bes-ubuntu-medium

    working_directory: ~/repo

    steps:
      - pca-bes/workspacesetup
      - run: ./fuzzit.sh local-regression

  fuzzit_fuzzing:
    machine: true
    resource_class: accedian/staging_bes-ubuntu-medium

    working_directory: ~/repo

    steps:
      - pca-bes/workspacesetup
      - run: ./fuzzit.sh fuzzing

  repo_sync:
    machine: true
    resource_class: accedian/staging_bes-ubuntu-medium

    working_directory: ~/repo

    steps:
      - pca-bes/workspacesetup
      - run: ./scripts/sync_repo_files.sh

workflows:
  version: 2
  prometheus:
    jobs:
	  - test:
		  context: bes-builder-gcp-skybuilder-prd-51843
		  filters:
			tags:
			  only: /.*/
	  - test_mixins:
		  context: bes-builder-gcp-skybuilder-prd-51843
		  filters:
			tags:
			  only: /.*/
	  - test_windows:
		  context: bes-builder-gcp-skybuilder-prd-51843
		  filters:
			tags:
			  only: /.*/
	  - fuzzit_regression:
		  context: bes-builder-gcp-skybuilder-prd-51843
		  filters:
			tags:
			  only: /.*/
	  - prometheus/build:
		  name: build
		  filters:
			tags:
			  only: /.*/
	  - prometheus/publish_master:
		  context: bes-builder-gcp-skybuilder-prd-51843
		  requires:
			- test
			- build
		  filters:
			branches:
			  only: master
		  image: circleci/golang:1-node
	  - prometheus/publish_release:
		  image: circleci/golang:1-node
		  context: bes-builder-gcp-skybuilder-prd-51843
		  requires:
			- test
			- build
		  filters:
			tags:
			  only: /^v[0-9]+(\.[0-9]+){2}(-.+|[^-.]*)$/
			branches:
			  ignore: /.*/
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
	  - repo_sync:
		  context: bes-builder-gcp-skybuilder-prd-51843
	  - fuzzit_fuzzing:
		  context: bes-builder-gcp-skybuilder-prd-51843
