---
version: 2.1

orbs:
  prometheus: prometheus/prometheus@0.1.0

executors:
  # Whenever the Go version is updated here, .travis.yml and .promu.yml
  # should also be updated.
  golang:
    docker:
    - image: circleci/golang:1.13

  fuzzit:
    docker:
      - image: fuzzitdev/golang:1.12.7-buster

jobs:
  test:
    executor: golang

    steps:
    - prometheus/setup_environment
    - run:
        command: make
        environment:
          # Run garbage collection more aggressively to avoid getting OOMed during the lint phase.
          GOGC: "20"
          # By default Go uses GOMAXPROCS but a Circle CI executor has many
          # cores (> 30) while the CPU and RAM resources are throttled. If we
          # don't limit this to the number of allocated cores, the job is
          # likely to get OOMed and killed.
          GOOPTS: "-p 2"
    - prometheus/check_proto
    - prometheus/store_artifact:
        file: prometheus
    - prometheus/store_artifact:
        file: promtool
  fuzzit_regression:
    executor: fuzzit
    working_directory: /go/src/github.com/prometheus/prometheus
    steps:
      - checkout
      - setup_remote_docker
      - run: ./fuzzit.sh local-regression
  fuzzit_fuzzing:
    executor: fuzzit
    working_directory: /go/src/github.com/prometheus/prometheus
    steps:
      - checkout
      - setup_remote_docker
      - run: ./fuzzit.sh fuzzing

  makefile_sync:
    executor: golang
    steps:
    - checkout
    - run: ./scripts/sync_makefiles.sh

workflows:
  version: 2
  prometheus:
    jobs:
    - test:
        filters:
          tags:
            only: /.*/
    - fuzzit_regression:
        filters:
          tags:
            only: /.*/
    - prometheus/build:
        name: build
        filters:
          tags:
            only: /.*/
    - prometheus/publish_master:
        context: org-context
        requires:
        - test
        - build
        filters:
          branches:
            only: master
    - prometheus/publish_release:
        context: org-context
        requires:
        - test
        - build
        filters:
          tags:
            only: /^v[0-9]+(\.[0-9]+){2}(-.+|[^-.]*)$/
          branches:
            ignore: /.*/
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
    - makefile_sync:
        context: org-context
    - fuzzit_fuzzing:
        context: org-context
