<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.serfdom.serf</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/serf</string>
      <string>agent</string>
    </array>
    <key>ServiceDescription</key>
    <string>serf</string>
    <key>WorkingDirectory</key>
    <string>/usr/local</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
