<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Prometheus Time Series Collection and Processing Server</title>
    <script src="/static/vendor/js/jquery.min.js"></script>

    <link type="text/css" rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/static/css/prometheus.css">

    {{template "head" .}}
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Prometheus</a>
          <ul class="nav">
            {{$consoles := getConsoles}}
            {{if $consoles}}
            <li><a href="{{$consoles}}">Consoles</a></li>
            {{ end }}
            <li><a href="/alerts">Alerts</a></li>
            <li><a href="/graph">Graph</a></li>
            <li><a href="/">Status</a></li>
            <li><a href="/databases">Databases</a></li>
            <li>
              <a href="https://github.com/prometheus/prometheus/wiki" target="_blank">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {{template "content" .}}
  </body>
</html>
