{{define "head"}}
    <script src="js/exprBrowser.js"></script>
{{end}}

{{define "content"}}
    <div class="grouping_box">
      <form action="/api/query" method="GET" id="queryForm">
        <label for="expr">Expression:</label>
        <input type="text" name="expr" id="expr" size="100">
        <input type="checkbox" name="json" id="json" value="JSON"><label for="json">JSON</label>
        <input type="submit" value="Evaluate">
      </form>
    </div>
    <div class="grouping_box">
      <pre>
        <div id="result"></div>
      </pre>
    </div>
{{end}}
