{{define "head"}}<!-- nix -->{{end}}

{{define "content"}}
    <div class="container-fluid">
      <h2>Database Information</h2>
      {{range $database := .Current }}
      <h3>{{$database.Name}}</h3>
      <table class="table table-bordered table-condensed table-hover literal_output">
        <tbody>
          <tr>
            <th>Location</th>
            <td>{{$database.Location}}</td>
          </tr>
          <tr>
            <th>Purpose</th>
            <td>{{$database.Purpose}}</td>
          </tr>
          <tr>
            <th>Size</th>
            <td>{{$database.Size}}</td>
          </tr>
          {{range $subject, $state := $database.Supplemental }}
          <tr>
            <th>{{$subject}}</th>
            <td><pre>{{$state}}</pre></td>
          </tr>
          {{end}}
        </tbody>
      </table>
      {{end}}
    </div>
{{end}}
