{{define "head"}}
    <script src="/static/vendor/jqueryui/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/static/vendor/jqueryui/themes/base/jquery-ui.css" />

    <link type="text/css" rel="stylesheet" href="/static/css/graph.css">

    <script src="/static/vendor/jquery-simple-datetimepicker/jquery.simple-dtpicker.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/vendor/jquery-simple-datetimepicker/jquery.simple-dtpicker.css">

    <link type="text/css" rel="stylesheet" href="/static/vendor/rickshaw/rickshaw.min.css">

    <script src="/static/vendor/rickshaw/vendor/d3.min.js"></script>
    <script src="/static/vendor/rickshaw/vendor/d3.layout.min.js"></script>
    <script src="/static/vendor/rickshaw/rickshaw.min.js"></script>

    <script src="/static/vendor/js/handlebars.js"></script>
    <script src="/static/vendor/js/jquery.selection.js"></script>
    <script src="/static/vendor/js/jquery.hotkeys.js"></script>

    <script src="/static/js/graph.js"></script>

    <script id="graph_template" type="text/x-handlebars-template"></script>
{{end}}

{{define "content"}}
    <div id="graph_container">
    </div>
    <div><input class="btn" type="submit" value="Add Graph" id="add_graph"></div>
{{end}}
