{{define "head"}}<!-- nix -->{{end}}

{{define "content"}}
    <h2>Status</h2>
		<div class="grouping_box">
{{.Status}}
		</div>

		<h2>Configuration</h2>
		<div class="grouping_box">
		<pre>
{{.Config}}
		</pre>
		</div>

    <h2>Rules</h2>
		<div class="grouping_box">
{{.Rules}}
		</div>

		<h2>Targets</h2>
    <div class="grouping_box">
      <ul>
        {{range $job, $pool := .TargetPools}}
          <li>{{$job}}
            <ul>
              {{range $pool.Targets}}
                <li>
                <a href="{{.GlobalAddress}}">{{.Address}}</a> (State: {{.State}}, Base Labels: {{.BaseLabels}})
                </li>
              {{end}}
            </ul>
          </li>
        {{end}}
      </ul>
		</div>
{{end}}
