{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-10-30",
    "endpointPrefix":"comprehendmedical",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"ComprehendMedical",
    "serviceFullName":"AWS Comprehend Medical",
    "serviceId":"ComprehendMedical",
    "signatureVersion":"v4",
    "signingName":"comprehendmedical",
    "targetPrefix":"ComprehendMedical_20181030",
    "uid":"comprehendmedical-2018-10-30"
  },
  "operations":{
    "DescribeEntitiesDetectionV2Job":{
      "name":"DescribeEntitiesDetectionV2Job",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEntitiesDetectionV2JobRequest"},
      "output":{"shape":"DescribeEntitiesDetectionV2JobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribePHIDetectionJob":{
      "name":"DescribePHIDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePHIDetectionJobRequest"},
      "output":{"shape":"DescribePHIDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DetectEntities":{
      "name":"DetectEntities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectEntitiesRequest"},
      "output":{"shape":"DetectEntitiesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidEncodingException"},
        {"shape":"TextSizeLimitExceededException"}
      ],
      "deprecated":true,
      "deprecatedMessage":"This operation is deprecated, use DetectEntitiesV2 instead."
    },
    "DetectEntitiesV2":{
      "name":"DetectEntitiesV2",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectEntitiesV2Request"},
      "output":{"shape":"DetectEntitiesV2Response"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidEncodingException"},
        {"shape":"TextSizeLimitExceededException"}
      ]
    },
    "DetectPHI":{
      "name":"DetectPHI",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectPHIRequest"},
      "output":{"shape":"DetectPHIResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidEncodingException"},
        {"shape":"TextSizeLimitExceededException"}
      ]
    },
    "ListEntitiesDetectionV2Jobs":{
      "name":"ListEntitiesDetectionV2Jobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEntitiesDetectionV2JobsRequest"},
      "output":{"shape":"ListEntitiesDetectionV2JobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ValidationException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListPHIDetectionJobs":{
      "name":"ListPHIDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPHIDetectionJobsRequest"},
      "output":{"shape":"ListPHIDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ValidationException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StartEntitiesDetectionV2Job":{
      "name":"StartEntitiesDetectionV2Job",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartEntitiesDetectionV2JobRequest"},
      "output":{"shape":"StartEntitiesDetectionV2JobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StartPHIDetectionJob":{
      "name":"StartPHIDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartPHIDetectionJobRequest"},
      "output":{"shape":"StartPHIDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StopEntitiesDetectionV2Job":{
      "name":"StopEntitiesDetectionV2Job",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopEntitiesDetectionV2JobRequest"},
      "output":{"shape":"StopEntitiesDetectionV2JobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StopPHIDetectionJob":{
      "name":"StopPHIDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopPHIDetectionJobRequest"},
      "output":{"shape":"StopPHIDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    }
  },
  "shapes":{
    "AnyLengthString":{"type":"string"},
    "Attribute":{
      "type":"structure",
      "members":{
        "Type":{"shape":"EntitySubType"},
        "Score":{"shape":"Float"},
        "RelationshipScore":{"shape":"Float"},
        "Id":{"shape":"Integer"},
        "BeginOffset":{"shape":"Integer"},
        "EndOffset":{"shape":"Integer"},
        "Text":{"shape":"String"},
        "Traits":{"shape":"TraitList"}
      }
    },
    "AttributeList":{
      "type":"list",
      "member":{"shape":"Attribute"}
    },
    "AttributeName":{
      "type":"string",
      "enum":[
        "SIGN",
        "SYMPTOM",
        "DIAGNOSIS",
        "NEGATION"
      ]
    },
    "BoundedLengthString":{
      "type":"string",
      "max":20000,
      "min":1
    },
    "ClientRequestTokenString":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"^[a-zA-Z0-9-]+$"
    },
    "ComprehendMedicalAsyncJobFilter":{
      "type":"structure",
      "members":{
        "JobName":{"shape":"JobName"},
        "JobStatus":{"shape":"JobStatus"},
        "SubmitTimeBefore":{"shape":"Timestamp"},
        "SubmitTimeAfter":{"shape":"Timestamp"}
      }
    },
    "ComprehendMedicalAsyncJobProperties":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"},
        "JobName":{"shape":"JobName"},
        "JobStatus":{"shape":"JobStatus"},
        "Message":{"shape":"AnyLengthString"},
        "SubmitTime":{"shape":"Timestamp"},
        "EndTime":{"shape":"Timestamp"},
        "ExpirationTime":{"shape":"Timestamp"},
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "LanguageCode":{"shape":"LanguageCode"},
        "DataAccessRoleArn":{"shape":"IamRoleArn"},
        "ManifestFilePath":{"shape":"ManifestFilePath"},
        "KMSKey":{"shape":"KMSKey"},
        "ModelVersion":{"shape":"ModelVersion"}
      }
    },
    "ComprehendMedicalAsyncJobPropertiesList":{
      "type":"list",
      "member":{"shape":"ComprehendMedicalAsyncJobProperties"}
    },
    "DescribeEntitiesDetectionV2JobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "DescribeEntitiesDetectionV2JobResponse":{
      "type":"structure",
      "members":{
        "ComprehendMedicalAsyncJobProperties":{"shape":"ComprehendMedicalAsyncJobProperties"}
      }
    },
    "DescribePHIDetectionJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "DescribePHIDetectionJobResponse":{
      "type":"structure",
      "members":{
        "ComprehendMedicalAsyncJobProperties":{"shape":"ComprehendMedicalAsyncJobProperties"}
      }
    },
    "DetectEntitiesRequest":{
      "type":"structure",
      "required":["Text"],
      "members":{
        "Text":{"shape":"BoundedLengthString"}
      }
    },
    "DetectEntitiesResponse":{
      "type":"structure",
      "required":[
        "Entities",
        "ModelVersion"
      ],
      "members":{
        "Entities":{"shape":"EntityList"},
        "UnmappedAttributes":{"shape":"UnmappedAttributeList"},
        "PaginationToken":{"shape":"String"},
        "ModelVersion":{"shape":"String"}
      }
    },
    "DetectEntitiesV2Request":{
      "type":"structure",
      "required":["Text"],
      "members":{
        "Text":{"shape":"BoundedLengthString"}
      }
    },
    "DetectEntitiesV2Response":{
      "type":"structure",
      "required":[
        "Entities",
        "ModelVersion"
      ],
      "members":{
        "Entities":{"shape":"EntityList"},
        "UnmappedAttributes":{"shape":"UnmappedAttributeList"},
        "PaginationToken":{"shape":"String"},
        "ModelVersion":{"shape":"String"}
      }
    },
    "DetectPHIRequest":{
      "type":"structure",
      "required":["Text"],
      "members":{
        "Text":{"shape":"BoundedLengthString"}
      }
    },
    "DetectPHIResponse":{
      "type":"structure",
      "required":[
        "Entities",
        "ModelVersion"
      ],
      "members":{
        "Entities":{"shape":"EntityList"},
        "PaginationToken":{"shape":"String"},
        "ModelVersion":{"shape":"String"}
      }
    },
    "Entity":{
      "type":"structure",
      "members":{
        "Id":{"shape":"Integer"},
        "BeginOffset":{"shape":"Integer"},
        "EndOffset":{"shape":"Integer"},
        "Score":{"shape":"Float"},
        "Text":{"shape":"String"},
        "Category":{"shape":"EntityType"},
        "Type":{"shape":"EntitySubType"},
        "Traits":{"shape":"TraitList"},
        "Attributes":{"shape":"AttributeList"}
      }
    },
    "EntityList":{
      "type":"list",
      "member":{"shape":"Entity"}
    },
    "EntitySubType":{
      "type":"string",
      "enum":[
        "NAME",
        "DOSAGE",
        "ROUTE_OR_MODE",
        "FORM",
        "FREQUENCY",
        "DURATION",
        "GENERIC_NAME",
        "BRAND_NAME",
        "STRENGTH",
        "RATE",
        "ACUITY",
        "TEST_NAME",
        "TEST_VALUE",
        "TEST_UNITS",
        "PROCEDURE_NAME",
        "TREATMENT_NAME",
        "DATE",
        "AGE",
        "CONTACT_POINT",
        "EMAIL",
        "IDENTIFIER",
        "URL",
        "ADDRESS",
        "PROFESSION",
        "SYSTEM_ORGAN_SITE",
        "DIRECTION",
        "QUALITY",
        "QUANTITY"
      ]
    },
    "EntityType":{
      "type":"string",
      "enum":[
        "MEDICATION",
        "MEDICAL_CONDITION",
        "PROTECTED_HEALTH_INFORMATION",
        "TEST_TREATMENT_PROCEDURE",
        "ANATOMY"
      ]
    },
    "Float":{"type":"float"},
    "IamRoleArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+"
    },
    "InputDataConfig":{
      "type":"structure",
      "required":["S3Bucket"],
      "members":{
        "S3Bucket":{"shape":"S3Bucket"},
        "S3Key":{"shape":"S3Key"}
      }
    },
    "Integer":{"type":"integer"},
    "InternalServerException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true,
      "fault":true
    },
    "InvalidEncodingException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidRequestException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "JobId":{
      "type":"string",
      "max":32,
      "min":1,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
    },
    "JobName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
    },
    "JobStatus":{
      "type":"string",
      "enum":[
        "SUBMITTED",
        "IN_PROGRESS",
        "COMPLETED",
        "PARTIAL_SUCCESS",
        "FAILED",
        "STOP_REQUESTED",
        "STOPPED"
      ]
    },
    "KMSKey":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":".*"
    },
    "LanguageCode":{
      "type":"string",
      "enum":["en"]
    },
    "ListEntitiesDetectionV2JobsRequest":{
      "type":"structure",
      "members":{
        "Filter":{"shape":"ComprehendMedicalAsyncJobFilter"},
        "NextToken":{"shape":"String"},
        "MaxResults":{"shape":"MaxResultsInteger"}
      }
    },
    "ListEntitiesDetectionV2JobsResponse":{
      "type":"structure",
      "members":{
        "ComprehendMedicalAsyncJobPropertiesList":{"shape":"ComprehendMedicalAsyncJobPropertiesList"},
        "NextToken":{"shape":"String"}
      }
    },
    "ListPHIDetectionJobsRequest":{
      "type":"structure",
      "members":{
        "Filter":{"shape":"ComprehendMedicalAsyncJobFilter"},
        "NextToken":{"shape":"String"},
        "MaxResults":{"shape":"MaxResultsInteger"}
      }
    },
    "ListPHIDetectionJobsResponse":{
      "type":"structure",
      "members":{
        "ComprehendMedicalAsyncJobPropertiesList":{"shape":"ComprehendMedicalAsyncJobPropertiesList"},
        "NextToken":{"shape":"String"}
      }
    },
    "ManifestFilePath":{
      "type":"string",
      "max":4096,
      "min":1
    },
    "MaxResultsInteger":{
      "type":"integer",
      "max":500,
      "min":1
    },
    "ModelVersion":{"type":"string"},
    "OutputDataConfig":{
      "type":"structure",
      "required":["S3Bucket"],
      "members":{
        "S3Bucket":{"shape":"S3Bucket"},
        "S3Key":{"shape":"S3Key"}
      }
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "S3Bucket":{
      "type":"string",
      "max":63,
      "min":3,
      "pattern":"^[0-9a-z\\.\\-_]*(?!\\.)$"
    },
    "S3Key":{
      "type":"string",
      "max":1024,
      "pattern":".*"
    },
    "ServiceUnavailableException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "StartEntitiesDetectionV2JobRequest":{
      "type":"structure",
      "required":[
        "InputDataConfig",
        "OutputDataConfig",
        "DataAccessRoleArn",
        "LanguageCode"
      ],
      "members":{
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "DataAccessRoleArn":{"shape":"IamRoleArn"},
        "JobName":{"shape":"JobName"},
        "ClientRequestToken":{
          "shape":"ClientRequestTokenString",
          "idempotencyToken":true
        },
        "KMSKey":{"shape":"KMSKey"},
        "LanguageCode":{"shape":"LanguageCode"}
      }
    },
    "StartEntitiesDetectionV2JobResponse":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "StartPHIDetectionJobRequest":{
      "type":"structure",
      "required":[
        "InputDataConfig",
        "OutputDataConfig",
        "DataAccessRoleArn",
        "LanguageCode"
      ],
      "members":{
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "DataAccessRoleArn":{"shape":"IamRoleArn"},
        "JobName":{"shape":"JobName"},
        "ClientRequestToken":{
          "shape":"ClientRequestTokenString",
          "idempotencyToken":true
        },
        "KMSKey":{"shape":"KMSKey"},
        "LanguageCode":{"shape":"LanguageCode"}
      }
    },
    "StartPHIDetectionJobResponse":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "StopEntitiesDetectionV2JobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "StopEntitiesDetectionV2JobResponse":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "StopPHIDetectionJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "StopPHIDetectionJobResponse":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "String":{
      "type":"string",
      "min":1
    },
    "TextSizeLimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "Timestamp":{"type":"timestamp"},
    "TooManyRequestsException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "Trait":{
      "type":"structure",
      "members":{
        "Name":{"shape":"AttributeName"},
        "Score":{"shape":"Float"}
      }
    },
    "TraitList":{
      "type":"list",
      "member":{"shape":"Trait"}
    },
    "UnmappedAttribute":{
      "type":"structure",
      "members":{
        "Type":{"shape":"EntityType"},
        "Attribute":{"shape":"Attribute"}
      }
    },
    "UnmappedAttributeList":{
      "type":"list",
      "member":{"shape":"UnmappedAttribute"}
    },
    "ValidationException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    }
  }
}
