{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-04-01",
    "endpointPrefix":"quicksight",
    "jsonVersion":"1.0",
    "protocol":"rest-json",
    "serviceFullName":"Amazon QuickSight",
    "serviceId":"QuickSight",
    "signatureVersion":"v4",
    "uid":"quicksight-2018-04-01"
  },
  "operations":{
    "CancelIngestion":{
      "name":"CancelIngestion",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input":{"shape":"CancelIngestionRequest"},
      "output":{"shape":"CancelIngestionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateDashboard":{
      "name":"CreateDashboard",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"CreateDashboardRequest"},
      "output":{"shape":"CreateDashboardResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateDataSet":{
      "name":"CreateDataSet",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sets"
      },
      "input":{"shape":"CreateDataSetRequest"},
      "output":{"shape":"CreateDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateDataSource":{
      "name":"CreateDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sources"
      },
      "input":{"shape":"CreateDataSourceRequest"},
      "output":{"shape":"CreateDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateGroup":{
      "name":"CreateGroup",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
      },
      "input":{"shape":"CreateGroupRequest"},
      "output":{"shape":"CreateGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "CreateGroupMembership":{
      "name":"CreateGroupMembership",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input":{"shape":"CreateGroupMembershipRequest"},
      "output":{"shape":"CreateGroupMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "CreateIAMPolicyAssignment":{
      "name":"CreateIAMPolicyAssignment",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/"
      },
      "input":{"shape":"CreateIAMPolicyAssignmentRequest"},
      "output":{"shape":"CreateIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateIngestion":{
      "name":"CreateIngestion",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input":{"shape":"CreateIngestionRequest"},
      "output":{"shape":"CreateIngestionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateTemplate":{
      "name":"CreateTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"CreateTemplateRequest"},
      "output":{"shape":"CreateTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateTemplateAlias":{
      "name":"CreateTemplateAlias",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"CreateTemplateAliasRequest"},
      "output":{"shape":"CreateTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteDashboard":{
      "name":"DeleteDashboard",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"DeleteDashboardRequest"},
      "output":{"shape":"DeleteDashboardResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteDataSet":{
      "name":"DeleteDataSet",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input":{"shape":"DeleteDataSetRequest"},
      "output":{"shape":"DeleteDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteDataSource":{
      "name":"DeleteDataSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input":{"shape":"DeleteDataSourceRequest"},
      "output":{"shape":"DeleteDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteGroup":{
      "name":"DeleteGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input":{"shape":"DeleteGroupRequest"},
      "output":{"shape":"DeleteGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteGroupMembership":{
      "name":"DeleteGroupMembership",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input":{"shape":"DeleteGroupMembershipRequest"},
      "output":{"shape":"DeleteGroupMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteIAMPolicyAssignment":{
      "name":"DeleteIAMPolicyAssignment",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespace/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input":{"shape":"DeleteIAMPolicyAssignmentRequest"},
      "output":{"shape":"DeleteIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteTemplate":{
      "name":"DeleteTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"DeleteTemplateRequest"},
      "output":{"shape":"DeleteTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteTemplateAlias":{
      "name":"DeleteTemplateAlias",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"DeleteTemplateAliasRequest"},
      "output":{"shape":"DeleteTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input":{"shape":"DeleteUserRequest"},
      "output":{"shape":"DeleteUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteUserByPrincipalId":{
      "name":"DeleteUserByPrincipalId",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/user-principals/{PrincipalId}"
      },
      "input":{"shape":"DeleteUserByPrincipalIdRequest"},
      "output":{"shape":"DeleteUserByPrincipalIdResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeDashboard":{
      "name":"DescribeDashboard",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"DescribeDashboardRequest"},
      "output":{"shape":"DescribeDashboardResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDashboardPermissions":{
      "name":"DescribeDashboardPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/permissions"
      },
      "input":{"shape":"DescribeDashboardPermissionsRequest"},
      "output":{"shape":"DescribeDashboardPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDataSet":{
      "name":"DescribeDataSet",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input":{"shape":"DescribeDataSetRequest"},
      "output":{"shape":"DescribeDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDataSetPermissions":{
      "name":"DescribeDataSetPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/permissions"
      },
      "input":{"shape":"DescribeDataSetPermissionsRequest"},
      "output":{"shape":"DescribeDataSetPermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDataSource":{
      "name":"DescribeDataSource",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input":{"shape":"DescribeDataSourceRequest"},
      "output":{"shape":"DescribeDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDataSourcePermissions":{
      "name":"DescribeDataSourcePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}/permissions"
      },
      "input":{"shape":"DescribeDataSourcePermissionsRequest"},
      "output":{"shape":"DescribeDataSourcePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeGroup":{
      "name":"DescribeGroup",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input":{"shape":"DescribeGroupRequest"},
      "output":{"shape":"DescribeGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeIAMPolicyAssignment":{
      "name":"DescribeIAMPolicyAssignment",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input":{"shape":"DescribeIAMPolicyAssignmentRequest"},
      "output":{"shape":"DescribeIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeIngestion":{
      "name":"DescribeIngestion",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input":{"shape":"DescribeIngestionRequest"},
      "output":{"shape":"DescribeIngestionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeTemplate":{
      "name":"DescribeTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"DescribeTemplateRequest"},
      "output":{"shape":"DescribeTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeTemplateAlias":{
      "name":"DescribeTemplateAlias",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"DescribeTemplateAliasRequest"},
      "output":{"shape":"DescribeTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeTemplatePermissions":{
      "name":"DescribeTemplatePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/permissions"
      },
      "input":{"shape":"DescribeTemplatePermissionsRequest"},
      "output":{"shape":"DescribeTemplatePermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeUser":{
      "name":"DescribeUser",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input":{"shape":"DescribeUserRequest"},
      "output":{"shape":"DescribeUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "GetDashboardEmbedUrl":{
      "name":"GetDashboardEmbedUrl",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/embed-url"
      },
      "input":{"shape":"GetDashboardEmbedUrlRequest"},
      "output":{"shape":"GetDashboardEmbedUrlResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"DomainNotWhitelistedException"},
        {"shape":"QuickSightUserNotFoundException"},
        {"shape":"IdentityTypeNotSupportedException"},
        {"shape":"SessionLifetimeInMinutesInvalidException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListDashboardVersions":{
      "name":"ListDashboardVersions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/versions"
      },
      "input":{"shape":"ListDashboardVersionsRequest"},
      "output":{"shape":"ListDashboardVersionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListDashboards":{
      "name":"ListDashboards",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards"
      },
      "input":{"shape":"ListDashboardsRequest"},
      "output":{"shape":"ListDashboardsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListDataSets":{
      "name":"ListDataSets",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets"
      },
      "input":{"shape":"ListDataSetsRequest"},
      "output":{"shape":"ListDataSetsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListDataSources":{
      "name":"ListDataSources",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sources"
      },
      "input":{"shape":"ListDataSourcesRequest"},
      "output":{"shape":"ListDataSourcesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListGroupMemberships":{
      "name":"ListGroupMemberships",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members"
      },
      "input":{"shape":"ListGroupMembershipsRequest"},
      "output":{"shape":"ListGroupMembershipsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "ListGroups":{
      "name":"ListGroups",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
      },
      "input":{"shape":"ListGroupsRequest"},
      "output":{"shape":"ListGroupsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "ListIAMPolicyAssignments":{
      "name":"ListIAMPolicyAssignments",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments"
      },
      "input":{"shape":"ListIAMPolicyAssignmentsRequest"},
      "output":{"shape":"ListIAMPolicyAssignmentsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListIAMPolicyAssignmentsForUser":{
      "name":"ListIAMPolicyAssignmentsForUser",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}/iam-policy-assignments"
      },
      "input":{"shape":"ListIAMPolicyAssignmentsForUserRequest"},
      "output":{"shape":"ListIAMPolicyAssignmentsForUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListIngestions":{
      "name":"ListIngestions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions"
      },
      "input":{"shape":"ListIngestionsRequest"},
      "output":{"shape":"ListIngestionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/resources/{ResourceArn}/tags"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListTemplateAliases":{
      "name":"ListTemplateAliases",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases"
      },
      "input":{"shape":"ListTemplateAliasesRequest"},
      "output":{"shape":"ListTemplateAliasesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListTemplateVersions":{
      "name":"ListTemplateVersions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/versions"
      },
      "input":{"shape":"ListTemplateVersionsRequest"},
      "output":{"shape":"ListTemplateVersionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListTemplates":{
      "name":"ListTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates"
      },
      "input":{"shape":"ListTemplatesRequest"},
      "output":{"shape":"ListTemplatesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListUserGroups":{
      "name":"ListUserGroups",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}/groups"
      },
      "input":{"shape":"ListUserGroupsRequest"},
      "output":{"shape":"ListUserGroupsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "ListUsers":{
      "name":"ListUsers",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users"
      },
      "input":{"shape":"ListUsersRequest"},
      "output":{"shape":"ListUsersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "RegisterUser":{
      "name":"RegisterUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users"
      },
      "input":{"shape":"RegisterUserRequest"},
      "output":{"shape":"RegisterUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/resources/{ResourceArn}/tags"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/resources/{ResourceArn}/tags"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDashboard":{
      "name":"UpdateDashboard",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"UpdateDashboardRequest"},
      "output":{"shape":"UpdateDashboardResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDashboardPermissions":{
      "name":"UpdateDashboardPermissions",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/permissions"
      },
      "input":{"shape":"UpdateDashboardPermissionsRequest"},
      "output":{"shape":"UpdateDashboardPermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDashboardPublishedVersion":{
      "name":"UpdateDashboardPublishedVersion",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/versions/{VersionNumber}"
      },
      "input":{"shape":"UpdateDashboardPublishedVersionRequest"},
      "output":{"shape":"UpdateDashboardPublishedVersionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDataSet":{
      "name":"UpdateDataSet",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input":{"shape":"UpdateDataSetRequest"},
      "output":{"shape":"UpdateDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDataSetPermissions":{
      "name":"UpdateDataSetPermissions",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/permissions"
      },
      "input":{"shape":"UpdateDataSetPermissionsRequest"},
      "output":{"shape":"UpdateDataSetPermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDataSource":{
      "name":"UpdateDataSource",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input":{"shape":"UpdateDataSourceRequest"},
      "output":{"shape":"UpdateDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDataSourcePermissions":{
      "name":"UpdateDataSourcePermissions",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}/permissions"
      },
      "input":{"shape":"UpdateDataSourcePermissionsRequest"},
      "output":{"shape":"UpdateDataSourcePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateGroup":{
      "name":"UpdateGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input":{"shape":"UpdateGroupRequest"},
      "output":{"shape":"UpdateGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "UpdateIAMPolicyAssignment":{
      "name":"UpdateIAMPolicyAssignment",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input":{"shape":"UpdateIAMPolicyAssignmentRequest"},
      "output":{"shape":"UpdateIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateTemplate":{
      "name":"UpdateTemplate",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"UpdateTemplateRequest"},
      "output":{"shape":"UpdateTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateTemplateAlias":{
      "name":"UpdateTemplateAlias",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"UpdateTemplateAliasRequest"},
      "output":{"shape":"UpdateTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateTemplatePermissions":{
      "name":"UpdateTemplatePermissions",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/permissions"
      },
      "input":{"shape":"UpdateTemplatePermissionsRequest"},
      "output":{"shape":"UpdateTemplatePermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateUser":{
      "name":"UpdateUser",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input":{"shape":"UpdateUserRequest"},
      "output":{"shape":"UpdateUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "RequestId":{"shape":"String"}
      },
      "error":{"httpStatusCode":401},
      "exception":true
    },
    "ActionList":{
      "type":"list",
      "member":{"shape":"String"},
      "max":16,
      "min":1
    },
    "ActiveIAMPolicyAssignment":{
      "type":"structure",
      "members":{
        "AssignmentName":{"shape":"IAMPolicyAssignmentName"},
        "PolicyArn":{"shape":"Arn"}
      }
    },
    "ActiveIAMPolicyAssignmentList":{
      "type":"list",
      "member":{"shape":"ActiveIAMPolicyAssignment"}
    },
    "AdHocFilteringOption":{
      "type":"structure",
      "members":{
        "AvailabilityStatus":{"shape":"DashboardBehavior"}
      }
    },
    "AliasName":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"[\\w\\-]+|(\\$LATEST)|(\\$PUBLISHED)"
    },
    "AmazonElasticsearchParameters":{
      "type":"structure",
      "required":["Domain"],
      "members":{
        "Domain":{"shape":"Domain"}
      }
    },
    "Arn":{"type":"string"},
    "AssignmentStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DRAFT",
        "DISABLED"
      ]
    },
    "AthenaParameters":{
      "type":"structure",
      "members":{
        "WorkGroup":{"shape":"WorkGroup"}
      }
    },
    "AuroraParameters":{
      "type":"structure",
      "required":[
        "Host",
        "Port",
        "Database"
      ],
      "members":{
        "Host":{"shape":"Host"},
        "Port":{"shape":"Port"},
        "Database":{"shape":"Database"}
      }
    },
    "AuroraPostgreSqlParameters":{
      "type":"structure",
      "required":[
        "Host",
        "Port",
        "Database"
      ],
      "members":{
        "Host":{"shape":"Host"},
        "Port":{"shape":"Port"},
        "Database":{"shape":"Database"}
      }
    },
    "AwsAccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"^[0-9]{12}$"
    },
    "AwsIotAnalyticsParameters":{
      "type":"structure",
      "required":["DataSetName"],
      "members":{
        "DataSetName":{"shape":"DataSetName"}
      }
    },
    "Boolean":{"type":"boolean"},
    "CalculatedColumn":{
      "type":"structure",
      "required":[
        "ColumnName",
        "ColumnId",
        "Expression"
      ],
      "members":{
        "ColumnName":{"shape":"ColumnName"},
        "ColumnId":{"shape":"ColumnId"},
        "Expression":{"shape":"Expression"}
      }
    },
    "CalculatedColumnList":{
      "type":"list",
      "member":{"shape":"CalculatedColumn"},
      "max":128,
      "min":1
    },
    "CancelIngestionRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "DataSetId",
        "IngestionId"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "DataSetId":{
          "shape":"string",
          "location":"uri",
          "locationName":"DataSetId"
        },
        "IngestionId":{
          "shape":"IngestionId",
          "location":"uri",
          "locationName":"IngestionId"
        }
      }
    },
    "CancelIngestionResponse":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "IngestionId":{"shape":"IngestionId"},
        "RequestId":{"shape":"string"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "CastColumnTypeOperation":{
      "type":"structure",
      "required":[
        "ColumnName",
        "NewColumnType"
      ],
      "members":{
        "ColumnName":{"shape":"ColumnName"},
        "NewColumnType":{"shape":"ColumnDataType"},
        "Format":{"shape":"TypeCastFormat"}
      }
    },
    "Catalog":{
      "type":"string",
      "max":128
    },
    "ClusterId":{
      "type":"string",
      "max":64,
      "min":1
    },
    "ColumnDataType":{
      "type":"string",
      "enum":[
        "STRING",
        "INTEGER",
        "DECIMAL",
        "DATETIME"
      ]
    },
    "ColumnGroup":{
      "type":"structure",
      "members":{
        "GeoSpatialColumnGroup":{"shape":"GeoSpatialColumnGroup"}
      }
    },
    "ColumnGroupColumnSchema":{
      "type":"structure",
      "members":{
        "Name":{"shape":"String"}
      }
    },
    "ColumnGroupColumnSchemaList":{
      "type":"list",
      "member":{"shape":"ColumnGroupColumnSchema"},
      "max":500
    },
    "ColumnGroupList":{
      "type":"list",
      "member":{"shape":"ColumnGroup"},
      "max":8,
      "min":1
    },
    "ColumnGroupName":{
      "type":"string",
      "max":64,
      "min":1
    },
    "ColumnGroupSchema":{
      "type":"structure",
      "members":{
        "Name":{"shape":"String"},
        "ColumnGroupColumnSchemaList":{"shape":"ColumnGroupColumnSchemaList"}
      }
    },
    "ColumnGroupSchemaList":{
      "type":"list",
      "member":{"shape":"ColumnGroupSchema"},
      "max":500
    },
    "ColumnId":{
      "type":"string",
      "max":64,
      "min":1
    },
    "ColumnList":{
      "type":"list",
      "member":{"shape":"ColumnName"},
      "max":16,
      "min":1
    },
    "ColumnName":{
      "type":"string",
      "max":128,
      "min":1
    },
    "ColumnSchema":{
      "type":"structure",
      "members":{
        "Name":{"shape":"String"},
        "DataType":{"shape":"String"},
        "GeographicRole":{"shape":"String"}
      }
    },
    "ColumnSchemaList":{
      "type":"list",
      "member":{"shape":"ColumnSchema"},
      "max":500
    },
    "ColumnTag":{
      "type":"structure",
      "members":{
        "ColumnGeographicRole":{"shape":"GeoSpatialDataRole"}
      }
    },
    "ColumnTagList":{
      "type":"list",
      "member":{"shape":"ColumnTag"},
      "max":16,
      "min":1
    },
    "ConcurrentUpdatingException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "RequestId":{"shape":"String"}
      },
      "error":{"httpStatusCode":500},
      "exception":true
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "RequestId":{"shape":"String"}
      },
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "CreateColumnsOperation":{
      "type":"structure",
      "required":["Columns"],
      "members":{
        "Columns":{"shape":"CalculatedColumnList"}
      }
    },
    "CreateDashboardRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "DashboardId",
        "Name",
        "SourceEntity"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "DashboardId":{
          "shape":"RestrictiveResourceId",
          "location":"uri",
          "locationName":"DashboardId"
        },
        "Name":{"shape":"DashboardName"},
        "Parameters":{"shape":"Parameters"},
        "Permissions":{"shape":"ResourcePermissionList"},
        "SourceEntity":{"shape":"DashboardSourceEntity"},
        "Tags":{"shape":"TagList"},
        "VersionDescription":{"shape":"VersionDescription"},
        "DashboardPublishOptions":{"shape":"DashboardPublishOptions"}
      }
    },
    "CreateDashboardResponse":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "VersionArn":{"shape":"Arn"},
        "DashboardId":{"shape":"RestrictiveResourceId"},
        "CreationStatus":{"shape":"ResourceStatus"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        },
        "RequestId":{"shape":"String"}
      }
    },
    "CreateDataSetRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "DataSetId",
        "Name",
        "PhysicalTableMap",
        "ImportMode"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "DataSetId":{"shape":"ResourceId"},
        "Name":{"shape":"ResourceName"},
        "PhysicalTableMap":{"shape":"PhysicalTableMap"},
        "LogicalTableMap":{"shape":"LogicalTableMap"},
        "ImportMode":{"shape":"DataSetImportMode"},
        "ColumnGroups":{"shape":"ColumnGroupList"},
        "Permissions":{"shape":"ResourcePermissionList"},
        "RowLevelPermissionDataSet":{"shape":"RowLevelPermissionDataSet"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateDataSetResponse":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "DataSetId":{"shape":"ResourceId"},
        "IngestionArn":{"shape":"Arn"},
        "IngestionId":{"shape":"ResourceId"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "CreateDataSourceRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "DataSourceId",
        "Name",
        "Type"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "DataSourceId":{"shape":"ResourceId"},
        "Name":{"shape":"ResourceName"},
        "Type":{"shape":"DataSourceType"},
        "DataSourceParameters":{"shape":"DataSourceParameters"},
        "Credentials":{"shape":"DataSourceCredentials"},
        "Permissions":{"shape":"ResourcePermissionList"},
        "VpcConnectionProperties":{"shape":"VpcConnectionProperties"},
        "SslProperties":{"shape":"SslProperties"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateDataSourceResponse":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "DataSourceId":{"shape":"ResourceId"},
        "CreationStatus":{"shape":"ResourceStatus"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "CreateGroupMembershipRequest":{
      "type":"structure",
      "required":[
        "MemberName",
        "GroupName",
        "AwsAccountId",
        "Namespace"
      ],
      "members":{
        "MemberName":{
          "shape":"GroupMemberName",
          "location":"uri",
          "locationName":"MemberName"
        },
        "GroupName":{
          "shape":"GroupName",
          "location":"uri",
          "locationName":"GroupName"
        },
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "Namespace":{
          "shape":"Namespace",
          "location":"uri",
          "locationName":"Namespace"
        }
      }
    },
    "CreateGroupMembershipResponse":{
      "type":"structure",
      "members":{
        "GroupMember":{"shape":"GroupMember"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "CreateGroupRequest":{
      "type":"structure",
      "required":[
        "GroupName",
        "AwsAccountId",
        "Namespace"
      ],
      "members":{
        "GroupName":{"shape":"GroupName"},
        "Description":{"shape":"GroupDescription"},
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "Namespace":{
          "shape":"Namespace",
          "location":"uri",
          "locationName":"Namespace"
        }
      }
    },
    "CreateGroupResponse":{
      "type":"structure",
      "members":{
        "Group":{"shape":"Group"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "CreateIAMPolicyAssignmentRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "AssignmentName",
        "AssignmentStatus",
        "Namespace"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "AssignmentName":{"shape":"IAMPolicyAssignmentName"},
        "AssignmentStatus":{"shape":"AssignmentStatus"},
        "PolicyArn":{"shape":"Arn"},
        "Identities":{"shape":"IdentityMap"},
        "Namespace":{
          "shape":"Namespace",
          "location":"uri",
          "locationName":"Namespace"
        }
      }
    },
    "CreateIAMPolicyAssignmentResponse":{
      "type":"structure",
      "members":{
        "AssignmentName":{"shape":"IAMPolicyAssignmentName"},
        "AssignmentId":{"shape":"String"},
        "AssignmentStatus":{"shape":"AssignmentStatus"},
        "PolicyArn":{"shape":"Arn"},
        "Identities":{"shape":"IdentityMap"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "CreateIngestionRequest":{
      "type":"structure",
      "required":[
        "DataSetId",
        "IngestionId",
        "AwsAccountId"
      ],
      "members":{
        "DataSetId":{
          "shape":"string",
          "location":"uri",
          "locationName":"DataSetId"
        },
        "IngestionId":{
          "shape":"IngestionId",
          "location":"uri",
          "locationName":"IngestionId"
        },
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        }
      }
    },
    "CreateIngestionResponse":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "IngestionId":{"shape":"IngestionId"},
        "IngestionStatus":{"shape":"IngestionStatus"},
        "RequestId":{"shape":"string"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "CreateTemplateAliasRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "TemplateId",
        "AliasName",
        "TemplateVersionNumber"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "TemplateId":{
          "shape":"RestrictiveResourceId",
          "location":"uri",
          "locationName":"TemplateId"
        },
        "AliasName":{
          "shape":"AliasName",
          "location":"uri",
          "locationName":"AliasName"
        },
        "TemplateVersionNumber":{"shape":"VersionNumber"}
      }
    },
    "CreateTemplateAliasResponse":{
      "type":"structure",
      "members":{
        "TemplateAlias":{"shape":"TemplateAlias"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        },
        "RequestId":{"shape":"String"}
      }
    },
    "CreateTemplateRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "TemplateId",
        "SourceEntity"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "TemplateId":{
          "shape":"RestrictiveResourceId",
          "location":"uri",
          "locationName":"TemplateId"
        },
        "Name":{"shape":"TemplateName"},
        "Permissions":{"shape":"ResourcePermissionList"},
        "SourceEntity":{"shape":"TemplateSourceEntity"},
        "Tags":{"shape":"TagList"},
        "VersionDescription":{"shape":"VersionDescription"}
      }
    },
    "CreateTemplateResponse":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "VersionArn":{"shape":"Arn"},
        "TemplateId":{"shape":"RestrictiveResourceId"},
        "CreationStatus":{"shape":"ResourceStatus"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        },
        "RequestId":{"shape":"String"}
      }
    },
    "CredentialPair":{
      "type":"structure",
      "required":[
        "Username",
        "Password"
      ],
      "members":{
        "Username":{"shape":"Username"},
        "Password":{"shape":"Password"}
      }
    },
    "CustomSql":{
      "type":"structure",
      "required":[
        "DataSourceArn",
        "Name",
        "SqlQuery"
      ],
      "members":{
        "DataSourceArn":{"shape":"Arn"},
        "Name":{"shape":"CustomSqlName"},
        "SqlQuery":{"shape":"SqlQuery"},
        "Columns":{"shape":"InputColumnList"}
      }
    },
    "CustomSqlName":{
      "type":"string",
      "max":64,
      "min":1
    },
    "Dashboard":{
      "type":"structure",
      "members":{
        "DashboardId":{"shape":"RestrictiveResourceId"},
        "Arn":{"shape":"Arn"},
        "Name":{"shape":"DashboardName"},
        "Version":{"shape":"DashboardVersion"},
        "CreatedTime":{"shape":"Timestamp"},
        "LastPublishedTime":{"shape":"Timestamp"},
        "LastUpdatedTime":{"shape":"Timestamp"}
      }
    },
    "DashboardBehavior":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "DashboardError":{
      "type":"structure",
      "members":{
        "Type":{"shape":"DashboardErrorType"},
        "Message":{"shape":"NonEmptyString"}
      }
    },
    "DashboardErrorList":{
      "type":"list",
      "member":{"shape":"DashboardError"},
      "min":1
    },
    "DashboardErrorType":{
      "type":"string",
      "enum":[
        "DATA_SET_NOT_FOUND",
        "INTERNAL_FAILURE",
        "PARAMETER_VALUE_INCOMPATIBLE",
        "PARAMETER_TYPE_INVALID",
        "PARAMETER_NOT_FOUND",
        "COLUMN_TYPE_MISMATCH",
        "COLUMN_GEOGRAPHIC_ROLE_MISMATCH",
        "COLUMN_REPLACEMENT_MISSING"
      ]
    },
    "DashboardName":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"[\\u0020-\\u00FF]+"
    },
    "DashboardPublishOptions":{
      "type":"structure",
      "members":{
        "AdHocFilteringOption":{"shape":"AdHocFilteringOption"},
        "ExportToCSVOption":{"shape":"ExportToCSVOption"},
        "SheetControlsOption":{"shape":"SheetControlsOption"}
      }
    },
    "DashboardSourceEntity":{
      "type":"structure",
      "members":{
        "SourceTemplate":{"shape":"DashboardSourceTemplate"}
      }
    },
    "DashboardSourceTemplate":{
      "type":"structure",
      "required":[
        "DataSetReferences",
        "Arn"
      ],
      "members":{
        "DataSetReferences":{"shape":"DataSetReferenceList"},
        "Arn":{"shape":"Arn"}
      }
    },
    "DashboardSummary":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "DashboardId":{"shape":"RestrictiveResourceId"},
        "Name":{"shape":"DashboardName"},
        "CreatedTime":{"shape":"Timestamp"},
        "LastUpdatedTime":{"shape":"Timestamp"},
        "PublishedVersionNumber":{"shape":"VersionNumber"},
        "LastPublishedTime":{"shape":"Timestamp"}
      }
    },
    "DashboardSummaryList":{
      "type":"list",
      "member":{"shape":"DashboardSummary"},
      "max":100
    },
    "DashboardUIState":{
      "type":"string",
      "enum":[
        "EXPANDED",
        "COLLAPSED"
      ]
    },
    "DashboardVersion":{
      "type":"structure",
      "members":{
        "CreatedTime":{"shape":"Timestamp"},
        "Errors":{"shape":"DashboardErrorList"},
        "VersionNumber":{"shape":"VersionNumber"},
        "Status":{"shape":"ResourceStatus"},
        "Arn":{"shape":"Arn"},
        "SourceEntityArn":{"shape":"Arn"},
        "Description":{"shape":"VersionDescription"}
      }
    },
    "DashboardVersionSummary":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "CreatedTime":{"shape":"Timestamp"},
        "VersionNumber":{"shape":"VersionNumber"},
        "Status":{"shape":"ResourceStatus"},
        "SourceEntityArn":{"shape":"Arn"},
        "Description":{"shape":"VersionDescription"}
      }
    },
    "DashboardVersionSummaryList":{
      "type":"list",
      "member":{"shape":"DashboardVersionSummary"},
      "max":100
    },
    "DataSet":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "DataSetId":{"shape":"ResourceId"},
        "Name":{"shape":"ResourceName"},
        "CreatedTime":{"shape":"Timestamp"},
        "LastUpdatedTime":{"shape":"Timestamp"},
        "PhysicalTableMap":{"shape":"PhysicalTableMap"},
        "LogicalTableMap":{"shape":"LogicalTableMap"},
        "OutputColumns":{"shape":"OutputColumnList"},
        "ImportMode":{"shape":"DataSetImportMode"},
        "ConsumedSpiceCapacityInBytes":{"shape":"Long"},
        "ColumnGroups":{"shape":"ColumnGroupList"},
        "RowLevelPermissionDataSet":{"shape":"RowLevelPermissionDataSet"}
      }
    },
    "DataSetConfiguration":{
      "type":"structure",
      "members":{
        "Placeholder":{"shape":"String"},
        "DataSetSchema":{"shape":"DataSetSchema"},
        "ColumnGroupSchemaList":{"shape":"ColumnGroupSchemaList"}
      }
    },
    "DataSetConfigurationList":{
      "type":"list",
      "member":{"shape":"DataSetConfiguration"},
      "max":30
    },
    "DataSetImportMode":{
      "type":"string",
      "enum":[
        "SPICE",
        "DIRECT_QUERY"
      ]
    },
    "DataSetName":{
      "type":"string",
      "max":128,
      "min":1
    },
    "DataSetReference":{
      "type":"structure",
      "required":[
        "DataSetPlaceholder",
        "DataSetArn"
      ],
      "members":{
        "DataSetPlaceholder":{"shape":"NonEmptyString"},
        "DataSetArn":{"shape":"Arn"}
      }
    },
    "DataSetReferenceList":{
      "type":"list",
      "member":{"shape":"DataSetReference"},
      "min":1
    },
    "DataSetSchema":{
      "type":"structure",
      "members":{
        "ColumnSchemaList":{"shape":"ColumnSchemaList"}
      }
    },
    "DataSetSummary":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "DataSetId":{"shape":"ResourceId"},
        "Name":{"shape":"ResourceName"},
        "CreatedTime":{"shape":"Timestamp"},
        "LastUpdatedTime":{"shape":"Timestamp"},
        "ImportMode":{"shape":"DataSetImportMode"},
        "RowLevelPermissionDataSet":{"shape":"RowLevelPermissionDataSet"}
      }
    },
    "DataSetSummaryList":{
      "type":"list",
      "member":{"shape":"DataSetSummary"}
    },
    "DataSource":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "DataSourceId":{"shape":"ResourceId"},
        "Name":{"shape":"ResourceName"},
        "Type":{"shape":"DataSourceType"},
        "Status":{"shape":"ResourceStatus"},
        "CreatedTime":{"shape":"Timestamp"},
        "LastUpdatedTime":{"shape":"Timestamp"},
        "DataSourceParameters":{"shape":"DataSourceParameters"},
        "VpcConnectionProperties":{"shape":"VpcConnectionProperties"},
        "SslProperties":{"shape":"SslProperties"},
        "ErrorInfo":{"shape":"DataSourceErrorInfo"}
      }
    },
    "DataSourceCredentials":{
      "type":"structure",
      "members":{
        "CredentialPair":{"shape":"CredentialPair"}
      },
      "sensitive":true
    },
    "DataSourceErrorInfo":{
      "type":"structure",
      "members":{
        "Type":{"shape":"DataSourceErrorInfoType"},
        "Message":{"shape":"String"}
      }
    },
    "DataSourceErrorInfoType":{
      "type":"string",
      "enum":[
        "TIMEOUT",
        "ENGINE_VERSION_NOT_SUPPORTED",
        "UNKNOWN_HOST",
        "GENERIC_SQL_FAILURE",
        "CONFLICT",
        "UNKNOWN"
      ]
    },
    "DataSourceList":{
      "type":"list",
      "member":{"shape":"DataSource"}
    },
    "DataSourceParameters":{
      "type":"structure",
      "members":{
        "AmazonElasticsearchParameters":{"shape":"AmazonElasticsearchParameters"},
        "AthenaParameters":{"shape":"AthenaParameters"},
        "AuroraParameters":{"shape":"AuroraParameters"},
        "AuroraPostgreSqlParameters":{"shape":"AuroraPostgreSqlParameters"},
        "AwsIotAnalyticsParameters":{"shape":"AwsIotAnalyticsParameters"},
        "JiraParameters":{"shape":"JiraParameters"},
        "MariaDbParameters":{"shape":"MariaDbParameters"},
        "MySqlParameters":{"shape":"MySqlParameters"},
        "PostgreSqlParameters":{"shape":"PostgreSqlParameters"},
        "PrestoParameters":{"shape":"PrestoParameters"},
        "RdsParameters":{"shape":"RdsParameters"},
        "RedshiftParameters":{"shape":"RedshiftParameters"},
        "S3Parameters":{"shape":"S3Parameters"},
        "ServiceNowParameters":{"shape":"ServiceNowParameters"},
        "SnowflakeParameters":{"shape":"SnowflakeParameters"},
        "SparkParameters":{"shape":"SparkParameters"},
        "SqlServerParameters":{"shape":"SqlServerParameters"},
        "TeradataParameters":{"shape":"TeradataParameters"},
        "TwitterParameters":{"shape":"TwitterParameters"}
      }
    },
    "DataSourceType":{
      "type":"string",
      "enum":[
        "ADOBE_ANALYTICS",
        "AMAZON_ELASTICSEARCH",
        "ATHENA",
        "AURORA",
        "AURORA_POSTGRESQL",
        "AWS_IOT_ANALYTICS",
        "GITHUB",
        "JIRA",
        "MARIADB",
        "MYSQL",
        "POSTGRESQL",
        "PRESTO",
        "REDSHIFT",
        "S3",
        "SALESFORCE",
        "SERVICENOW",
        "SNOWFLAKE",
        "SPARK",
        "SQLSERVER",
        "TERADATA",
        "TWITTER"
      ]
    },
    "Database":{
      "type":"string",
      "max":128,
      "min":1
    },
    "DateTimeParameter":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{"shape":"NonEmptyString"},
        "Values":{"shape":"TimestampList"}
      }
    },
    "DateTimeParameterList":{
      "type":"list",
      "member":{"shape":"DateTimeParameter"},
      "max":100
    },
    "DecimalParameter":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{"shape":"NonEmptyString"},
        "Values":{"shape":"DoubleList"}
      }
    },
    "DecimalParameterList":{
      "type":"list",
      "member":{"shape":"DecimalParameter"},
      "max":100
    },
    "DeleteDashboardRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "DashboardId"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "DashboardId":{
          "shape":"RestrictiveResourceId",
          "location":"uri",
          "locationName":"DashboardId"
        },
        "VersionNumber":{
          "shape":"VersionNumber",
          "location":"querystring",
          "locationName":"version-number"
        }
      }
    },
    "DeleteDashboardResponse":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        },
        "Arn":{"shape":"Arn"},
        "DashboardId":{"shape":"RestrictiveResourceId"},
        "RequestId":{"shape":"String"}
      }
    },
    "DeleteDataSetRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "DataSetId"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "DataSetId":{
          "shape":"ResourceId",
          "location":"uri",
          "locationName":"DataSetId"
        }
      }
    },
    "DeleteDataSetResponse":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "DataSetId":{"shape":"ResourceId"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "DeleteDataSourceRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "DataSourceId"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "DataSourceId":{
          "shape":"ResourceId",
          "location":"uri",
          "locationName":"DataSourceId"
        }
      }
    },
    "DeleteDataSourceResponse":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "DataSourceId":{"shape":"ResourceId"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "DeleteGroupMembershipRequest":{
      "type":"structure",
      "required":[
        "MemberName",
        "GroupName",
        "AwsAccountId",
        "Namespace"
      ],
      "members":{
        "MemberName":{
          "shape":"GroupMemberName",
          "location":"uri",
          "locationName":"MemberName"
        },
        "GroupName":{
          "shape":"GroupName",
          "location":"uri",
          "locationName":"GroupName"
        },
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "Namespace":{
          "shape":"Namespace",
          "location":"uri",
          "locationName":"Namespace"
        }
      }
    },
    "DeleteGroupMembershipResponse":{
      "type":"structure",
      "members":{
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "DeleteGroupRequest":{
      "type":"structure",
      "required":[
        "GroupName",
        "AwsAccountId",
        "Namespace"
      ],
      "members":{
        "GroupName":{
          "shape":"GroupName",
          "location":"uri",
          "locationName":"GroupName"
        },
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "Namespace":{
          "shape":"Namespace",
          "location":"uri",
          "locationName":"Namespace"
        }
      }
    },
    "DeleteGroupResponse":{
      "type":"structure",
      "members":{
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "DeleteIAMPolicyAssignmentRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "AssignmentName",
        "Namespace"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "AssignmentName":{
          "shape":"IAMPolicyAssignmentName",
          "location":"uri",
          "locationName":"AssignmentName"
        },
        "Namespace":{
          "shape":"Namespace",
          "location":"uri",
          "locationName":"Namespace"
        }
      }
    },
    "DeleteIAMPolicyAssignmentResponse":{
      "type":"structure",
      "members":{
        "AssignmentName":{"shape":"IAMPolicyAssignmentName"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "DeleteTemplateAliasRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "TemplateId",
        "AliasName"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "TemplateId":{
          "shape":"RestrictiveResourceId",
          "location":"uri",
          "locationName":"TemplateId"
        },
        "AliasName":{
          "shape":"AliasName",
          "location":"uri",
          "locationName":"AliasName"
        }
      }
    },
    "DeleteTemplateAliasResponse":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        },
        "TemplateId":{"shape":"RestrictiveResourceId"},
        "AliasName":{"shape":"AliasName"},
        "Arn":{"shape":"Arn"},
        "RequestId":{"shape":"String"}
      }
    },
    "DeleteTemplateRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "TemplateId"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "TemplateId":{
          "shape":"RestrictiveResourceId",
          "location":"uri",
          "locationName":"TemplateId"
        },
        "VersionNumber":{
          "shape":"VersionNumber",
          "location":"querystring",
          "locationName":"version-number"
        }
      }
    },
    "DeleteTemplateResponse":{
      "type":"structure",
      "members":{
        "RequestId":{"shape":"String"},
        "Arn":{"shape":"Arn"},
        "TemplateId":{"shape":"RestrictiveResourceId"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "DeleteUserByPrincipalIdRequest":{
      "type":"structure",
      "required":[
        "PrincipalId",
        "AwsAccountId",
        "Namespace"
      ],
      "members":{
        "PrincipalId":{
          "shape":"String",
          "location":"uri",
          "locationName":"PrincipalId"
        },
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "Namespace":{
          "shape":"Namespace",
          "location":"uri",
          "locationName":"Namespace"
        }
      }
    },
    "DeleteUserByPrincipalIdResponse":{
      "type":"structure",
      "members":{
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "DeleteUserRequest":{
      "type":"structure",
      "required":[
        "UserName",
        "AwsAccountId",
        "Namespace"
      ],
      "members":{
        "UserName":{
          "shape":"UserName",
          "location":"uri",
          "locationName":"UserName"
        },
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "Namespace":{
          "shape":"Namespace",
          "location":"uri",
          "locationName":"Namespace"
        }
      }
    },
    "DeleteUserResponse":{
      "type":"structure",
      "members":{
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "Delimiter":{
      "type":"string",
      "max":1,
      "min":1
    },
    "DescribeDashboardPermissionsRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "DashboardId"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "DashboardId":{
          "shape":"RestrictiveResourceId",
          "location":"uri",
          "locationName":"DashboardId"
        }
      }
    },
    "DescribeDashboardPermissionsResponse":{
      "type":"structure",
      "members":{
        "DashboardId":{"shape":"RestrictiveResourceId"},
        "DashboardArn":{"shape":"Arn"},
        "Permissions":{"shape":"ResourcePermissionList"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        },
        "RequestId":{"shape":"String"}
      }
    },
    "DescribeDashboardRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "DashboardId"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "DashboardId":{
          "shape":"RestrictiveResourceId",
          "location":"uri",
          "locationName":"DashboardId"
        },
        "VersionNumber":{
          "shape":"VersionNumber",
          "location":"querystring",
          "locationName":"version-number"
        },
        "AliasName":{
          "shape":"AliasName",
          "location":"querystring",
          "locationName":"alias-name"
        }
      }
    },
    "DescribeDashboardResponse":{
      "type":"structure",
      "members":{
        "Dashboard":{"shape":"Dashboard"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        },
        "RequestId":{"shape":"String"}
      }
    },
    "DescribeDataSetPermissionsRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "DataSetId"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "DataSetId":{
          "shape":"ResourceId",
          "location":"uri",
          "locationName":"DataSetId"
        }
      }
    },
    "DescribeDataSetPermissionsResponse":{
      "type":"structure",
      "members":{
        "DataSetArn":{"shape":"Arn"},
        "DataSetId":{"shape":"ResourceId"},
        "Permissions":{"shape":"ResourcePermissionList"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "DescribeDataSetRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "DataSetId"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "DataSetId":{
          "shape":"ResourceId",
          "location":"uri",
          "locationName":"DataSetId"
        }
      }
    },
    "DescribeDataSetResponse":{
      "type":"structure",
      "members":{
        "DataSet":{"shape":"DataSet"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "DescribeDataSourcePermissionsRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "DataSourceId"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "DataSourceId":{
          "shape":"ResourceId",
          "location":"uri",
          "locationName":"DataSourceId"
        }
      }
    },
    "DescribeDataSourcePermissionsResponse":{
      "type":"structure",
      "members":{
        "DataSourceArn":{"shape":"Arn"},
        "DataSourceId":{"shape":"ResourceId"},
        "Permissions":{"shape":"ResourcePermissionList"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "DescribeDataSourceRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "DataSourceId"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "DataSourceId":{
          "shape":"ResourceId",
          "location":"uri",
          "locationName":"DataSourceId"
        }
      }
    },
    "DescribeDataSourceResponse":{
      "type":"structure",
      "members":{
        "DataSource":{"shape":"DataSource"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "DescribeGroupRequest":{
      "type":"structure",
      "required":[
        "GroupName",
        "AwsAccountId",
        "Namespace"
      ],
      "members":{
        "GroupName":{
          "shape":"GroupName",
          "location":"uri",
          "locationName":"GroupName"
        },
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "Namespace":{
          "shape":"Namespace",
          "location":"uri",
          "locationName":"Namespace"
        }
      }
    },
    "DescribeGroupResponse":{
      "type":"structure",
      "members":{
        "Group":{"shape":"Group"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "DescribeIAMPolicyAssignmentRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "AssignmentName",
        "Namespace"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "AssignmentName":{
          "shape":"IAMPolicyAssignmentName",
          "location":"uri",
          "locationName":"AssignmentName"
        },
        "Namespace":{
          "shape":"Namespace",
          "location":"uri",
          "locationName":"Namespace"
        }
      }
    },
    "DescribeIAMPolicyAssignmentResponse":{
      "type":"structure",
      "members":{
        "IAMPolicyAssignment":{"shape":"IAMPolicyAssignment"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "DescribeIngestionRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "DataSetId",
        "IngestionId"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "DataSetId":{
          "shape":"string",
          "location":"uri",
          "locationName":"DataSetId"
        },
        "IngestionId":{
          "shape":"IngestionId",
          "location":"uri",
          "locationName":"IngestionId"
        }
      }
    },
    "DescribeIngestionResponse":{
      "type":"structure",
      "members":{
        "Ingestion":{"shape":"Ingestion"},
        "RequestId":{"shape":"string"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "DescribeTemplateAliasRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "TemplateId",
        "AliasName"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "TemplateId":{
          "shape":"RestrictiveResourceId",
          "location":"uri",
          "locationName":"TemplateId"
        },
        "AliasName":{
          "shape":"AliasName",
          "location":"uri",
          "locationName":"AliasName"
        }
      }
    },
    "DescribeTemplateAliasResponse":{
      "type":"structure",
      "members":{
        "TemplateAlias":{"shape":"TemplateAlias"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        },
        "RequestId":{"shape":"String"}
      }
    },
    "DescribeTemplatePermissionsRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "TemplateId"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "TemplateId":{
          "shape":"RestrictiveResourceId",
          "location":"uri",
          "locationName":"TemplateId"
        }
      }
    },
    "DescribeTemplatePermissionsResponse":{
      "type":"structure",
      "members":{
        "TemplateId":{"shape":"RestrictiveResourceId"},
        "TemplateArn":{"shape":"Arn"},
        "Permissions":{"shape":"ResourcePermissionList"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "DescribeTemplateRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "TemplateId"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "TemplateId":{
          "shape":"RestrictiveResourceId",
          "location":"uri",
          "locationName":"TemplateId"
        },
        "VersionNumber":{
          "shape":"VersionNumber",
          "location":"querystring",
          "locationName":"version-number"
        },
        "AliasName":{
          "shape":"AliasName",
          "location":"querystring",
          "locationName":"alias-name"
        }
      }
    },
    "DescribeTemplateResponse":{
      "type":"structure",
      "members":{
        "Template":{"shape":"Template"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "DescribeUserRequest":{
      "type":"structure",
      "required":[
        "UserName",
        "AwsAccountId",
        "Namespace"
      ],
      "members":{
        "UserName":{
          "shape":"UserName",
          "location":"uri",
          "locationName":"UserName"
        },
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "Namespace":{
          "shape":"Namespace",
          "location":"uri",
          "locationName":"Namespace"
        }
      }
    },
    "DescribeUserResponse":{
      "type":"structure",
      "members":{
        "User":{"shape":"User"},
        "RequestId":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        }
      }
    },
    "Domain":{
      "type":"string",
      "max":64,
      "min":1
    },
    "DomainNotWhitelistedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "RequestId":{"shape":"String"}
      },
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "Double":{"type":"double"},
    "DoubleList":{
      "type":"list",
      "member":{"shape":"Double"}
    },
    "EmbeddingUrl":{
      "type":"string",
      "sensitive":true
    },
    "ErrorInfo":{
      "type":"structure",
      "members":{
        "Type":{"shape":"IngestionErrorType"},
        "Message":{"shape":"string"}
      }
    },
    "ExceptionResourceType":{
      "type":"string",
      "enum":[
        "USER",
        "GROUP",
        "NAMESPACE",
        "ACCOUNT_SETTINGS",
        "IAMPOLICY_ASSIGNMENT",
        "DATA_SOURCE",
        "DATA_SET",
        "VPC_CONNECTION",
        "INGESTION"
      ]
    },
    "ExportToCSVOption":{
      "type":"structure",
      "members":{
        "AvailabilityStatus":{"shape":"DashboardBehavior"}
      }
    },
    "Expression":{
      "type":"string",
      "max":4096,
      "min":1
    },
    "FileFormat":{
      "type":"string",
      "enum":[
        "CSV",
        "TSV",
        "CLF",
        "ELF",
        "XLSX",
        "JSON"
      ]
    },
    "FilterOperation":{
      "type":"structure",
      "required":["ConditionExpression"],
      "members":{
        "ConditionExpression":{"shape":"Expression"}
      }
    },
    "GeoSpatialColumnGroup":{
      "type":"structure",
      "required":[
        "Name",
        "CountryCode",
        "Columns"
      ],
      "members":{
        "Name":{"shape":"ColumnGroupName"},
        "CountryCode":{"shape":"GeoSpatialCountryCode"},
        "Columns":{"shape":"ColumnList"}
      }
    },
    "GeoSpatialCountryCode":{
      "type":"string",
      "enum":["US"]
    },
    "GeoSpatialDataRole":{
      "type":"string",
      "enum":[
        "COUNTRY",
        "STATE",
        "COUNTY",
        "CITY",
        "POSTCODE",
        "LONGITUDE",
        "LATITUDE"
      ]
    },
    "GetDashboardEmbedUrlRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "DashboardId",
        "IdentityType"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "DashboardId":{
          "shape":"RestrictiveResourceId",
          "location":"uri",
          "locationName":"DashboardId"
        },
        "IdentityType":{
          "shape":"IdentityType",
          "location":"querystring",
          "locationName":"creds-type"
        },
        "SessionLifetimeInMinutes":{
          "shape":"SessionLifetimeInMinutes",
          "location":"querystring",
          "locationName":"session-lifetime"
        },
        "UndoRedoDisabled":{
          "shape":"boolean",
          "location":"querystring",
          "locationName":"undo-redo-disabled"
        },
        "ResetDisabled":{
          "shape":"boolean",
          "location":"querystring",
          "locationName":"reset-disabled"
        },
        "UserArn":{
          "shape":"Arn",
          "location":"querystring",
          "locationName":"user-arn"
        }
      }
    },
    "GetDashboardEmbedUrlResponse":{
      "type":"structure",
      "members":{
        "EmbedUrl":{"shape":"EmbeddingUrl"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        },
        "RequestId":{"shape":"String"}
      }
    },
    "Group":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "GroupName":{"shape":"GroupName"},
        "Description":{"shape":"GroupDescription"},
        "PrincipalId":{"shape":"String"}
      }
    },
    "GroupDescription":{
      "type":"string",
      "max":512,
      "min":1
    },
    "GroupList":{
      "type":"list",
      "member":{"shape":"Group"}
    },
    "GroupMember":{
      "type":"structure",
      "members":{
        "Arn":{"shape":"Arn"},
        "MemberName":{"shape":"GroupMemberName"}
      }
    },
    "GroupMemberList":{
      "type":"list",
      "member":{"shape":"GroupMember"}
    },
    "GroupMemberName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[\\u0020-\\u00FF]+"
    },
    "GroupName":{
      "type":"string",
      "min":1,
      "pattern":"[\\u0020-\\u00FF]+"
    },
    "Host":{
      "type":"string",
      "max":256,
      "min":1
    },
    "IAMPolicyAssignment":{
      "type":"structure",
      "members":{
        "AwsAccountId":{"shape":"AwsAccountId"},
        "AssignmentId":{"shape":"String"},
        "AssignmentName":{"shape":"IAMPolicyAssignmentName"},
        "PolicyArn":{"shape":"Arn"},
        "Identities":{"shape":"IdentityMap"},
        "AssignmentStatus":{"shape":"AssignmentStatus"}
      }
    },
    "IAMPolicyAssignmentName":{
      "type":"string",
      "min":1,
      "pattern":"(?=^.{2,256}$)(?!.*\\s)[0-9a-zA-Z-_.:=+@]*$"
    },
    "IAMPolicyAssignmentSummary":{
      "type":"structure",
      "members":{
        "AssignmentName":{"shape":"IAMPolicyAssignmentName"},
        "AssignmentStatus":{"shape":"AssignmentStatus"}
      }
    },
    "IAMPolicyAssignmentSummaryList":{
      "type":"list",
      "member":{"shape":"IAMPolicyAssignmentSummary"}
    },
    "IdentityMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"IdentityNameList"}
    },
    "IdentityName":{
      "type":"string",
      "min":1,
      "pattern":"[\\u0020-\\u00FF]+"
    },
    "IdentityNameList":{
      "type":"list",
      "member":{"shape":"IdentityName"}
    },
    "IdentityType":{
      "type":"string",
      "enum":[
        "IAM",
        "QUICKSIGHT"
      ]
    },
    "IdentityTypeNotSupportedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "RequestId":{"shape":"String"}
      },
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "Ingestion":{
      "type":"structure",
      "required":[
        "Arn",
        "IngestionStatus",
        "CreatedTime"
      ],
      "members":{
        "Arn":{"shape":"Arn"},
        "IngestionId":{"shape":"IngestionId"},
        "IngestionStatus":{"shape":"IngestionStatus"},
        "ErrorInfo":{"shape":"ErrorInfo"},
        "RowInfo":{"shape":"RowInfo"},
        "QueueInfo":{"shape":"QueueInfo"},
        "CreatedTime":{"shape":"timestamp"},
        "IngestionTimeInSeconds":{
          "shape":"long",
          "box":true
        },
        "IngestionSizeInBytes":{
          "shape":"long",
          "box":true
        },
        "RequestSource":{"shape":"IngestionRequestSource"},
        "RequestType":{"shape":"IngestionRequestType"}
      }
    },
    "IngestionErrorType":{
      "type":"string",
      "enum":[
        "FAILURE_TO_ASSUME_ROLE",
        "INGESTION_SUPERSEDED",
        "INGESTION_CANCELED",
        "DATA_SET_DELETED",
        "DATA_SET_NOT_SPICE",
        "S3_UPLOADED_FILE_DELETED",
        "S3_MANIFEST_ERROR",
        "DATA_TOLERANCE_EXCEPTION",
        "SPICE_TABLE_NOT_FOUND",
        "DATA_SET_SIZE_LIMIT_EXCEEDED",
        "ROW_SIZE_LIMIT_EXCEEDED",
        "ACCOUNT_CAPACITY_LIMIT_EXCEEDED",
        "CUSTOMER_ERROR",
        "DATA_SOURCE_NOT_FOUND",
        "IAM_ROLE_NOT_AVAILABLE",
        "CONNECTION_FAILURE",
        "SQL_TABLE_NOT_FOUND",
        "PERMISSION_DENIED",
        "SSL_CERTIFICATE_VALIDATION_FAILURE",
        "OAUTH_TOKEN_FAILURE",
        "SOURCE_API_LIMIT_EXCEEDED_FAILURE",
        "PASSWORD_AUTHENTICATION_FAILURE",
        "SQL_SCHEMA_MISMATCH_ERROR",
        "INVALID_DATE_FORMAT",
        "INVALID_DATAPREP_SYNTAX",
        "SOURCE_RESOURCE_LIMIT_EXCEEDED",
        "SQL_INVALID_PARAMETER_VALUE",
        "QUERY_TIMEOUT",
        "SQL_NUMERIC_OVERFLOW",
        "UNRESOLVABLE_HOST",
        "UNROUTABLE_HOST",
        "SQL_EXCEPTION",
        "S3_FILE_INACCESSIBLE",
        "IOT_FILE_NOT_FOUND",
        "IOT_DATA_SET_FILE_EMPTY",
        "INVALID_DATA_SOURCE_CONFIG",
        "DATA_SOURCE_AUTH_FAILED",
        "DATA_SOURCE_CONNECTION_FAILED",
        "FAILURE_TO_PROCESS_JSON_FILE",
        "INTERNAL_SERVICE_ERROR"
      ]
    },
    "IngestionId":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^[a-zA-Z0-9-_]+$"
    },
    "IngestionMaxResults":{
      "type":"integer",
      "max":100,
      "min":1
    },
    "IngestionRequestSource":{
      "type":"string",
      "enum":[
        "MANUAL",
        "SCHEDULED"
      ]
    },
    "IngestionRequestType":{
      "type":"string",
      "enum":[
        "INITIAL_INGESTION",
        "EDIT",
        "INCREMENTAL_REFRESH",
        "FULL_REFRESH"
      ]
    },
    "IngestionStatus":{
      "type":"string",
      "enum":[
        "INITIALIZED",
        "QUEUED",
        "RUNNING",
        "FAILED",
        "COMPLETED",
        "CANCELLED"
      ]
    },
    "Ingestions":{
      "type":"list",
      "member":{"shape":"Ingestion"}
    },
    "InputColumn":{
      "type":"structure",
      "required":[
        "Name",
        "Type"
      ],
      "members":{
        "Name":{"shape":"ColumnName"},
        "Type":{"shape":"InputColumnDataType"}
      }
    },
    "InputColumnDataType":{
      "type":"string",
      "enum":[
        "STRING",
        "INTEGER",
        "DECIMAL",
        "DATETIME",
        "BIT",
        "BOOLEAN",
        "JSON"
      ]
    },
    "InputColumnList":{
      "type":"list",
      "member":{"shape":"InputColumn"},
      "max":2048,
      "min":1
    },
    "InstanceId":{
      "type":"string",
      "max":64,
      "min":1
    },
    "IntegerParameter":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{"shape":"NonEmptyString"},
        "Values":{"shape":"LongList"}
      }
    },
    "IntegerParameterList":{
      "type":"list",
      "member":{"shape":"IntegerParameter"},
      "max":100
    },
    "InternalFailureException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "RequestId":{"shape":"String"}
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "InvalidNextTokenException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "RequestId":{"shape":"String"}
      },
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "InvalidParameterValueException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "RequestId":{"shape":"String"}
      },
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "JiraParameters":{
      "type":"structure",
      "required":["SiteBaseUrl"],
      "members":{
        "SiteBaseUrl":{"shape":"SiteBaseUrl"}
      }
    },
    "JoinInstruction":{
      "type":"structure",
      "required":[
        "LeftOperand",
        "RightOperand",
        "Type",
        "OnClause"
      ],
      "members":{
        "LeftOperand":{"shape":"LogicalTableId"},
        "RightOperand":{"shape":"LogicalTableId"},
        "Type":{"shape":"JoinType"},
        "OnClause":{"shape":"OnClause"}
      }
    },
    "JoinType":{
      "type":"string",
      "enum":[
        "INNER",
        "OUTER",
        "LEFT",
        "RIGHT"
      ]
    },
    "LimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "ResourceType":{"shape":"ExceptionResourceType"},
        "RequestId":{"shape":"String"}
      },
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "ListDashboardVersionsRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "DashboardId"
      ],
      "members":{
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "location":"uri",
          "locationName":"AwsAccountId"
        },
        "DashboardId":{
          "shape":"RestrictiveResourceId",
          "location":"uri",
          "locationName":"DashboardId"
        },
        "NextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"next-token"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "box":true,
          "location":"querystring",
          "locationName":"max-results"
        }
      }
    },
    "ListDashboardVersionsResponse":{
      "type":"structure",
      "members":{
        "DashboardVersionSummaryList":{"shape":"DashboardVersionSummaryList"},
        "NextToken":{"shape":"String"},
        "Status":{
          "shape":"StatusCode",
          "location":"statusCode"
        },
[...]
