.alert-cell {
  color: $alert-cell-color;
  background: $rule-cell-bg;
}

.rule-cell {
  background-color: $rule-cell-bg;
}

.config-yaml {
  display: block;
  padding: 10px;
  font-size: 13px;
  color: $config-yaml-color;
  word-break: break-all;
  background-color: $config-yaml-bg;
  border: 1px solid $config-yaml-border;
  border-radius: 4px;
}

.query-stats {
  flex-grow: 1;
  font-size: 0.7rem;
  color: $query-stats-color;
}

.metrics-explorer.modal-dialog {
  max-width: 750px;
  overflow-wrap: break-word;
}
.metrics-explorer .metric {
  cursor: pointer;
  margin: 0;
  padding: 5px;
}
.metrics-explorer .metric:hover {
  background: $metrics-explorer-bg;
}
button.metrics-explorer-btn {
  color: $input-group-addon-color;
  background-color: $input-group-addon-bg;
  border: $input-border-width solid $input-group-addon-border-color;
}

.graph-controls button.clear-time-btn,
.table-controls button.clear-time-btn {
  background-color: $input-bg;
  border: $input-border-width solid $input-border-color;
  border-left: none;

  &:hover {
    color: darken($secondary, 10%);
  }
}

button.execute-btn {
  width: 84px;
  border: $input-border-width solid darken($primary, 5%);
}

.expression-input .cm-expression-input {
  border: $input-border-width solid $input-border-color;
  flex: 1 1 auto;
  padding: 4px 0 0 8px;
  font-size: 15px;
}

.tab-content {
  border-left: 1px solid $nav-tabs-border-color;
  border-right: 1px solid $nav-tabs-border-color;
  border-bottom: 1px solid $nav-tabs-border-color;
  padding: 10px;
}
