body {
  margin: 0;
}

a { color: black; }
a:hover { color: gray; }
a:active { color: black; }

.eval_stats {
  float: right;
}

.graph_wrapper {
  margin-top: 8px;
}

.graph_wrapper .input-append, .graph_wrapper select {
  margin: 0;
}

.graph_container {
  font-family: Arial, Helvetica, sans-serif;
}


.graph {
  position: relative;
  left: 40px;
  min-height: 400px;
}

.graph svg {
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.legend {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 40px;
}

.graph_area {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 0 5px 0;
}

.y_axis {
  position: absolute;
  top: 1px;
  bottom: 0;
  width: 40px;
}

.graph .detail .x_label.flipped {
  right: 0;
}

.graph .detail .item.flipped {
  right: 10px;
}

.graph .detail .item.flipped:before {
  content: "\25b8";
  left: auto;
  right: 1px;
  font-size: 0.8em;
}

.graph .detail .item.active {
  line-height: 1.4em;
  padding: 0.5em;
}

.labels {
  font-size: 11px;
  line-height: 11px;
}

.graph .detail .item .detail_swatch {
  float: right;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 2px 2px 0 8px;
 }

.refresh_interval {
  width: 102px
}

input[title=*]:hover:after {
  content: attr(title);
}

.config input, .config select {
  height: 16px;
  margin-bottom: 0;
}



.console {
  white-space: pre;
  overflow: scroll;
}

.ui-tabs {
  padding: 0px;
}
.ui-widget {
  font-size: 0.8em;
}
