body {
  margin: 0;
}

a { color: black; }
a:hover { color: gray; }
a:active { color: black; }

.eval_stats {
  float: right;
}

.graph_wrapper {
  margin-top: 8px;
}

.graph_wrapper .input-append, .graph_wrapper select {
  margin: 2px;
}

.graph_container {
  font-family: Arial, Helvetica, sans-serif;
}

.graph {
  position: relative;
  left: 40px;
  min-height: 400px;
}

.graph svg {
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

#add_graph {
    margin-left: 8px;
}

.legend {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 40px;
}

.graph_area {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 0 5px 0;
}

.y_axis {
  position: absolute;
  top: 1px;
  bottom: 0;
  width: 40px;
}

.graph .detail .x_label.flipped {
  right: 0;
}

.graph .detail .item.flipped {
  right: 10px;
}

.graph .detail .item.flipped:before {
  content: "\25b8";
  left: auto;
  right: 1px;
  font-size: 0.8em;
}

.graph .detail .item.active {
  line-height: 1.4em;
  padding: 0.5em;
}

.labels {
  font-size: 11px;
  line-height: 11px;
}

.graph .detail .item .detail_swatch {
  float: right;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 2px 2px 0 8px;
 }

.refresh_interval {
  width: 102px
}

input[title=*]:hover:after {
  content: attr(title);
}

.config input, .config select {
  height: 12px;
  margin-bottom: 0;
}

.config label {
  display: inline;
}

.console_table {
  margin-top: 5px;
}

.ui-widget {
  font-size: 0.8em;
}

span.input-append {
  margin-bottom: 0;
}

select name="insert_metric" {
  margin-bottom: 0px;
}

.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: .5em 1em;
  background: none;
}

.ui-tabs .ui-tabs-nav li {
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11pt;
  border-bottom: 0;
}

#graph_container .grouping_box {
  padding: 2px;
}

/* Buttons */

.config button {
  font-size: 10pt;
  margin-right: .3em;
}

.config input {
  font-size: 10pt;
}

.config .input-append i {
  padding-top: -4px;
  margin-top: 0;
}

.config .input-append .btn:first-child i {
  margin-right: 4px;
  margin-left: 2px;
}

.config .input-append .btn:last-child i {
  margin-left: 6px;
}

.config .icon-backward {
  background-position: -242px -72px;
}

.datepicker {
  font-size: 10pt;
}

.config label.checkbox {
  padding-top: 0;
}

.grouping_box {
  position: relative;
  padding: 0 5px 0 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  margin: 0 8px 2px 8px;
}

.grouping_box .head, .eval_stats {
  display: inline-block;
  vertical-align: top;
}

.grouping_box .head .opts {
  float: right;
}

input[name="end_input"], input[name="range_input"] {
  margin-left: -4px;
  margin-right: -4px;
}

.error {
  margin: 2px;
}
