body {
  margin: 0;
}

a { color: black; }
a:hover { color: gray; }
a:active { color: black; }

.graph_wrapper {
  margin-top: 8px;
}

.graph_container {
  font-family: Arial, Helvetica, sans-serif;
}

.graph {
  position: relative;
  min-height: 400px;
}

svg {
  border: 1px solid #aaa;
  margin-bottom: 5px;
}

.legend {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 0px;
}

.graph .detail .x_label.flipped {
  right: 0;
}

.graph .detail .item.flipped {
  right: 10px;
}

.graph .detail .item.flipped:before {
  content: "\25b8";
  left: auto;
  right: 1px;
  font-size: 0.8em;
}

.graph .detail .item.active {
  line-height: 1.4em;
  padding: 0.5em;
}

.labels {
  font-size: 11px;
  line-height: 11px;
}

.graph .detail .item .detail_swatch {
  float: right;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 2px 2px 0 8px;
 }

.refresh_interval {
  width: 102px
}

input[title=*]:hover:after {
  content: attr(title);
}

.console {
  white-space: pre;
  overflow: scroll;
}

.ui-tabs {
  padding: 0px;
}
.ui-widget {
  font-size: 0.8em;
}
