body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #eee;
}

input:not([type=submit]):not([type=file]):not([type=button]) {
  border: 1px solid #aaa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.grouping_box {
  position: relative;
  padding: 5px;
  margin: 2px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.graph {
  min-height: 400px;
  overflow-x: hidden;
}

div.legend {
  display: block;
}

form {
  display: inline-block;
}

.eval_stats {
  display: inline;
  vertical-align: top;
}

