body {
  padding-top: 40px;
}

th.job_header {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.error_text {
  padding: 0 4px 0 4px;
}

/*
 * This reduces the spacing between the bootstrap navbar and the content below.
 */
div.navbar {
  margin-bottom: 2px;
}

.literal_output td {
  font-family: monospace;
}
