body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #f2f2f2;
  margin: 0px;
  padding: 0px;
}

input:not([type=submit]):not([type=file]):not([type=button]) {
  border: 1px solid #aaa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.grouping_box {
  position: relative;
  padding: 5px;
  margin: 2px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.grouping_box .head, .eval_stats {
  display: inline-block;
  vertical-align: top;
}

.grouping_box .head .opts {
  float: right;
}

input {
  margin: 0;
  border: 1px solid gray;
}

select {
  z-index: 10;
  width: 150px;
}

input[name=end_input], input[name=range_input] {
  margin-left: -4px;
  margin-right: -4px;
}

#navigation {
  font-size: 20pt;
  background-color: #333;
  color: #F2F2F2;
  line-height: 120%;
}

#navigation a {
  color: #F2F2F2;
  padding-right: 1em;
  text-decoration: none;
}

#navigation a:visited { color: #F2F2F2 }
#navigation a:active { color: #F60 }
#navigation a:hover { color: #06C }
