body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #f2f2f2;
  margin: 0px;
  padding: 0px;
}

input:not([type=submit]):not([type=file]):not([type=button]) {
  border: 1px solid #aaa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

h2 {
  margin-left: 8px;
}

.grouping_box {
  position: relative;
  padding: 5px;
  margin: 2px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  margin: 0px 8px 2px 8px;
}

.grouping_box .head, .eval_stats {
  display: inline-block;
  vertical-align: top;
}

.grouping_box .head .opts {
  float: right;
}

table tbody th {
  text-align: left;
}

input {
  margin: 0;
  border: 1px solid gray;
}

select {
  z-index: 10;
  width: 150px;
}

input[name=end_input], input[name=range_input] {
  margin-left: -4px;
  margin-right: -4px;
}

#navigation {
  background-color: #333;
  padding: 3px;
  font-size: 13px;
  font-weight: bold;
}

#navigation a {
  color: #bbb;
  padding: 5px;
  text-decoration: none;
}

#navigation a:visited { color: #bbb }
#navigation a:active { color: #fff }
#navigation a:hover { color: #fff }

#add_graph {
    margin-left: 8px;
}
