{{define "head"}}<!-- nix -->{{end}}

{{define "content"}}
  <div class="container-fluid">
    <h2>Runtime Information</h2>
    <table class="table table-condensed table-bordered table-striped table-hover">
      <tbody>
        <tr>
          <th>Uptime</th>
          <td>{{.Birth}}</td>
        </tr>
      </tbody>
    </table>

    <h2>Build Information</h2>
    <table class="table table-condensed table-bordered table-striped table-hover">
      <tbody>
        {{range $key, $value := .BuildInfo}}
        <tr>
          <th scope="row">{{$key}}</th>
          <td>{{$value}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>

    <h2>Configuration</h2>
    <pre>{{.Config}}</pre>

    <h2>Rules</h2>
    <pre>{{range call .Rules}}{{.HTMLSnippet pathPrefix}}<br/>{{end}}</pre>

    <h2>Targets</h2>
      <table class="table table-condensed table-bordered table-striped table-hover">
        {{range $job, $pool := call .TargetPools}}
          <thead>
            <tr><th colspan="5" class="job_header">{{$job}}</th></tr>
            <tr>
              <th>Endpoint</th>
              <th>State</th>
              <th>Base Labels</th>
              <th>Last Scrape</th>
              <th>Error</th>
            </tr>
          </thead>
          <tbody>
          {{range $pool}}
            <tr>
              <td>
                <a href="{{.URL | globalURL}}">{{.URL}}</a>
              </td>
              <td>
                <span class="alert alert-{{ .Status.Health | healthToClass }} target_status_alert">
                  {{.Status.Health}}
                </span>
              </td>
              <td>
                <span class="cursor-pointer" data-toggle="tooltip" title="" data-original-title="Before relabeling: {{.MetaLabels}}">
                  {{$baseLabels := stripLabels .BaseLabels "job" "instance"}}
                  {{if $baseLabels}}
                    {{range $label, $value := $baseLabels}}
                      <span class="label label-primary">{{$label}}="{{$value}}"</span>
                    {{end}}
                  {{else}}
                    <span class="label label-default">none</span>
                  {{end}}
                </span>
              </td>
              <td>
                {{if .Status.LastScrape.IsZero}}Never{{else}}{{since .Status.LastScrape}} ago{{end}}
              </td>
              <td>
                {{if .Status.LastError}}
                <span class="alert alert-danger target_status_alert">{{.Status.LastError}}</span>
                {{end}}
              </td>
            </tr>
          {{end}}
          </tbody>
        {{end}}
      </table>

    <h2>Startup Flags</h2>
    <table class="table table-condensed table-bordered table-striped table-hover">
      <tbody>
        {{range $key, $value := .Flags}}
        <tr>
          <th scope="row">{{$key}}</th>
          <td>{{$value}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
{{end}}
