<div class="sidebar-overlay"></div>

<aside class="sidebar" role="navigation">
  <div class="sidebar-header">
    <%= inline_svg "logo-text.svg", height: 42, class: "logo" %>
  </div>

  <ul class="nav sidebar-nav">
    <li><a href="/intro/index.html">Intro</a></li>
    <li><a href="/docs/index.html">Docs</a></li>
    <li><a href="/community.html">Community</a></li>
    <li><a href="/security.html">Security</a></li>
  </ul>

  <div class="divider"></div>

  <ul class="external nav sidebar-nav">
    <li>
      <a href="/downloads.html">
        <%= inline_svg "download.svg" %> Download
      </a>
    </li>
    <li>
      <a href="https://github.com/hashicorp/consul">
        <%= inline_svg "github.svg" %> GitHub
      </a>
    </li>
  </ul>
</aside>
