<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("downloads-serf") %>>
        <a href="/downloads.html">Download Serf</a>
      </li>

      <li<%= sidebar_current("downloads-tools") %>>
        <a href="intro/getting-started/install.html">Build Source</a>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>
