{{define "head"}}
    <link type="text/css" rel="stylesheet" href="{{ pathPrefix }}/static/css/config.css?v={{ buildVersion }}">
    <script src="{{ pathPrefix }}/static/js/config.js?v={{ buildVersion }}"></script>
{{end}}

{{define "content"}}
  <div class="container-fluid">
    <h2 id="configuration">Configuration <button type="button" class="btn btn-primary" id="copyToClipboard">Copy to clipboard</button></h2>
    <pre id="config_yaml"  style="display:block; padding:9.5px; font-size:13px; color:#333; word-break:break-all; background-color:#f5f5f5; border:1px solid #ccc; bor│[centos@ip-10-217-6-138 vendor]$ cd js
der-radius:4px; ">{{.}}</pre>
  </div>
{{end}}
