{{define "head"}}
    <link type="text/css" rel="stylesheet" href="{{ pathPrefix }}/static/css/config.css?v={{ buildVersion }}">
    <script src="{{ pathPrefix }}/static/js/config.js?v={{ buildVersion }}"></script>
{{end}}

{{define "content"}}
  <div class="container-fluid">
    <h2 id="configuration">Configuration</h2>
    <pre style="display:block; padding:9.5px; font-size:13px; color:#333; word-break:break-all; background-color:#f5f5f5; border:1px solid #ccc; border-radius:4px; ">{{.}}</pre>
  </div>
{{end}}
