{{define "head"}}<!-- nix -->{{end}}

{{define "content"}}
  <div class="container-fluid">
    <h2 id="runtime">Runtime Information</h2>
    <table class="table table-condensed table-bordered table-striped table-hover">
      <tbody>
        <tr>
          <th>Start time</th>
          <td>{{.Status.Birth.UTC}}</td>
        </tr>
      </tbody>
    </table>

    <h2 id="buildinformation">Build Information</h2>
    <table class="table table-condensed table-bordered table-striped table-hover">
      <tbody>
        {{range $key, $value := .Info}}
        <tr>
          <th scope="row">{{$key}}</th>
          <td>{{$value}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>

    <h2 id="configuration">Configuration</h2>
    <pre>{{.Status.Config}}</pre>

    <h2 id="rules">Rules</h2>
    <pre>{{range call .Status.Rules}}{{.HTMLSnippet pathPrefix}}<br/>{{end}}</pre>

    <h2 id="startupflags">Startup Flags</h2>
    <table class="table table-condensed table-bordered table-striped table-hover">
      <tbody>
        {{range $key, $value := .Status.Flags}}
        <tr>
          <th scope="row">{{$key}}</th>
          <td>{{$value}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
{{end}}
