{{define "head"}}
<link type="text/css" rel="stylesheet" href="{{ pathPrefix }}/static/css/rules.css?v={{ buildVersion }}">
{{end}}

{{define "content"}}
  <div class="container-fluid">
    <table class="table table-bordered">
      {{range .RuleGroups}}
        <thead>
          <tr>
            <td><h2>{{.Name}}</h2></td>
            <td><h2>{{humanizeDuration .GetEvaluationTime.Seconds}}</h2></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="font-weight:bold">Rule</td>
            <td style="font-weight:bold">Evaluation Time</td>
          </tr>
          {{range .Rules}}
          <tr>
            <td class="rule_cell">{{.HTMLSnippet pathPrefix}}</td>
            <td>{{humanizeDuration .GetEvaluationTime.Seconds}}</td>
          </tr>
          {{end}}
        </tbody>
      {{end}}
    </table>
  </div>
{{end}}
