{{define "head"}}<!-- nix -->{{end}}

{{define "content"}}
  <div class="container-fluid">
    <h2 id="runtime">Runtime Information</h2>
    <table class="table table-sm table-bordered table-striped table-hover">
      <tbody>
        <tr>
          <th>Uptime</th>
          <td>{{.Birth.UTC}}</td>
        </tr>
        <tr>
          <th>Working Directory</th>
          <td>{{.CWD}}</td>
        </tr>
        <tr{{if not .ReloadConfigSuccess}} class="danger"{{end}}>
          <th>Configuration reload</th>
          <td>{{if .ReloadConfigSuccess}}Successful{{else}}Failed{{end}}</td>
        </tr>
        <tr>
          <th>Last successful configuration reload</th>
          <td>{{.LastConfigTime.UTC}}</td>
        </tr>
        <tr>
          <th>Head chunks</th>
          <td>{{.ChunkCount}}</td>
        </tr>
        <tr>
          <th>Head time series</th>
          <td>{{.TimeSeriesCount}}</td>
        </tr>
        <tr>
          <th>WAL corruptions</th>
          <td>{{.CorruptionCount}}</td>
        </tr>
        <tr>
          <th>Goroutines</th>
          <td>{{.GoroutineCount}}</td>
        </tr>
        <tr>
          <th>GOMAXPROCS</th>
          <td>{{.GOMAXPROCS}}</td>
        </tr>
        <tr>
          <th>GOGC</th>
          <td>{{.GOGC}}</td>
        </tr>
        <tr>
          <th>GODEBUG</th>
          <td>{{.GODEBUG}}</td>
        </tr>
        <tr>
          <th>Storage Retention</th>
          <td>{{.StorageRetention}}</td>
        </tr>
      </tbody>
    </table>

    <h2 id="buildinformation">Build Information</h2>
    <table class="table table-sm table-bordered table-striped table-hover">
      <tbody>
        <tr>
          <th scope="row">Version</th>
          <td>{{.Version.Version}}</td>
        </tr>
        <tr>
          <th scope="row">Revision</th>
          <td>{{.Version.Revision}}</td>
        </tr>
        <tr>
          <th scope="row">Branch</th>
          <td>{{.Version.Branch}}</td>
        </tr>
        <tr>
          <th scope="row">BuildUser</th>
          <td>{{.Version.BuildUser}}</td>
        </tr>
        <tr>
          <th scope="row">BuildDate</th>
          <td>{{.Version.BuildDate}}</td>
        </tr>
        <tr>
          <th scope="row">GoVersion</th>
          <td>{{.Version.GoVersion}}</td>
        </tr>
      </tbody>
    </table>

    <h2 id="alertmanagers">Alertmanagers</h2>
    <table class="table table-sm table-bordered table-striped table-hover">
      <tbody>
        <tr>
           <th>Endpoint</th>
        </tr>
        {{range .Alertmanagers}}
        <tr>
          {{/* Alertmanager URLs always have Scheme, Host and Path set */}}
          <td>{{.Scheme}}://<a href="{{.Scheme}}://{{.Host}}">{{.Host}}</a>{{.Path}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>

  </div>
{{end}}
