{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-05-01",
    "endpointPrefix":"chime",
    "protocol":"rest-json",
    "serviceFullName":"Amazon Chime",
    "serviceId":"Chime",
    "signatureVersion":"v4",
    "uid":"chime-2018-05-01"
  },
  "operations":{
    "AssociatePhoneNumberWithUser":{
      "name":"AssociatePhoneNumberWithUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/users/{userId}?operation=associate-phone-number",
        "responseCode":200
      },
      "input":{"shape":"AssociatePhoneNumberWithUserRequest"},
      "output":{"shape":"AssociatePhoneNumberWithUserResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "AssociatePhoneNumbersWithVoiceConnector":{
      "name":"AssociatePhoneNumbersWithVoiceConnector",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors/{voiceConnectorId}?operation=associate-phone-numbers",
        "responseCode":200
      },
      "input":{"shape":"AssociatePhoneNumbersWithVoiceConnectorRequest"},
      "output":{"shape":"AssociatePhoneNumbersWithVoiceConnectorResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "AssociatePhoneNumbersWithVoiceConnectorGroup":{
      "name":"AssociatePhoneNumbersWithVoiceConnectorGroup",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connector-groups/{voiceConnectorGroupId}?operation=associate-phone-numbers",
        "responseCode":200
      },
      "input":{"shape":"AssociatePhoneNumbersWithVoiceConnectorGroupRequest"},
      "output":{"shape":"AssociatePhoneNumbersWithVoiceConnectorGroupResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "BatchCreateAttendee":{
      "name":"BatchCreateAttendee",
      "http":{
        "method":"POST",
        "requestUri":"/meetings/{meetingId}/attendees?operation=batch-create",
        "responseCode":201
      },
      "input":{"shape":"BatchCreateAttendeeRequest"},
      "output":{"shape":"BatchCreateAttendeeResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "BatchCreateRoomMembership":{
      "name":"BatchCreateRoomMembership",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/rooms/{roomId}/memberships?operation=batch-create",
        "responseCode":201
      },
      "input":{"shape":"BatchCreateRoomMembershipRequest"},
      "output":{"shape":"BatchCreateRoomMembershipResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "BatchDeletePhoneNumber":{
      "name":"BatchDeletePhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/phone-numbers?operation=batch-delete",
        "responseCode":200
      },
      "input":{"shape":"BatchDeletePhoneNumberRequest"},
      "output":{"shape":"BatchDeletePhoneNumberResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "BatchSuspendUser":{
      "name":"BatchSuspendUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/users?operation=suspend",
        "responseCode":200
      },
      "input":{"shape":"BatchSuspendUserRequest"},
      "output":{"shape":"BatchSuspendUserResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "BatchUnsuspendUser":{
      "name":"BatchUnsuspendUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/users?operation=unsuspend",
        "responseCode":200
      },
      "input":{"shape":"BatchUnsuspendUserRequest"},
      "output":{"shape":"BatchUnsuspendUserResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "BatchUpdatePhoneNumber":{
      "name":"BatchUpdatePhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/phone-numbers?operation=batch-update",
        "responseCode":200
      },
      "input":{"shape":"BatchUpdatePhoneNumberRequest"},
      "output":{"shape":"BatchUpdatePhoneNumberResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "BatchUpdateUser":{
      "name":"BatchUpdateUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/users",
        "responseCode":200
      },
      "input":{"shape":"BatchUpdateUserRequest"},
      "output":{"shape":"BatchUpdateUserResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "CreateAccount":{
      "name":"CreateAccount",
      "http":{
        "method":"POST",
        "requestUri":"/accounts",
        "responseCode":201
      },
      "input":{"shape":"CreateAccountRequest"},
      "output":{"shape":"CreateAccountResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "CreateAttendee":{
      "name":"CreateAttendee",
      "http":{
        "method":"POST",
        "requestUri":"/meetings/{meetingId}/attendees",
        "responseCode":201
      },
      "input":{"shape":"CreateAttendeeRequest"},
      "output":{"shape":"CreateAttendeeResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "CreateBot":{
      "name":"CreateBot",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/bots",
        "responseCode":201
      },
      "input":{"shape":"CreateBotRequest"},
      "output":{"shape":"CreateBotResponse"},
      "errors":[
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"NotFoundException"}
      ]
    },
    "CreateMeeting":{
      "name":"CreateMeeting",
      "http":{
        "method":"POST",
        "requestUri":"/meetings",
        "responseCode":201
      },
      "input":{"shape":"CreateMeetingRequest"},
      "output":{"shape":"CreateMeetingResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "CreatePhoneNumberOrder":{
      "name":"CreatePhoneNumberOrder",
      "http":{
        "method":"POST",
        "requestUri":"/phone-number-orders",
        "responseCode":201
      },
      "input":{"shape":"CreatePhoneNumberOrderRequest"},
      "output":{"shape":"CreatePhoneNumberOrderResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "CreateRoom":{
      "name":"CreateRoom",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/rooms",
        "responseCode":201
      },
      "input":{"shape":"CreateRoomRequest"},
      "output":{"shape":"CreateRoomResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "CreateRoomMembership":{
      "name":"CreateRoomMembership",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/rooms/{roomId}/memberships",
        "responseCode":201
      },
      "input":{"shape":"CreateRoomMembershipRequest"},
      "output":{"shape":"CreateRoomMembershipResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "CreateVoiceConnector":{
      "name":"CreateVoiceConnector",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors",
        "responseCode":201
      },
      "input":{"shape":"CreateVoiceConnectorRequest"},
      "output":{"shape":"CreateVoiceConnectorResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "CreateVoiceConnectorGroup":{
      "name":"CreateVoiceConnectorGroup",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connector-groups",
        "responseCode":201
      },
      "input":{"shape":"CreateVoiceConnectorGroupRequest"},
      "output":{"shape":"CreateVoiceConnectorGroupResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteAccount":{
      "name":"DeleteAccount",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{accountId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAccountRequest"},
      "output":{"shape":"DeleteAccountResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnprocessableEntityException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteAttendee":{
      "name":"DeleteAttendee",
      "http":{
        "method":"DELETE",
        "requestUri":"/meetings/{meetingId}/attendees/{attendeeId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAttendeeRequest"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ThrottledClientException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteEventsConfiguration":{
      "name":"DeleteEventsConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{accountId}/bots/{botId}/events-configuration",
        "responseCode":204
      },
      "input":{"shape":"DeleteEventsConfigurationRequest"},
      "errors":[
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ResourceLimitExceededException"}
      ]
    },
    "DeleteMeeting":{
      "name":"DeleteMeeting",
      "http":{
        "method":"DELETE",
        "requestUri":"/meetings/{meetingId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteMeetingRequest"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ThrottledClientException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeletePhoneNumber":{
      "name":"DeletePhoneNumber",
      "http":{
        "method":"DELETE",
        "requestUri":"/phone-numbers/{phoneNumberId}",
        "responseCode":204
      },
      "input":{"shape":"DeletePhoneNumberRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteRoom":{
      "name":"DeleteRoom",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{accountId}/rooms/{roomId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteRoomRequest"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteRoomMembership":{
      "name":"DeleteRoomMembership",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{accountId}/rooms/{roomId}/memberships/{memberId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteRoomMembershipRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteVoiceConnector":{
      "name":"DeleteVoiceConnector",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connectors/{voiceConnectorId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteVoiceConnectorGroup":{
      "name":"DeleteVoiceConnectorGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorGroupRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteVoiceConnectorOrigination":{
      "name":"DeleteVoiceConnectorOrigination",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connectors/{voiceConnectorId}/origination",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorOriginationRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteVoiceConnectorStreamingConfiguration":{
      "name":"DeleteVoiceConnectorStreamingConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorStreamingConfigurationRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteVoiceConnectorTermination":{
      "name":"DeleteVoiceConnectorTermination",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connectors/{voiceConnectorId}/termination",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorTerminationRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DeleteVoiceConnectorTerminationCredentials":{
      "name":"DeleteVoiceConnectorTerminationCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors/{voiceConnectorId}/termination/credentials?operation=delete",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorTerminationCredentialsRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DisassociatePhoneNumberFromUser":{
      "name":"DisassociatePhoneNumberFromUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/users/{userId}?operation=disassociate-phone-number",
        "responseCode":200
      },
      "input":{"shape":"DisassociatePhoneNumberFromUserRequest"},
      "output":{"shape":"DisassociatePhoneNumberFromUserResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DisassociatePhoneNumbersFromVoiceConnector":{
      "name":"DisassociatePhoneNumbersFromVoiceConnector",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors/{voiceConnectorId}?operation=disassociate-phone-numbers",
        "responseCode":200
      },
      "input":{"shape":"DisassociatePhoneNumbersFromVoiceConnectorRequest"},
      "output":{"shape":"DisassociatePhoneNumbersFromVoiceConnectorResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "DisassociatePhoneNumbersFromVoiceConnectorGroup":{
      "name":"DisassociatePhoneNumbersFromVoiceConnectorGroup",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connector-groups/{voiceConnectorGroupId}?operation=disassociate-phone-numbers",
        "responseCode":200
      },
      "input":{"shape":"DisassociatePhoneNumbersFromVoiceConnectorGroupRequest"},
      "output":{"shape":"DisassociatePhoneNumbersFromVoiceConnectorGroupResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetAccount":{
      "name":"GetAccount",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}"
      },
      "input":{"shape":"GetAccountRequest"},
      "output":{"shape":"GetAccountResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetAccountSettings":{
      "name":"GetAccountSettings",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}/settings"
      },
      "input":{"shape":"GetAccountSettingsRequest"},
      "output":{"shape":"GetAccountSettingsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetAttendee":{
      "name":"GetAttendee",
      "http":{
        "method":"GET",
        "requestUri":"/meetings/{meetingId}/attendees/{attendeeId}",
        "responseCode":200
      },
      "input":{"shape":"GetAttendeeRequest"},
      "output":{"shape":"GetAttendeeResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetBot":{
      "name":"GetBot",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}/bots/{botId}",
        "responseCode":200
      },
      "input":{"shape":"GetBotRequest"},
      "output":{"shape":"GetBotResponse"},
      "errors":[
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"},
        {"shape":"ForbiddenException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"}
      ]
    },
    "GetEventsConfiguration":{
      "name":"GetEventsConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}/bots/{botId}/events-configuration",
        "responseCode":200
      },
      "input":{"shape":"GetEventsConfigurationRequest"},
      "output":{"shape":"GetEventsConfigurationResponse"},
      "errors":[
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"NotFoundException"}
      ]
    },
    "GetGlobalSettings":{
      "name":"GetGlobalSettings",
      "http":{
        "method":"GET",
        "requestUri":"/settings",
        "responseCode":200
      },
      "output":{"shape":"GetGlobalSettingsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetMeeting":{
      "name":"GetMeeting",
      "http":{
        "method":"GET",
        "requestUri":"/meetings/{meetingId}",
        "responseCode":200
      },
      "input":{"shape":"GetMeetingRequest"},
      "output":{"shape":"GetMeetingResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetPhoneNumber":{
      "name":"GetPhoneNumber",
      "http":{
        "method":"GET",
        "requestUri":"/phone-numbers/{phoneNumberId}"
      },
      "input":{"shape":"GetPhoneNumberRequest"},
      "output":{"shape":"GetPhoneNumberResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetPhoneNumberOrder":{
      "name":"GetPhoneNumberOrder",
      "http":{
        "method":"GET",
        "requestUri":"/phone-number-orders/{phoneNumberOrderId}",
        "responseCode":200
      },
      "input":{"shape":"GetPhoneNumberOrderRequest"},
      "output":{"shape":"GetPhoneNumberOrderResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetPhoneNumberSettings":{
      "name":"GetPhoneNumberSettings",
      "http":{
        "method":"GET",
        "requestUri":"/settings/phone-number",
        "responseCode":200
      },
      "output":{"shape":"GetPhoneNumberSettingsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetRoom":{
      "name":"GetRoom",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}/rooms/{roomId}",
        "responseCode":200
      },
      "input":{"shape":"GetRoomRequest"},
      "output":{"shape":"GetRoomResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetUser":{
      "name":"GetUser",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}/users/{userId}",
        "responseCode":200
      },
      "input":{"shape":"GetUserRequest"},
      "output":{"shape":"GetUserResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetUserSettings":{
      "name":"GetUserSettings",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}/users/{userId}/settings",
        "responseCode":200
      },
      "input":{"shape":"GetUserSettingsRequest"},
      "output":{"shape":"GetUserSettingsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetVoiceConnector":{
      "name":"GetVoiceConnector",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorRequest"},
      "output":{"shape":"GetVoiceConnectorResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetVoiceConnectorGroup":{
      "name":"GetVoiceConnectorGroup",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorGroupRequest"},
      "output":{"shape":"GetVoiceConnectorGroupResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetVoiceConnectorLoggingConfiguration":{
      "name":"GetVoiceConnectorLoggingConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/logging-configuration",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorLoggingConfigurationRequest"},
      "output":{"shape":"GetVoiceConnectorLoggingConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetVoiceConnectorOrigination":{
      "name":"GetVoiceConnectorOrigination",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/origination",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorOriginationRequest"},
      "output":{"shape":"GetVoiceConnectorOriginationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetVoiceConnectorStreamingConfiguration":{
      "name":"GetVoiceConnectorStreamingConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorStreamingConfigurationRequest"},
      "output":{"shape":"GetVoiceConnectorStreamingConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetVoiceConnectorTermination":{
      "name":"GetVoiceConnectorTermination",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/termination",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorTerminationRequest"},
      "output":{"shape":"GetVoiceConnectorTerminationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "GetVoiceConnectorTerminationHealth":{
      "name":"GetVoiceConnectorTerminationHealth",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/termination/health",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorTerminationHealthRequest"},
      "output":{"shape":"GetVoiceConnectorTerminationHealthResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "InviteUsers":{
      "name":"InviteUsers",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/users?operation=add",
        "responseCode":201
      },
      "input":{"shape":"InviteUsersRequest"},
      "output":{"shape":"InviteUsersResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListAccounts":{
      "name":"ListAccounts",
      "http":{
        "method":"GET",
        "requestUri":"/accounts"
      },
      "input":{"shape":"ListAccountsRequest"},
      "output":{"shape":"ListAccountsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListAttendees":{
      "name":"ListAttendees",
      "http":{
        "method":"GET",
        "requestUri":"/meetings/{meetingId}/attendees",
        "responseCode":200
      },
      "input":{"shape":"ListAttendeesRequest"},
      "output":{"shape":"ListAttendeesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListBots":{
      "name":"ListBots",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}/bots",
        "responseCode":200
      },
      "input":{"shape":"ListBotsRequest"},
      "output":{"shape":"ListBotsResponse"},
      "errors":[
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"},
        {"shape":"ForbiddenException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"}
      ]
    },
    "ListMeetings":{
      "name":"ListMeetings",
      "http":{
        "method":"GET",
        "requestUri":"/meetings",
        "responseCode":200
      },
      "input":{"shape":"ListMeetingsRequest"},
      "output":{"shape":"ListMeetingsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListPhoneNumberOrders":{
      "name":"ListPhoneNumberOrders",
      "http":{
        "method":"GET",
        "requestUri":"/phone-number-orders",
        "responseCode":200
      },
      "input":{"shape":"ListPhoneNumberOrdersRequest"},
      "output":{"shape":"ListPhoneNumberOrdersResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListPhoneNumbers":{
      "name":"ListPhoneNumbers",
      "http":{
        "method":"GET",
        "requestUri":"/phone-numbers"
      },
      "input":{"shape":"ListPhoneNumbersRequest"},
      "output":{"shape":"ListPhoneNumbersResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListRoomMemberships":{
      "name":"ListRoomMemberships",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}/rooms/{roomId}/memberships",
        "responseCode":200
      },
      "input":{"shape":"ListRoomMembershipsRequest"},
      "output":{"shape":"ListRoomMembershipsResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListRooms":{
      "name":"ListRooms",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}/rooms",
        "responseCode":200
      },
      "input":{"shape":"ListRoomsRequest"},
      "output":{"shape":"ListRoomsResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListUsers":{
      "name":"ListUsers",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{accountId}/users",
        "responseCode":200
      },
      "input":{"shape":"ListUsersRequest"},
      "output":{"shape":"ListUsersResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListVoiceConnectorGroups":{
      "name":"ListVoiceConnectorGroups",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connector-groups",
        "responseCode":200
      },
      "input":{"shape":"ListVoiceConnectorGroupsRequest"},
      "output":{"shape":"ListVoiceConnectorGroupsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListVoiceConnectorTerminationCredentials":{
      "name":"ListVoiceConnectorTerminationCredentials",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/termination/credentials",
        "responseCode":200
      },
      "input":{"shape":"ListVoiceConnectorTerminationCredentialsRequest"},
      "output":{"shape":"ListVoiceConnectorTerminationCredentialsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "ListVoiceConnectors":{
      "name":"ListVoiceConnectors",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors",
        "responseCode":200
      },
      "input":{"shape":"ListVoiceConnectorsRequest"},
      "output":{"shape":"ListVoiceConnectorsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "LogoutUser":{
      "name":"LogoutUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/users/{userId}?operation=logout",
        "responseCode":204
      },
      "input":{"shape":"LogoutUserRequest"},
      "output":{"shape":"LogoutUserResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "PutEventsConfiguration":{
      "name":"PutEventsConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{accountId}/bots/{botId}/events-configuration",
        "responseCode":201
      },
      "input":{"shape":"PutEventsConfigurationRequest"},
      "output":{"shape":"PutEventsConfigurationResponse"},
      "errors":[
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"NotFoundException"}
      ]
    },
    "PutVoiceConnectorLoggingConfiguration":{
      "name":"PutVoiceConnectorLoggingConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connectors/{voiceConnectorId}/logging-configuration",
        "responseCode":200
      },
      "input":{"shape":"PutVoiceConnectorLoggingConfigurationRequest"},
      "output":{"shape":"PutVoiceConnectorLoggingConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "PutVoiceConnectorOrigination":{
      "name":"PutVoiceConnectorOrigination",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connectors/{voiceConnectorId}/origination",
        "responseCode":200
      },
      "input":{"shape":"PutVoiceConnectorOriginationRequest"},
      "output":{"shape":"PutVoiceConnectorOriginationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "PutVoiceConnectorStreamingConfiguration":{
      "name":"PutVoiceConnectorStreamingConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode":200
      },
      "input":{"shape":"PutVoiceConnectorStreamingConfigurationRequest"},
      "output":{"shape":"PutVoiceConnectorStreamingConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "PutVoiceConnectorTermination":{
      "name":"PutVoiceConnectorTermination",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connectors/{voiceConnectorId}/termination",
        "responseCode":200
      },
      "input":{"shape":"PutVoiceConnectorTerminationRequest"},
      "output":{"shape":"PutVoiceConnectorTerminationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "PutVoiceConnectorTerminationCredentials":{
      "name":"PutVoiceConnectorTerminationCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors/{voiceConnectorId}/termination/credentials?operation=put",
        "responseCode":204
      },
      "input":{"shape":"PutVoiceConnectorTerminationCredentialsRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "RegenerateSecurityToken":{
      "name":"RegenerateSecurityToken",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/bots/{botId}?operation=regenerate-security-token",
        "responseCode":200
      },
      "input":{"shape":"RegenerateSecurityTokenRequest"},
      "output":{"shape":"RegenerateSecurityTokenResponse"},
      "errors":[
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"}
      ]
    },
    "ResetPersonalPIN":{
      "name":"ResetPersonalPIN",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/users/{userId}?operation=reset-personal-pin",
        "responseCode":200
      },
      "input":{"shape":"ResetPersonalPINRequest"},
      "output":{"shape":"ResetPersonalPINResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "RestorePhoneNumber":{
      "name":"RestorePhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/phone-numbers/{phoneNumberId}?operation=restore",
        "responseCode":200
      },
      "input":{"shape":"RestorePhoneNumberRequest"},
      "output":{"shape":"RestorePhoneNumberResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "SearchAvailablePhoneNumbers":{
      "name":"SearchAvailablePhoneNumbers",
      "http":{
        "method":"GET",
        "requestUri":"/search?type=phone-numbers"
      },
      "input":{"shape":"SearchAvailablePhoneNumbersRequest"},
      "output":{"shape":"SearchAvailablePhoneNumbersResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdateAccount":{
      "name":"UpdateAccount",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAccountRequest"},
      "output":{"shape":"UpdateAccountResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdateAccountSettings":{
      "name":"UpdateAccountSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{accountId}/settings",
        "responseCode":204
      },
      "input":{"shape":"UpdateAccountSettingsRequest"},
      "output":{"shape":"UpdateAccountSettingsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdateBot":{
      "name":"UpdateBot",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/bots/{botId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateBotRequest"},
      "output":{"shape":"UpdateBotResponse"},
      "errors":[
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"}
      ]
    },
    "UpdateGlobalSettings":{
      "name":"UpdateGlobalSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/settings",
        "responseCode":204
      },
      "input":{"shape":"UpdateGlobalSettingsRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdatePhoneNumber":{
      "name":"UpdatePhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/phone-numbers/{phoneNumberId}",
        "responseCode":200
      },
      "input":{"shape":"UpdatePhoneNumberRequest"},
      "output":{"shape":"UpdatePhoneNumberResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdatePhoneNumberSettings":{
      "name":"UpdatePhoneNumberSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/settings/phone-number",
        "responseCode":204
      },
      "input":{"shape":"UpdatePhoneNumberSettingsRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdateRoom":{
      "name":"UpdateRoom",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/rooms/{roomId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateRoomRequest"},
      "output":{"shape":"UpdateRoomResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdateRoomMembership":{
      "name":"UpdateRoomMembership",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/rooms/{roomId}/memberships/{memberId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateRoomMembershipRequest"},
      "output":{"shape":"UpdateRoomMembershipResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdateUser":{
      "name":"UpdateUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{accountId}/users/{userId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateUserRequest"},
      "output":{"shape":"UpdateUserResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdateUserSettings":{
      "name":"UpdateUserSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{accountId}/users/{userId}/settings",
        "responseCode":204
      },
      "input":{"shape":"UpdateUserSettingsRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdateVoiceConnector":{
      "name":"UpdateVoiceConnector",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connectors/{voiceConnectorId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateVoiceConnectorRequest"},
      "output":{"shape":"UpdateVoiceConnectorResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    },
    "UpdateVoiceConnectorGroup":{
      "name":"UpdateVoiceConnectorGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode":202
      },
      "input":{"shape":"UpdateVoiceConnectorGroupRequest"},
      "output":{"shape":"UpdateVoiceConnectorGroupResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ]
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Code":{"shape":"ErrorCode"},
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "Account":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "AccountId",
        "Name"
      ],
      "members":{
        "AwsAccountId":{"shape":"String"},
        "AccountId":{"shape":"String"},
        "Name":{"shape":"String"},
        "AccountType":{"shape":"AccountType"},
        "CreatedTimestamp":{"shape":"Iso8601Timestamp"},
        "DefaultLicense":{"shape":"License"},
        "SupportedLicenses":{"shape":"LicenseList"}
      }
    },
    "AccountList":{
      "type":"list",
      "member":{"shape":"Account"}
    },
    "AccountName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":".*\\S.*"
    },
    "AccountSettings":{
      "type":"structure",
      "members":{
        "DisableRemoteControl":{"shape":"Boolean"},
        "EnableDialOut":{"shape":"Boolean"}
      }
    },
    "AccountType":{
      "type":"string",
      "enum":[
        "Team",
        "EnterpriseDirectory",
        "EnterpriseLWA",
        "EnterpriseOIDC"
      ]
    },
    "Arn":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"^arn[\\/\\:\\-\\_\\.a-zA-Z0-9]+$",
      "sensitive":true
    },
    "AssociatePhoneNumberWithUserRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "UserId",
        "E164PhoneNumber"
      ],
      "members":{
        "AccountId":{
          "shape":"String",
          "location":"uri",
          "locationName":"accountId"
        },
        "UserId":{
          "shape":"String",
          "location":"uri",
          "locationName":"userId"
        },
        "E164PhoneNumber":{"shape":"E164PhoneNumber"}
      }
    },
    "AssociatePhoneNumberWithUserResponse":{
      "type":"structure",
      "members":{
      }
    },
    "AssociatePhoneNumbersWithVoiceConnectorGroupRequest":{
      "type":"structure",
      "required":["VoiceConnectorGroupId"],
      "members":{
        "VoiceConnectorGroupId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"voiceConnectorGroupId"
        },
        "E164PhoneNumbers":{"shape":"E164PhoneNumberList"},
        "ForceAssociate":{"shape":"NullableBoolean"}
      }
    },
    "AssociatePhoneNumbersWithVoiceConnectorGroupResponse":{
      "type":"structure",
      "members":{
        "PhoneNumberErrors":{"shape":"PhoneNumberErrorList"}
      }
    },
    "AssociatePhoneNumbersWithVoiceConnectorRequest":{
      "type":"structure",
      "required":["VoiceConnectorId"],
      "members":{
        "VoiceConnectorId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"voiceConnectorId"
        },
        "E164PhoneNumbers":{"shape":"E164PhoneNumberList"},
        "ForceAssociate":{"shape":"NullableBoolean"}
      }
    },
    "AssociatePhoneNumbersWithVoiceConnectorResponse":{
      "type":"structure",
      "members":{
        "PhoneNumberErrors":{"shape":"PhoneNumberErrorList"}
      }
    },
    "Attendee":{
      "type":"structure",
      "members":{
        "ExternalUserId":{"shape":"ExternalUserIdType"},
        "AttendeeId":{"shape":"GuidString"},
        "JoinToken":{"shape":"JoinTokenString"}
      }
    },
    "AttendeeList":{
      "type":"list",
      "member":{"shape":"Attendee"}
    },
    "BadRequestException":{
      "type":"structure",
      "members":{
        "Code":{"shape":"ErrorCode"},
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "BatchCreateAttendeeErrorList":{
      "type":"list",
      "member":{"shape":"CreateAttendeeError"}
    },
    "BatchCreateAttendeeRequest":{
      "type":"structure",
      "required":[
        "MeetingId",
        "Attendees"
      ],
      "members":{
        "MeetingId":{
          "shape":"GuidString",
          "location":"uri",
          "locationName":"meetingId"
        },
        "Attendees":{"shape":"CreateAttendeeRequestItemList"}
      }
    },
    "BatchCreateAttendeeResponse":{
      "type":"structure",
      "members":{
        "Attendees":{"shape":"AttendeeList"},
        "Errors":{"shape":"BatchCreateAttendeeErrorList"}
      }
    },
    "BatchCreateRoomMembershipRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "RoomId",
        "MembershipItemList"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "RoomId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"roomId"
        },
        "MembershipItemList":{"shape":"MembershipItemList"}
      }
    },
    "BatchCreateRoomMembershipResponse":{
      "type":"structure",
      "members":{
        "Errors":{"shape":"MemberErrorList"}
      }
    },
    "BatchDeletePhoneNumberRequest":{
      "type":"structure",
      "required":["PhoneNumberIds"],
      "members":{
        "PhoneNumberIds":{"shape":"NonEmptyStringList"}
      }
    },
    "BatchDeletePhoneNumberResponse":{
      "type":"structure",
      "members":{
        "PhoneNumberErrors":{"shape":"PhoneNumberErrorList"}
      }
    },
    "BatchSuspendUserRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "UserIdList"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "UserIdList":{"shape":"UserIdList"}
      }
    },
    "BatchSuspendUserResponse":{
      "type":"structure",
      "members":{
        "UserErrors":{"shape":"UserErrorList"}
      }
    },
    "BatchUnsuspendUserRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "UserIdList"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "UserIdList":{"shape":"UserIdList"}
      }
    },
    "BatchUnsuspendUserResponse":{
      "type":"structure",
      "members":{
        "UserErrors":{"shape":"UserErrorList"}
      }
    },
    "BatchUpdatePhoneNumberRequest":{
      "type":"structure",
      "required":["UpdatePhoneNumberRequestItems"],
      "members":{
        "UpdatePhoneNumberRequestItems":{"shape":"UpdatePhoneNumberRequestItemList"}
      }
    },
    "BatchUpdatePhoneNumberResponse":{
      "type":"structure",
      "members":{
        "PhoneNumberErrors":{"shape":"PhoneNumberErrorList"}
      }
    },
    "BatchUpdateUserRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "UpdateUserRequestItems"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "UpdateUserRequestItems":{"shape":"UpdateUserRequestItemList"}
      }
    },
    "BatchUpdateUserResponse":{
      "type":"structure",
      "members":{
        "UserErrors":{"shape":"UserErrorList"}
      }
    },
    "Boolean":{"type":"boolean"},
    "Bot":{
      "type":"structure",
      "members":{
        "BotId":{"shape":"String"},
        "UserId":{"shape":"String"},
        "DisplayName":{"shape":"SensitiveString"},
        "BotType":{"shape":"BotType"},
        "Disabled":{"shape":"NullableBoolean"},
        "CreatedTimestamp":{"shape":"Iso8601Timestamp"},
        "UpdatedTimestamp":{"shape":"Iso8601Timestamp"},
        "BotEmail":{"shape":"SensitiveString"},
        "SecurityToken":{"shape":"SensitiveString"}
      }
    },
    "BotList":{
      "type":"list",
      "member":{"shape":"Bot"}
    },
    "BotType":{
      "type":"string",
      "enum":["ChatBot"]
    },
    "BusinessCallingSettings":{
      "type":"structure",
      "members":{
        "CdrBucket":{
          "shape":"String",
          "box":true
        }
      }
    },
    "CallingName":{
      "type":"string",
      "pattern":"^$|^[a-zA-Z0-9 ]{2,15}$",
      "sensitive":true
    },
    "CallingNameStatus":{
      "type":"string",
      "enum":[
        "Unassigned",
        "UpdateInProgress",
        "UpdateSucceeded",
        "UpdateFailed"
      ]
    },
    "CallingRegion":{"type":"string"},
    "CallingRegionList":{
      "type":"list",
      "member":{"shape":"CallingRegion"}
    },
    "ClientRequestToken":{
      "type":"string",
      "max":64,
      "min":2,
      "pattern":"[-_a-zA-Z0-9]*",
      "sensitive":true
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Code":{"shape":"ErrorCode"},
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "CpsLimit":{
      "type":"integer",
      "min":1
    },
    "CreateAccountRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"AccountName"}
      }
    },
    "CreateAccountResponse":{
      "type":"structure",
      "members":{
        "Account":{"shape":"Account"}
      }
    },
    "CreateAttendeeError":{
      "type":"structure",
      "members":{
        "ExternalUserId":{"shape":"ExternalUserIdType"},
        "ErrorCode":{"shape":"String"},
        "ErrorMessage":{"shape":"String"}
      }
    },
    "CreateAttendeeRequest":{
      "type":"structure",
      "required":[
        "MeetingId",
        "ExternalUserId"
      ],
      "members":{
        "MeetingId":{
          "shape":"GuidString",
          "location":"uri",
          "locationName":"meetingId"
        },
        "ExternalUserId":{"shape":"ExternalUserIdType"}
      }
    },
    "CreateAttendeeRequestItem":{
      "type":"structure",
      "required":["ExternalUserId"],
      "members":{
        "ExternalUserId":{"shape":"ExternalUserIdType"}
      }
    },
    "CreateAttendeeRequestItemList":{
      "type":"list",
      "member":{"shape":"CreateAttendeeRequestItem"}
    },
    "CreateAttendeeResponse":{
      "type":"structure",
      "members":{
        "Attendee":{"shape":"Attendee"}
      }
    },
    "CreateBotRequest":{
      "type":"structure",
      "required":[
        "DisplayName",
        "AccountId"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "DisplayName":{"shape":"SensitiveString"},
        "Domain":{"shape":"NonEmptyString"}
      }
    },
    "CreateBotResponse":{
      "type":"structure",
      "members":{
        "Bot":{"shape":"Bot"}
      }
    },
    "CreateMeetingRequest":{
      "type":"structure",
      "required":["ClientRequestToken"],
      "members":{
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        },
        "MeetingHostId":{"shape":"ExternalUserIdType"},
        "MediaRegion":{"shape":"String"},
        "NotificationsConfiguration":{"shape":"MeetingNotificationConfiguration"}
      }
    },
    "CreateMeetingResponse":{
      "type":"structure",
      "members":{
        "Meeting":{"shape":"Meeting"}
      }
    },
    "CreatePhoneNumberOrderRequest":{
      "type":"structure",
      "required":[
        "ProductType",
        "E164PhoneNumbers"
      ],
      "members":{
        "ProductType":{"shape":"PhoneNumberProductType"},
        "E164PhoneNumbers":{"shape":"E164PhoneNumberList"}
      }
    },
    "CreatePhoneNumberOrderResponse":{
      "type":"structure",
      "members":{
        "PhoneNumberOrder":{"shape":"PhoneNumberOrder"}
      }
    },
    "CreateRoomMembershipRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "RoomId",
        "MemberId"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "RoomId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"roomId"
        },
        "MemberId":{"shape":"NonEmptyString"},
        "Role":{"shape":"RoomMembershipRole"}
      }
    },
    "CreateRoomMembershipResponse":{
      "type":"structure",
      "members":{
        "RoomMembership":{"shape":"RoomMembership"}
      }
    },
    "CreateRoomRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Name"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "Name":{"shape":"SensitiveString"},
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateRoomResponse":{
      "type":"structure",
      "members":{
        "Room":{"shape":"Room"}
      }
    },
    "CreateVoiceConnectorGroupRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"VoiceConnectorGroupName"},
        "VoiceConnectorItems":{"shape":"VoiceConnectorItemList"}
      }
    },
    "CreateVoiceConnectorGroupResponse":{
      "type":"structure",
      "members":{
        "VoiceConnectorGroup":{"shape":"VoiceConnectorGroup"}
      }
    },
    "CreateVoiceConnectorRequest":{
      "type":"structure",
      "required":[
        "Name",
        "RequireEncryption"
      ],
      "members":{
        "Name":{"shape":"VoiceConnectorName"},
        "AwsRegion":{"shape":"VoiceConnectorAwsRegion"},
        "RequireEncryption":{"shape":"Boolean"}
      }
    },
    "CreateVoiceConnectorResponse":{
      "type":"structure",
      "members":{
        "VoiceConnector":{"shape":"VoiceConnector"}
      }
    },
    "Credential":{
      "type":"structure",
      "members":{
        "Username":{"shape":"SensitiveString"},
        "Password":{"shape":"SensitiveString"}
      }
    },
    "CredentialList":{
      "type":"list",
      "member":{"shape":"Credential"}
    },
    "DataRetentionInHours":{
      "type":"integer",
      "min":0
    },
    "DeleteAccountRequest":{
      "type":"structure",
      "required":["AccountId"],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        }
      }
    },
    "DeleteAccountResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteAttendeeRequest":{
      "type":"structure",
      "required":[
        "MeetingId",
        "AttendeeId"
      ],
      "members":{
        "MeetingId":{
          "shape":"GuidString",
          "location":"uri",
          "locationName":"meetingId"
        },
        "AttendeeId":{
          "shape":"GuidString",
          "location":"uri",
          "locationName":"attendeeId"
        }
      }
    },
    "DeleteEventsConfigurationRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "BotId"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "BotId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"botId"
        }
      }
    },
    "DeleteMeetingRequest":{
      "type":"structure",
      "required":["MeetingId"],
      "members":{
        "MeetingId":{
          "shape":"GuidString",
          "location":"uri",
          "locationName":"meetingId"
        }
      }
    },
    "DeletePhoneNumberRequest":{
      "type":"structure",
      "required":["PhoneNumberId"],
      "members":{
        "PhoneNumberId":{
          "shape":"String",
          "location":"uri",
          "locationName":"phoneNumberId"
        }
      }
    },
    "DeleteRoomMembershipRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "RoomId",
        "MemberId"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "RoomId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"roomId"
        },
        "MemberId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"memberId"
        }
      }
    },
    "DeleteRoomRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "RoomId"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "RoomId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"roomId"
        }
      }
    },
    "DeleteVoiceConnectorGroupRequest":{
      "type":"structure",
      "required":["VoiceConnectorGroupId"],
      "members":{
        "VoiceConnectorGroupId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"voiceConnectorGroupId"
        }
      }
    },
    "DeleteVoiceConnectorOriginationRequest":{
      "type":"structure",
      "required":["VoiceConnectorId"],
      "members":{
        "VoiceConnectorId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"voiceConnectorId"
        }
      }
    },
    "DeleteVoiceConnectorRequest":{
      "type":"structure",
      "required":["VoiceConnectorId"],
      "members":{
        "VoiceConnectorId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"voiceConnectorId"
        }
      }
    },
    "DeleteVoiceConnectorStreamingConfigurationRequest":{
      "type":"structure",
      "required":["VoiceConnectorId"],
      "members":{
        "VoiceConnectorId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"voiceConnectorId"
        }
      }
    },
    "DeleteVoiceConnectorTerminationCredentialsRequest":{
      "type":"structure",
      "required":["VoiceConnectorId"],
      "members":{
        "VoiceConnectorId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"voiceConnectorId"
        },
        "Usernames":{"shape":"SensitiveStringList"}
      }
    },
    "DeleteVoiceConnectorTerminationRequest":{
      "type":"structure",
      "required":["VoiceConnectorId"],
      "members":{
        "VoiceConnectorId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"voiceConnectorId"
        }
      }
    },
    "DisassociatePhoneNumberFromUserRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "UserId"
      ],
      "members":{
        "AccountId":{
          "shape":"String",
          "location":"uri",
          "locationName":"accountId"
        },
        "UserId":{
          "shape":"String",
          "location":"uri",
          "locationName":"userId"
        }
      }
    },
    "DisassociatePhoneNumberFromUserResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DisassociatePhoneNumbersFromVoiceConnectorGroupRequest":{
      "type":"structure",
      "required":["VoiceConnectorGroupId"],
      "members":{
        "VoiceConnectorGroupId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"voiceConnectorGroupId"
        },
        "E164PhoneNumbers":{"shape":"E164PhoneNumberList"}
      }
    },
    "DisassociatePhoneNumbersFromVoiceConnectorGroupResponse":{
      "type":"structure",
      "members":{
        "PhoneNumberErrors":{"shape":"PhoneNumberErrorList"}
      }
    },
    "DisassociatePhoneNumbersFromVoiceConnectorRequest":{
      "type":"structure",
      "required":["VoiceConnectorId"],
      "members":{
        "VoiceConnectorId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"voiceConnectorId"
        },
        "E164PhoneNumbers":{"shape":"E164PhoneNumberList"}
      }
    },
    "DisassociatePhoneNumbersFromVoiceConnectorResponse":{
      "type":"structure",
      "members":{
        "PhoneNumberErrors":{"shape":"PhoneNumberErrorList"}
      }
    },
    "E164PhoneNumber":{
      "type":"string",
      "pattern":"^\\+?[1-9]\\d{1,14}$",
      "sensitive":true
    },
    "E164PhoneNumberList":{
      "type":"list",
      "member":{"shape":"E164PhoneNumber"}
    },
    "EmailAddress":{
      "type":"string",
      "pattern":".+@.+\\..+",
      "sensitive":true
    },
    "EmailStatus":{
      "type":"string",
      "enum":[
        "NotSent",
        "Sent",
        "Failed"
      ]
    },
    "ErrorCode":{
      "type":"string",
      "enum":[
        "BadRequest",
        "Conflict",
        "Forbidden",
        "NotFound",
        "PreconditionFailed",
        "ResourceLimitExceeded",
        "ServiceFailure",
        "AccessDenied",
        "ServiceUnavailable",
        "Throttled",
        "Unauthorized",
        "Unprocessable",
        "VoiceConnectorGroupAssociationsExist",
        "PhoneNumberAssociationsExist"
      ]
    },
    "EventsConfiguration":{
      "type":"structure",
      "members":{
        "BotId":{"shape":"String"},
        "OutboundEventsHTTPSEndpoint":{"shape":"SensitiveString"},
        "LambdaFunctionArn":{"shape":"SensitiveString"}
      }
    },
    "ExternalUserIdType":{
      "type":"string",
      "max":64,
      "min":2,
      "sensitive":true
    },
    "ForbiddenException":{
      "type":"structure",
      "members":{
        "Code":{"shape":"ErrorCode"},
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "GetAccountRequest":{
      "type":"structure",
      "required":["AccountId"],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        }
      }
    },
    "GetAccountResponse":{
      "type":"structure",
      "members":{
        "Account":{"shape":"Account"}
      }
    },
    "GetAccountSettingsRequest":{
      "type":"structure",
      "required":["AccountId"],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        }
      }
    },
    "GetAccountSettingsResponse":{
      "type":"structure",
      "members":{
        "AccountSettings":{"shape":"AccountSettings"}
      }
    },
    "GetAttendeeRequest":{
      "type":"structure",
      "required":[
        "MeetingId",
        "AttendeeId"
      ],
      "members":{
        "MeetingId":{
          "shape":"GuidString",
          "location":"uri",
          "locationName":"meetingId"
        },
        "AttendeeId":{
          "shape":"GuidString",
          "location":"uri",
          "locationName":"attendeeId"
        }
      }
    },
    "GetAttendeeResponse":{
      "type":"structure",
      "members":{
        "Attendee":{"shape":"Attendee"}
      }
    },
    "GetBotRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "BotId"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "BotId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"botId"
        }
      }
    },
    "GetBotResponse":{
      "type":"structure",
      "members":{
        "Bot":{"shape":"Bot"}
      }
    },
    "GetEventsConfigurationRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "BotId"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "BotId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"botId"
        }
      }
    },
    "GetEventsConfigurationResponse":{
      "type":"structure",
      "members":{
        "EventsConfiguration":{"shape":"EventsConfiguration"}
      }
    },
    "GetGlobalSettingsResponse":{
      "type":"structure",
      "members":{
        "BusinessCalling":{"shape":"BusinessCallingSettings"},
        "VoiceConnector":{"shape":"VoiceConnectorSettings"}
      }
    },
    "GetMeetingRequest":{
      "type":"structure",
      "required":["MeetingId"],
      "members":{
        "MeetingId":{
          "shape":"GuidString",
          "location":"uri",
          "locationName":"meetingId"
        }
      }
    },
    "GetMeetingResponse":{
      "type":"structure",
      "members":{
        "Meeting":{"shape":"Meeting"}
      }
    },
    "GetPhoneNumberOrderRequest":{
      "type":"structure",
      "required":["PhoneNumberOrderId"],
      "members":{
        "PhoneNumberOrderId":{
          "shape":"GuidString",
          "location":"uri",
          "locationName":"phoneNumberOrderId"
        }
      }
    },
    "GetPhoneNumberOrderResponse":{
      "type":"structure",
      "members":{
        "PhoneNumberOrder":{"shape":"PhoneNumberOrder"}
      }
    },
    "GetPhoneNumberRequest":{
      "type":"structure",
      "required":["PhoneNumberId"],
      "members":{
        "PhoneNumberId":{
          "shape":"String",
          "location":"uri",
          "locationName":"phoneNumberId"
        }
      }
    },
    "GetPhoneNumberResponse":{
      "type":"structure",
      "members":{
        "PhoneNumber":{"shape":"PhoneNumber"}
      }
    },
    "GetPhoneNumberSettingsResponse":{
      "type":"structure",
      "members":{
        "CallingName":{"shape":"CallingName"},
        "CallingNameUpdatedTimestamp":{"shape":"Iso8601Timestamp"}
      }
    },
    "GetRoomRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "RoomId"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "RoomId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"roomId"
        }
      }
    },
    "GetRoomResponse":{
      "type":"structure",
      "members":{
        "Room":{"shape":"Room"}
      }
    },
    "GetUserRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "UserId"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "UserId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"userId"
        }
      }
    },
    "GetUserResponse":{
      "type":"structure",
      "members":{
        "User":{"shape":"User"}
      }
    },
    "GetUserSettingsRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "UserId"
      ],
      "members":{
        "AccountId":{
          "shape":"String",
          "location":"uri",
          "locationName":"accountId"
        },
        "UserId":{
          "shape":"String",
          "location":"uri",
          "locationName":"userId"
        }
      }
    },
    "GetUserSettingsResponse":{
      "type":"structure",
      "members":{
        "UserSettings":{"shape":"UserSettings"}
      }
    },
    "GetVoiceConnectorGroupRequest":{
      "type":"structure",
      "required":["VoiceConnectorGroupId"],
      "members":{
        "VoiceConnectorGroupId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"voiceConnectorGroupId"
        }
      }
    },
    "GetVoiceConnectorGroupResponse":{
      "type":"structure",
      "members":{
        "VoiceConnectorGroup":{"shape":"VoiceConnectorGroup"}
      }
    },
    "GetVoiceConnectorLoggingConfigurationRequest":{
      "type":"structure",
      "required":["VoiceConnectorId"],
      "members":{
        "VoiceConnectorId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"voiceConnectorId"
        }
      }
    },
    "GetVoiceConnectorLoggingConfigurationResponse":{
      "type":"structure",
      "members":{
        "LoggingConfiguration":{"shape":"LoggingConfiguration"}
      }
    },
    "GetVoiceConnectorOriginationRequest":{
      "type":"structure",
      "required":["VoiceConnectorId"],
      "members":{
        "VoiceConnectorId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"voiceConnectorId"
        }
      }
    },
    "GetVoiceConnectorOriginationResponse":{
      "type":"structure",
      "members":{
        "Origination":{"shape":"Origination"}
      }
    },
    "GetVoiceConnectorRequest":{
      "type":"structure",
      "required":["VoiceConnectorId"],
      "members":{
        "VoiceConnectorId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"voiceConnectorId"
        }
      }
    },
    "GetVoiceConnectorResponse":{
      "type":"structure",
      "members":{
        "VoiceConnector":{"shape":"VoiceConnector"}
      }
    },
    "GetVoiceConnectorStreamingConfigurationRequest":{
      "type":"structure",
      "required":["VoiceConnectorId"],
      "members":{
        "VoiceConnectorId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"voiceConnectorId"
        }
      }
    },
    "GetVoiceConnectorStreamingConfigurationResponse":{
      "type":"structure",
      "members":{
        "StreamingConfiguration":{"shape":"StreamingConfiguration"}
      }
    },
    "GetVoiceConnectorTerminationHealthRequest":{
      "type":"structure",
      "required":["VoiceConnectorId"],
      "members":{
        "VoiceConnectorId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"voiceConnectorId"
        }
      }
    },
    "GetVoiceConnectorTerminationHealthResponse":{
      "type":"structure",
      "members":{
        "TerminationHealth":{"shape":"TerminationHealth"}
      }
    },
    "GetVoiceConnectorTerminationRequest":{
      "type":"structure",
      "required":["VoiceConnectorId"],
      "members":{
        "VoiceConnectorId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"voiceConnectorId"
        }
      }
    },
    "GetVoiceConnectorTerminationResponse":{
      "type":"structure",
      "members":{
        "Termination":{"shape":"Termination"}
      }
    },
    "GuidString":{
      "type":"string",
      "pattern":"[a-fA-F0-9]{8}(?:-[a-fA-F0-9]{4}){3}-[a-fA-F0-9]{12}"
    },
    "Invite":{
      "type":"structure",
      "members":{
        "InviteId":{"shape":"String"},
        "Status":{"shape":"InviteStatus"},
        "EmailAddress":{"shape":"EmailAddress"},
        "EmailStatus":{"shape":"EmailStatus"}
      }
    },
    "InviteList":{
      "type":"list",
      "member":{"shape":"Invite"}
    },
    "InviteStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "Accepted",
        "Failed"
      ]
    },
    "InviteUsersRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "UserEmailList"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "UserEmailList":{"shape":"UserEmailList"}
      }
    },
    "InviteUsersResponse":{
      "type":"structure",
      "members":{
        "Invites":{"shape":"InviteList"}
      }
    },
    "Iso8601Timestamp":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "JoinTokenString":{
      "type":"string",
      "max":2048,
      "min":2,
      "sensitive":true
    },
    "License":{
      "type":"string",
      "enum":[
        "Basic",
        "Plus",
        "Pro",
        "ProTrial"
      ]
    },
    "LicenseList":{
      "type":"list",
      "member":{"shape":"License"}
    },
    "ListAccountsRequest":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"AccountName",
          "location":"querystring",
          "locationName":"name"
        },
        "UserEmail":{
          "shape":"EmailAddress",
          "location":"querystring",
          "locationName":"user-email"
        },
        "NextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"next-token"
        },
        "MaxResults":{
          "shape":"ProfileServiceMaxResults",
          "location":"querystring",
          "locationName":"max-results"
        }
      }
    },
    "ListAccountsResponse":{
      "type":"structure",
      "members":{
        "Accounts":{"shape":"AccountList"},
        "NextToken":{"shape":"String"}
      }
    },
    "ListAttendeesRequest":{
      "type":"structure",
      "required":["MeetingId"],
      "members":{
        "MeetingId":{
          "shape":"GuidString",
          "location":"uri",
          "locationName":"meetingId"
        },
        "NextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"next-token"
        },
        "MaxResults":{
          "shape":"ResultMax",
          "location":"querystring",
          "locationName":"max-results"
        }
      }
    },
    "ListAttendeesResponse":{
      "type":"structure",
      "members":{
        "Attendees":{"shape":"AttendeeList"},
        "NextToken":{"shape":"String"}
      }
    },
    "ListBotsRequest":{
      "type":"structure",
      "required":["AccountId"],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "MaxResults":{
          "shape":"ResultMax",
          "location":"querystring",
          "locationName":"max-results"
        },
        "NextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"next-token"
        }
      }
    },
    "ListBotsResponse":{
      "type":"structure",
      "members":{
        "Bots":{"shape":"BotList"},
        "NextToken":{"shape":"String"}
      }
    },
    "ListMeetingsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"next-token"
        },
        "MaxResults":{
          "shape":"ResultMax",
          "location":"querystring",
          "locationName":"max-results"
        }
      }
    },
    "ListMeetingsResponse":{
      "type":"structure",
      "members":{
        "Meetings":{"shape":"MeetingList"},
        "NextToken":{"shape":"String"}
      }
    },
    "ListPhoneNumberOrdersRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"next-token"
        },
        "MaxResults":{
          "shape":"ResultMax",
          "location":"querystring",
          "locationName":"max-results"
        }
      }
    },
    "ListPhoneNumberOrdersResponse":{
      "type":"structure",
      "members":{
        "PhoneNumberOrders":{"shape":"PhoneNumberOrderList"},
        "NextToken":{"shape":"String"}
      }
    },
    "ListPhoneNumbersRequest":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"PhoneNumberStatus",
          "location":"querystring",
          "locationName":"status"
        },
        "ProductType":{
          "shape":"PhoneNumberProductType",
          "location":"querystring",
          "locationName":"product-type"
        },
        "FilterName":{
          "shape":"PhoneNumberAssociationName",
          "location":"querystring",
          "locationName":"filter-name"
        },
        "FilterValue":{
          "shape":"String",
          "location":"querystring",
          "locationName":"filter-value"
        },
        "MaxResults":{
          "shape":"ResultMax",
          "location":"querystring",
          "locationName":"max-results"
        },
        "NextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"next-token"
        }
      }
    },
    "ListPhoneNumbersResponse":{
      "type":"structure",
      "members":{
        "PhoneNumbers":{"shape":"PhoneNumberList"},
        "NextToken":{"shape":"String"}
      }
    },
    "ListRoomMembershipsRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "RoomId"
      ],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "RoomId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"roomId"
        },
        "MaxResults":{
          "shape":"ResultMax",
          "location":"querystring",
          "locationName":"max-results"
        },
        "NextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"next-token"
        }
      }
    },
    "ListRoomMembershipsResponse":{
      "type":"structure",
      "members":{
        "RoomMemberships":{"shape":"RoomMembershipList"},
        "NextToken":{"shape":"String"}
      }
    },
    "ListRoomsRequest":{
      "type":"structure",
      "required":["AccountId"],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "MemberId":{
          "shape":"String",
          "location":"querystring",
          "locationName":"member-id"
        },
        "MaxResults":{
          "shape":"ResultMax",
          "location":"querystring",
          "locationName":"max-results"
        },
        "NextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"next-token"
        }
      }
    },
    "ListRoomsResponse":{
      "type":"structure",
      "members":{
        "Rooms":{"shape":"RoomList"},
        "NextToken":{"shape":"String"}
      }
    },
    "ListUsersRequest":{
      "type":"structure",
      "required":["AccountId"],
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"accountId"
        },
        "UserEmail":{
          "shape":"EmailAddress",
          "location":"querystring",
          "locationName":"user-email"
        },
        "MaxResults":{
          "shape":"ProfileServiceMaxResults",
          "location":"querystring",
          "locationName":"max-results"
        },
        "NextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"next-token"
        }
      }
    },
    "ListUsersResponse":{
      "type":"structure",
      "members":{
        "Users":{"shape":"UserList"},
        "NextToken":{"shape":"String"}
      }
    },
    "ListVoiceConnectorGroupsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"next-token"
        },
        "MaxResults":{
          "shape":"ResultMax",
          "location":"querystring",
          "locationName":"max-results"
        }
      }
    },
    "ListVoiceConnectorGroupsResponse":{
      "type":"structure",
      "members":{
        "VoiceConnectorGroups":{"shape":"VoiceConnectorGroupList"},
        "NextToken":{"shape":"String"}
      }
    },
    "ListVoiceConnectorTerminationCredentialsRequest":{
      "type":"structure",
      "required":["VoiceConnectorId"],
      "members":{
        "VoiceConnectorId":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"voiceConnectorId"
        }
      }
    },
    "ListVoiceConnectorTerminationCredentialsResponse":{
      "type":"structure",
      "members":{
        "Usernames":{"shape":"SensitiveStringList"}
      }
    },
    "ListVoiceConnectorsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"next-token"
        },
        "MaxResults":{
          "shape":"ResultMax",
          "location":"querystring",
          "locationName":"max-results"
        }
      }
    },
    "ListVoiceConnectorsResponse":{
      "type":"structure",
      "members":{
        "VoiceConnectors":{"shape":"VoiceConnectorList"},
        "NextToken":{"shape":"String"}
      }
    },
    "LoggingConfiguration":{
[...]
