body.layout-downloads {
  #inner {
    .downloads {
      margin-top: 20px;

      .description {
        margin-bottom: 20px;
      }

      .download {
        align-items: center;
        border-bottom: 1px solid #b2b2b2;
        display: flex;
        padding: 15px;

        .details {
          padding-left: 20px;

          h2 {
            margin-top: 4px;
            border: none;
          }

          ul {
            padding-left: 0px;
            margin: -8px 0 0 0;
          }

          li {
            display: inline-block;

            &:after {
              content: " | ";
            }

            &:last-child:after {
              content: "";
            }
          }
        }

        .icon {
          svg {
            width: 75px;
          }
        }

        .os-name {
          font-size: 40px;
          margin-bottom: -3px;
        }
      }

      .poweredby {
        margin-top: 20px;
        text-align: center;
      }
    }
  }
}
