#page-home {
  // Override the main header
  #header {
    background: $home-header-background-color;

    .navbar-toggle {
      .icon-bar {
        border: 1px solid $home-header-link-color;
      }
    }

    .navbar-brand {
      a {
        svg.logo {
          @extend svg.logo.color;
        }
      }
    }

    ul.nav {
      li {
        a {
          color: $home-header-link-color;

          &:hover, &:focus, &:active {
            background-color: transparent;
            color: $home-header-link-color-hover;

            svg {
              fill: $home-header-link-color-hover;
            }
          }

          svg {
            fill: $home-header-link-color;
          }
        }
      }
    }
  }

  header {
    .hero {
      margin: 140px auto 160px auto;
      text-align: center;

      .button {
        margin: 5px;

        @media (max-width: 768px) {
          display: block;
          margin-top: 10px;
          text-align: center;
        }
      }

      svg {
        max-width: 90%;
      }
    }
  }

  section {
    background: $white;
    padding: 100px 0;
  }

  section.marketing {
    h2 {
      font-family: $font-family-klavika;
      font-size: 36px;
      font-weight: $font-weight-bold;
      line-height: 1.25;
      letter-spacing: -0.02em;
      margin: 0;
      padding: 0;
    }

    p {
      font-family: $font-family-open-sans;
      font-size: 16px;
      letter-spacing: 0.01em;
      line-height: 1.8;
      margin: 0 0 10px;
    }

    a {
      color: $serf-red;
    }

    span.callout {
      background: $black;
      color: $white;
      display: inline-block;
      font-family: $font-family-klavika;
      font-size: 18px;
      font-weight: $font-weight-bold;
      line-height: 1;
      margin: 0;
      padding: 5px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

    &.pink {
      background: $consul-pink;

      h2 {
        color: $white;
      }

      p {
        color: $white;
        font-weight: $font-weight-bold;
      }

      span.callout {
        background: $white;
        color: $black;
      }
    }

    &.pink-dark {
      background: $consul-pink-dark;

      h2 {
        color: $white;
      }

      p {
        color: $white;
        font-weight: $font-weight-bold;
      }

      span.callout {
        background: $white;
        color: $black;
      }
    }

    &.black {
      background: $black;

      h2 {
        color: $white;
      }

      p {
        color: $white;
        font-weight: $font-weight-bold;
      }

      span.callout {
        background: $white;
        color: $black;
      }
    }

    &#features {
      .feature-icon {
        text-align: center;
      }

      h2, svg {
        padding-top: 50px;
      }

      svg {
        margin-top: 20px;
      }
    }

    &#cta {
      margin-top: -150px;
      padding: 0 0 50px 0;
      text-align: center;
    }
  }
}
