#inner {
  p, li, .alert {
    font-size: $font-size;
    font-family: $font-family-open-sans;
    font-weight: $font-weight-reg;
    line-height: 1.84em;
    margin: 0 0 $font-size;
    -webkit-font-smoothing: antialiased;
  }

  .alert p:last-child {
    margin-bottom: 0;
  }

  pre,
  code,
  pre code,
  tt {
    font-family: $font-family-monospace;
    font-size: $font-size - 2;
    line-height: 1.6;
  }

  pre {
    padding: 20px;
    margin: 0 0 $font-size;

    // This will force the code to scroll horizontally on small screens
    // instead of wrapping.
    code {
      overflow-wrap: normal;
      white-space: pre;
    }
  }

  a {
    color: $body-link-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    code {
      background: inherit;
      color: $body-link-color;
    }
  }

  img {
    display: block;
    margin: 25px auto;
    max-width: 650px;
    height: auto;
    width: 90%;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $body-font-color;
    margin-top: 54px;
    margin-bottom: $font-size;
    line-height: 1.3;
  }

  h2 {
    padding-bottom: 3px;
    border-bottom: 1px solid $gray-light;
  }

  h1 > code,
  h2 > code,
  h3 > code,
  h4 > code,
  h5 > code
  h6 > code,
  li code,
  table code,
  p code,
  tt,
  .alert code {
    font-family: $font-family-monospace;
    font-size: 90%;
    background-color: transparent;
    color: inherit;
    padding: 0;
  }

  table {
    @extend .table;
    @extend .table-striped;
  }
}
