{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2019-11-15",
    "endpointPrefix":"frauddetector",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceFullName":"Amazon Fraud Detector",
    "serviceId":"FraudDetector",
    "signatureVersion":"v4",
    "targetPrefix":"AWSHawksNestServiceFacade",
    "uid":"frauddetector-2019-11-15"
  },
  "operations":{
    "BatchCreateVariable":{
      "name":"BatchCreateVariable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchCreateVariableRequest"},
      "output":{"shape":"BatchCreateVariableResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "BatchGetVariable":{
      "name":"BatchGetVariable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetVariableRequest"},
      "output":{"shape":"BatchGetVariableResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateDetectorVersion":{
      "name":"CreateDetectorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDetectorVersionRequest"},
      "output":{"shape":"CreateDetectorVersionResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateModelVersion":{
      "name":"CreateModelVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelVersionRequest"},
      "output":{"shape":"CreateModelVersionResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateRule":{
      "name":"CreateRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRuleRequest"},
      "output":{"shape":"CreateRuleResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateVariable":{
      "name":"CreateVariable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVariableRequest"},
      "output":{"shape":"CreateVariableResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DeleteDetectorVersion":{
      "name":"DeleteDetectorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDetectorVersionRequest"},
      "output":{"shape":"DeleteDetectorVersionResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DeleteEvent":{
      "name":"DeleteEvent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEventRequest"},
      "output":{"shape":"DeleteEventResult"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DescribeDetector":{
      "name":"DescribeDetector",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDetectorRequest"},
      "output":{"shape":"DescribeDetectorResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DescribeModelVersions":{
      "name":"DescribeModelVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeModelVersionsRequest"},
      "output":{"shape":"DescribeModelVersionsResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "GetDetectorVersion":{
      "name":"GetDetectorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDetectorVersionRequest"},
      "output":{"shape":"GetDetectorVersionResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "GetDetectors":{
      "name":"GetDetectors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDetectorsRequest"},
      "output":{"shape":"GetDetectorsResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "GetExternalModels":{
      "name":"GetExternalModels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetExternalModelsRequest"},
      "output":{"shape":"GetExternalModelsResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "GetModelVersion":{
      "name":"GetModelVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetModelVersionRequest"},
      "output":{"shape":"GetModelVersionResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "GetModels":{
      "name":"GetModels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetModelsRequest"},
      "output":{"shape":"GetModelsResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "GetOutcomes":{
      "name":"GetOutcomes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOutcomesRequest"},
      "output":{"shape":"GetOutcomesResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "GetPrediction":{
      "name":"GetPrediction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPredictionRequest"},
      "output":{"shape":"GetPredictionResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "GetRules":{
      "name":"GetRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRulesRequest"},
      "output":{"shape":"GetRulesResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "GetVariables":{
      "name":"GetVariables",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetVariablesRequest"},
      "output":{"shape":"GetVariablesResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "PutDetector":{
      "name":"PutDetector",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutDetectorRequest"},
      "output":{"shape":"PutDetectorResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "PutExternalModel":{
      "name":"PutExternalModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutExternalModelRequest"},
      "output":{"shape":"PutExternalModelResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "PutModel":{
      "name":"PutModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutModelRequest"},
      "output":{"shape":"PutModelResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "PutOutcome":{
      "name":"PutOutcome",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutOutcomeRequest"},
      "output":{"shape":"PutOutcomeResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "UpdateDetectorVersion":{
      "name":"UpdateDetectorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDetectorVersionRequest"},
      "output":{"shape":"UpdateDetectorVersionResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "UpdateDetectorVersionMetadata":{
      "name":"UpdateDetectorVersionMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDetectorVersionMetadataRequest"},
      "output":{"shape":"UpdateDetectorVersionMetadataResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "UpdateDetectorVersionStatus":{
      "name":"UpdateDetectorVersionStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDetectorVersionStatusRequest"},
      "output":{"shape":"UpdateDetectorVersionStatusResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "UpdateModelVersion":{
      "name":"UpdateModelVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateModelVersionRequest"},
      "output":{"shape":"UpdateModelVersionResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "UpdateRuleMetadata":{
      "name":"UpdateRuleMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateRuleMetadataRequest"},
      "output":{"shape":"UpdateRuleMetadataResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "UpdateRuleVersion":{
      "name":"UpdateRuleVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateRuleVersionRequest"},
      "output":{"shape":"UpdateRuleVersionResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "UpdateVariable":{
      "name":"UpdateVariable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateVariableRequest"},
      "output":{"shape":"UpdateVariableResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    }
  },
  "shapes":{
    "BatchCreateVariableError":{
      "type":"structure",
      "members":{
        "name":{"shape":"string"},
        "code":{"shape":"integer"},
        "message":{"shape":"string"}
      }
    },
    "BatchCreateVariableErrorList":{
      "type":"list",
      "member":{"shape":"BatchCreateVariableError"}
    },
    "BatchCreateVariableRequest":{
      "type":"structure",
      "required":["variableEntries"],
      "members":{
        "variableEntries":{"shape":"VariableEntryList"}
      }
    },
    "BatchCreateVariableResult":{
      "type":"structure",
      "members":{
        "errors":{"shape":"BatchCreateVariableErrorList"}
      }
    },
    "BatchGetVariableError":{
      "type":"structure",
      "members":{
        "name":{"shape":"string"},
        "code":{"shape":"integer"},
        "message":{"shape":"string"}
      }
    },
    "BatchGetVariableErrorList":{
      "type":"list",
      "member":{"shape":"BatchGetVariableError"}
    },
    "BatchGetVariableRequest":{
      "type":"structure",
      "required":["names"],
      "members":{
        "names":{"shape":"NameList"}
      }
    },
    "BatchGetVariableResult":{
      "type":"structure",
      "members":{
        "variables":{"shape":"VariableList"},
        "errors":{"shape":"BatchGetVariableErrorList"}
      }
    },
    "CreateDetectorVersionRequest":{
      "type":"structure",
      "required":[
        "detectorId",
        "rules"
      ],
      "members":{
        "detectorId":{"shape":"identifier"},
        "description":{"shape":"description"},
        "externalModelEndpoints":{"shape":"ListOfStrings"},
        "rules":{"shape":"RuleList"},
        "modelVersions":{"shape":"ListOfModelVersions"}
      }
    },
    "CreateDetectorVersionResult":{
      "type":"structure",
      "members":{
        "detectorId":{"shape":"identifier"},
        "detectorVersionId":{"shape":"nonEmptyString"},
        "status":{"shape":"DetectorVersionStatus"}
      }
    },
    "CreateModelVersionRequest":{
      "type":"structure",
      "required":[
        "modelId",
        "modelType"
      ],
      "members":{
        "modelId":{"shape":"identifier"},
        "modelType":{"shape":"ModelTypeEnum"},
        "description":{"shape":"description"}
      }
    },
    "CreateModelVersionResult":{
      "type":"structure",
      "members":{
        "modelId":{"shape":"identifier"},
        "modelType":{"shape":"ModelTypeEnum"},
        "modelVersionNumber":{"shape":"nonEmptyString"},
        "status":{"shape":"string"}
      }
    },
    "CreateRuleRequest":{
      "type":"structure",
      "required":[
        "ruleId",
        "detectorId",
        "expression",
        "language",
        "outcomes"
      ],
      "members":{
        "ruleId":{"shape":"identifier"},
        "detectorId":{"shape":"identifier"},
        "description":{"shape":"description"},
        "expression":{"shape":"ruleExpression"},
        "language":{"shape":"Language"},
        "outcomes":{"shape":"NonEmptyListOfStrings"}
      }
    },
    "CreateRuleResult":{
      "type":"structure",
      "members":{
        "rule":{"shape":"Rule"}
      }
    },
    "CreateVariableRequest":{
      "type":"structure",
      "required":[
        "name",
        "dataType",
        "dataSource",
        "defaultValue"
      ],
      "members":{
        "name":{"shape":"string"},
        "dataType":{"shape":"DataType"},
        "dataSource":{"shape":"DataSource"},
        "defaultValue":{"shape":"string"},
        "description":{"shape":"string"},
        "variableType":{"shape":"string"}
      }
    },
    "CreateVariableResult":{
      "type":"structure",
      "members":{
      }
    },
    "CsvIndexToVariableMap":{
      "type":"map",
      "key":{"shape":"string"},
      "value":{"shape":"string"}
    },
    "DataSource":{
      "type":"string",
      "enum":[
        "EVENT",
        "MODEL_SCORE",
        "EXTERNAL_MODEL_SCORE"
      ]
    },
    "DataType":{
      "type":"string",
      "enum":[
        "STRING",
        "INTEGER",
        "FLOAT",
        "BOOLEAN"
      ]
    },
    "DeleteDetectorVersionRequest":{
      "type":"structure",
      "required":[
        "detectorId",
        "detectorVersionId"
      ],
      "members":{
        "detectorId":{"shape":"identifier"},
        "detectorVersionId":{"shape":"nonEmptyString"}
      }
    },
    "DeleteDetectorVersionResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteEventRequest":{
      "type":"structure",
      "required":["eventId"],
      "members":{
        "eventId":{"shape":"string"}
      }
    },
    "DeleteEventResult":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeDetectorRequest":{
      "type":"structure",
      "required":["detectorId"],
      "members":{
        "detectorId":{"shape":"identifier"},
        "nextToken":{"shape":"string"},
        "maxResults":{"shape":"DetectorVersionMaxResults"}
      }
    },
    "DescribeDetectorResult":{
      "type":"structure",
      "members":{
        "detectorId":{"shape":"identifier"},
        "detectorVersionSummaries":{"shape":"DetectorVersionSummaryList"},
        "nextToken":{"shape":"string"}
      }
    },
    "DescribeModelVersionsRequest":{
      "type":"structure",
      "members":{
        "modelId":{"shape":"identifier"},
        "modelVersionNumber":{"shape":"nonEmptyString"},
        "modelType":{"shape":"ModelTypeEnum"},
        "nextToken":{"shape":"string"},
        "maxResults":{"shape":"MaxResults"}
      }
    },
    "DescribeModelVersionsResult":{
      "type":"structure",
      "members":{
        "modelVersionDetails":{"shape":"ModelVersionDetailList"},
        "nextToken":{"shape":"string"}
      }
    },
    "Detector":{
      "type":"structure",
      "members":{
        "detectorId":{"shape":"identifier"},
        "description":{"shape":"description"},
        "lastUpdatedTime":{"shape":"time"},
        "createdTime":{"shape":"time"}
      }
    },
    "DetectorList":{
      "type":"list",
      "member":{"shape":"Detector"}
    },
    "DetectorVersionMaxResults":{
      "type":"integer",
      "box":true,
      "max":2500,
      "min":1000
    },
    "DetectorVersionStatus":{
      "type":"string",
      "enum":[
        "DRAFT",
        "ACTIVE",
        "INACTIVE"
      ]
    },
    "DetectorVersionSummary":{
      "type":"structure",
      "members":{
        "detectorVersionId":{"shape":"nonEmptyString"},
        "status":{"shape":"DetectorVersionStatus"},
        "description":{"shape":"description"},
        "lastUpdatedTime":{"shape":"time"}
      }
    },
    "DetectorVersionSummaryList":{
      "type":"list",
      "member":{"shape":"DetectorVersionSummary"}
    },
    "DetectorsMaxResults":{
      "type":"integer",
      "box":true,
      "max":10,
      "min":5
    },
    "EventAttributeMap":{
      "type":"map",
      "key":{"shape":"attributeKey"},
      "value":{"shape":"attributeValue"}
    },
    "ExternalModel":{
      "type":"structure",
      "members":{
        "modelEndpoint":{"shape":"string"},
        "modelSource":{"shape":"ModelSource"},
        "role":{"shape":"Role"},
        "inputConfiguration":{"shape":"ModelInputConfiguration"},
        "outputConfiguration":{"shape":"ModelOutputConfiguration"},
        "modelEndpointStatus":{"shape":"ModelEndpointStatus"},
        "lastUpdatedTime":{"shape":"time"},
        "createdTime":{"shape":"time"}
      }
    },
    "ExternalModelEndpointDataBlobMap":{
      "type":"map",
      "key":{"shape":"string"},
      "value":{"shape":"ModelEndpointDataBlob"},
      "sensitive":true
    },
    "ExternalModelList":{
      "type":"list",
      "member":{"shape":"ExternalModel"}
    },
    "ExternalModelsMaxResults":{
      "type":"integer",
      "box":true,
      "max":10,
      "min":5
    },
    "GetDetectorVersionRequest":{
      "type":"structure",
      "required":[
        "detectorId",
        "detectorVersionId"
      ],
      "members":{
        "detectorId":{"shape":"identifier"},
        "detectorVersionId":{"shape":"nonEmptyString"}
      }
    },
    "GetDetectorVersionResult":{
      "type":"structure",
      "members":{
        "detectorId":{"shape":"identifier"},
        "detectorVersionId":{"shape":"nonEmptyString"},
        "description":{"shape":"description"},
        "externalModelEndpoints":{"shape":"ListOfStrings"},
        "modelVersions":{"shape":"ListOfModelVersions"},
        "rules":{"shape":"RuleList"},
        "status":{"shape":"DetectorVersionStatus"},
        "lastUpdatedTime":{"shape":"time"},
        "createdTime":{"shape":"time"}
      }
    },
    "GetDetectorsRequest":{
      "type":"structure",
      "members":{
        "detectorId":{"shape":"identifier"},
        "nextToken":{"shape":"string"},
        "maxResults":{"shape":"DetectorsMaxResults"}
      }
    },
    "GetDetectorsResult":{
      "type":"structure",
      "members":{
        "detectors":{"shape":"DetectorList"},
        "nextToken":{"shape":"string"}
      }
    },
    "GetExternalModelsRequest":{
      "type":"structure",
      "members":{
        "modelEndpoint":{"shape":"string"},
        "nextToken":{"shape":"string"},
        "maxResults":{"shape":"ExternalModelsMaxResults"}
      }
    },
    "GetExternalModelsResult":{
      "type":"structure",
      "members":{
        "externalModels":{"shape":"ExternalModelList"},
        "nextToken":{"shape":"string"}
      }
    },
    "GetModelVersionRequest":{
      "type":"structure",
      "required":[
        "modelId",
        "modelType",
        "modelVersionNumber"
      ],
      "members":{
        "modelId":{"shape":"identifier"},
        "modelType":{"shape":"ModelTypeEnum"},
        "modelVersionNumber":{"shape":"nonEmptyString"}
      }
    },
    "GetModelVersionResult":{
      "type":"structure",
      "members":{
        "modelId":{"shape":"identifier"},
        "modelType":{"shape":"ModelTypeEnum"},
        "modelVersionNumber":{"shape":"nonEmptyString"},
        "description":{"shape":"description"},
        "status":{"shape":"string"}
      }
    },
    "GetModelsRequest":{
      "type":"structure",
      "members":{
        "modelType":{"shape":"ModelTypeEnum"},
        "modelId":{"shape":"identifier"},
        "nextToken":{"shape":"string"},
        "maxResults":{"shape":"MaxResults"}
      }
    },
    "GetModelsResult":{
      "type":"structure",
      "members":{
        "nextToken":{"shape":"string"},
        "models":{"shape":"ModelList"}
      }
    },
    "GetOutcomesRequest":{
      "type":"structure",
      "members":{
        "name":{"shape":"identifier"},
        "nextToken":{"shape":"string"},
        "maxResults":{"shape":"OutcomesMaxResults"}
      }
    },
    "GetOutcomesResult":{
      "type":"structure",
      "members":{
        "outcomes":{"shape":"OutcomeList"},
        "nextToken":{"shape":"string"}
      }
    },
    "GetPredictionRequest":{
      "type":"structure",
      "required":[
        "detectorId",
        "eventId"
      ],
      "members":{
        "detectorId":{"shape":"string"},
        "detectorVersionId":{"shape":"string"},
        "eventId":{"shape":"string"},
        "eventAttributes":{"shape":"EventAttributeMap"},
        "externalModelEndpointDataBlobs":{"shape":"ExternalModelEndpointDataBlobMap"}
      }
    },
    "GetPredictionResult":{
      "type":"structure",
      "members":{
        "outcomes":{"shape":"ListOfStrings"},
        "modelScores":{"shape":"ListOfModelScores"}
      }
    },
    "GetRulesRequest":{
      "type":"structure",
      "required":["detectorId"],
      "members":{
        "ruleId":{"shape":"identifier"},
        "detectorId":{"shape":"identifier"},
        "ruleVersion":{"shape":"nonEmptyString"},
        "nextToken":{"shape":"string"},
        "maxResults":{"shape":"RulesMaxResults"}
      }
    },
    "GetRulesResult":{
      "type":"structure",
      "members":{
        "ruleDetails":{"shape":"RuleDetailList"},
        "nextToken":{"shape":"string"}
      }
    },
    "GetVariablesRequest":{
      "type":"structure",
      "members":{
        "name":{"shape":"string"},
        "nextToken":{"shape":"string"},
        "maxResults":{"shape":"VariablesMaxResults"}
      }
    },
    "GetVariablesResult":{
      "type":"structure",
      "members":{
        "variables":{"shape":"VariableList"},
        "nextToken":{"shape":"string"}
      }
    },
    "InternalServerException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"string"}
      },
      "exception":true,
      "fault":true
    },
    "IsOpaque":{"type":"boolean"},
    "JsonKeyToVariableMap":{
      "type":"map",
      "key":{"shape":"string"},
      "value":{"shape":"string"}
    },
    "LabelMapper":{
      "type":"map",
      "key":{"shape":"string"},
      "value":{"shape":"ListOfStrings"}
    },
    "LabelSchema":{
      "type":"structure",
      "required":[
        "labelKey",
        "labelMapper"
      ],
      "members":{
        "labelKey":{"shape":"string"},
        "labelMapper":{"shape":"LabelMapper"}
      }
    },
    "Language":{
      "type":"string",
      "enum":["DETECTORPL"]
    },
    "ListOfModelScores":{
      "type":"list",
      "member":{"shape":"ModelScores"}
    },
    "ListOfModelVersions":{
      "type":"list",
      "member":{"shape":"ModelVersion"}
    },
    "ListOfStrings":{
      "type":"list",
      "member":{"shape":"string"}
    },
    "MaxResults":{
      "type":"integer",
      "box":true,
      "max":10,
      "min":1
    },
    "MetricsMap":{
      "type":"map",
      "key":{"shape":"string"},
      "value":{"shape":"string"}
    },
    "Model":{
      "type":"structure",
      "members":{
        "modelId":{"shape":"identifier"},
        "modelType":{"shape":"ModelTypeEnum"},
        "description":{"shape":"description"},
        "trainingDataSource":{"shape":"TrainingDataSource"},
        "modelVariables":{"shape":"ModelVariablesList"},
        "labelSchema":{"shape":"LabelSchema"},
        "lastUpdatedTime":{"shape":"time"},
        "createdTime":{"shape":"time"}
      }
    },
    "ModelEndpointDataBlob":{
      "type":"structure",
      "members":{
        "byteBuffer":{"shape":"blob"},
        "contentType":{"shape":"contentType"}
      }
    },
    "ModelEndpointStatus":{
      "type":"string",
      "enum":[
        "ASSOCIATED",
        "DISSOCIATED"
      ]
    },
    "ModelInputConfiguration":{
      "type":"structure",
      "required":["isOpaque"],
      "members":{
        "format":{"shape":"ModelInputDataFormat"},
        "isOpaque":{"shape":"IsOpaque"},
        "jsonInputTemplate":{"shape":"string"},
        "csvInputTemplate":{"shape":"string"}
      }
    },
    "ModelInputDataFormat":{
      "type":"string",
      "enum":[
        "TEXT_CSV",
        "APPLICATION_JSON"
      ]
    },
    "ModelList":{
      "type":"list",
      "member":{"shape":"Model"}
    },
    "ModelOutputConfiguration":{
      "type":"structure",
      "required":["format"],
      "members":{
        "format":{"shape":"ModelOutputDataFormat"},
        "jsonKeyToVariableMap":{"shape":"JsonKeyToVariableMap"},
        "csvIndexToVariableMap":{"shape":"CsvIndexToVariableMap"}
      }
    },
    "ModelOutputDataFormat":{
      "type":"string",
      "enum":[
        "TEXT_CSV",
        "APPLICATION_JSONLINES"
      ]
    },
    "ModelPredictionMap":{
      "type":"map",
      "key":{"shape":"string"},
      "value":{"shape":"float"}
    },
    "ModelScores":{
      "type":"structure",
      "members":{
        "modelVersion":{"shape":"ModelVersion"},
        "scores":{"shape":"ModelPredictionMap"}
      }
    },
    "ModelSource":{
      "type":"string",
      "enum":["SAGEMAKER"]
    },
    "ModelTypeEnum":{
      "type":"string",
      "enum":["ONLINE_FRAUD_INSIGHTS"]
    },
    "ModelVariable":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"string"},
        "index":{"shape":"ModelVariableIndex"}
      }
    },
    "ModelVariableIndex":{"type":"integer"},
    "ModelVariablesList":{
      "type":"list",
      "member":{"shape":"ModelVariable"}
    },
    "ModelVersion":{
      "type":"structure",
      "required":[
        "modelId",
        "modelType",
        "modelVersionNumber"
      ],
      "members":{
        "modelId":{"shape":"identifier"},
        "modelType":{"shape":"ModelTypeEnum"},
        "modelVersionNumber":{"shape":"nonEmptyString"}
      }
    },
    "ModelVersionDetail":{
      "type":"structure",
      "members":{
        "modelId":{"shape":"identifier"},
        "modelType":{"shape":"ModelTypeEnum"},
        "modelVersionNumber":{"shape":"nonEmptyString"},
        "description":{"shape":"description"},
        "status":{"shape":"string"},
        "trainingDataSource":{"shape":"TrainingDataSource"},
        "modelVariables":{"shape":"ModelVariablesList"},
        "labelSchema":{"shape":"LabelSchema"},
        "validationMetrics":{"shape":"MetricsMap"},
        "trainingMetrics":{"shape":"MetricsMap"},
        "lastUpdatedTime":{"shape":"time"},
        "createdTime":{"shape":"time"}
      }
    },
    "ModelVersionDetailList":{
      "type":"list",
      "member":{"shape":"ModelVersionDetail"}
    },
    "ModelVersionStatus":{
      "type":"string",
      "enum":[
        "TRAINING_IN_PROGRESS",
        "TRAINING_COMPLETE",
        "ACTIVATE_REQUESTED",
        "ACTIVATE_IN_PROGRESS",
        "ACTIVE",
        "INACTIVATE_IN_PROGRESS",
        "INACTIVE",
        "ERROR"
      ]
    },
    "NameList":{
      "type":"list",
      "member":{"shape":"string"},
      "max":100,
      "min":1
    },
    "NonEmptyListOfStrings":{
      "type":"list",
      "member":{"shape":"string"},
      "min":1
    },
    "Outcome":{
      "type":"structure",
      "members":{
        "name":{"shape":"identifier"},
        "description":{"shape":"description"},
        "lastUpdatedTime":{"shape":"time"},
        "createdTime":{"shape":"time"}
      }
    },
    "OutcomeList":{
      "type":"list",
      "member":{"shape":"Outcome"}
    },
    "OutcomesMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":50
    },
    "PutDetectorRequest":{
      "type":"structure",
      "required":["detectorId"],
      "members":{
        "detectorId":{"shape":"identifier"},
        "description":{"shape":"description"}
      }
    },
    "PutDetectorResult":{
      "type":"structure",
      "members":{
      }
    },
    "PutExternalModelRequest":{
      "type":"structure",
      "required":[
        "modelEndpoint",
        "modelSource",
        "role",
        "inputConfiguration",
        "outputConfiguration",
        "modelEndpointStatus"
      ],
      "members":{
        "modelEndpoint":{"shape":"string"},
        "modelSource":{"shape":"ModelSource"},
        "role":{"shape":"Role"},
        "inputConfiguration":{"shape":"ModelInputConfiguration"},
        "outputConfiguration":{"shape":"ModelOutputConfiguration"},
        "modelEndpointStatus":{"shape":"ModelEndpointStatus"}
      }
    },
    "PutExternalModelResult":{
      "type":"structure",
      "members":{
      }
    },
    "PutModelRequest":{
      "type":"structure",
      "required":[
        "modelId",
        "modelType",
        "trainingDataSource",
        "modelVariables",
        "labelSchema"
      ],
      "members":{
        "modelId":{"shape":"identifier"},
        "modelType":{"shape":"ModelTypeEnum"},
        "description":{"shape":"description"},
        "trainingDataSource":{"shape":"TrainingDataSource"},
        "modelVariables":{"shape":"ModelVariablesList"},
        "labelSchema":{"shape":"LabelSchema"}
      }
    },
    "PutModelResult":{
      "type":"structure",
      "members":{
      }
    },
    "PutOutcomeRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"identifier"},
        "description":{"shape":"description"}
      }
    },
    "PutOutcomeResult":{
      "type":"structure",
      "members":{
      }
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"string"}
      },
      "exception":true
    },
    "Role":{
      "type":"structure",
      "required":[
        "arn",
        "name"
      ],
      "members":{
        "arn":{"shape":"string"},
        "name":{"shape":"string"}
      }
    },
    "Rule":{
      "type":"structure",
      "required":[
        "detectorId",
        "ruleId",
        "ruleVersion"
      ],
      "members":{
        "detectorId":{"shape":"identifier"},
        "ruleId":{"shape":"identifier"},
        "ruleVersion":{"shape":"nonEmptyString"}
      }
    },
    "RuleDetail":{
      "type":"structure",
      "members":{
        "ruleId":{"shape":"identifier"},
        "description":{"shape":"description"},
        "detectorId":{"shape":"identifier"},
        "ruleVersion":{"shape":"nonEmptyString"},
        "expression":{"shape":"ruleExpression"},
        "language":{"shape":"Language"},
        "outcomes":{"shape":"NonEmptyListOfStrings"},
        "lastUpdatedTime":{"shape":"time"},
        "createdTime":{"shape":"time"}
      }
    },
    "RuleDetailList":{
      "type":"list",
      "member":{"shape":"RuleDetail"}
    },
    "RuleList":{
      "type":"list",
      "member":{"shape":"Rule"}
    },
    "RulesMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":50
    },
    "ThrottlingException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"string"}
      },
      "exception":true
    },
    "TrainingDataSource":{
      "type":"structure",
      "required":[
        "dataLocation",
        "dataAccessRoleArn"
      ],
      "members":{
        "dataLocation":{"shape":"s3BucketLocation"},
        "dataAccessRoleArn":{"shape":"iamRoleArn"}
      }
    },
    "UpdateDetectorVersionMetadataRequest":{
      "type":"structure",
      "required":[
        "detectorId",
        "detectorVersionId",
        "description"
      ],
      "members":{
        "detectorId":{"shape":"identifier"},
        "detectorVersionId":{"shape":"nonEmptyString"},
        "description":{"shape":"description"}
      }
    },
    "UpdateDetectorVersionMetadataResult":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateDetectorVersionRequest":{
      "type":"structure",
      "required":[
        "detectorId",
        "detectorVersionId",
        "externalModelEndpoints",
        "rules"
      ],
      "members":{
        "detectorId":{"shape":"identifier"},
        "detectorVersionId":{"shape":"nonEmptyString"},
        "externalModelEndpoints":{"shape":"ListOfStrings"},
        "rules":{"shape":"RuleList"},
        "description":{"shape":"description"},
        "modelVersions":{"shape":"ListOfModelVersions"}
      }
    },
    "UpdateDetectorVersionResult":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateDetectorVersionStatusRequest":{
      "type":"structure",
      "required":[
        "detectorId",
        "detectorVersionId",
        "status"
      ],
      "members":{
        "detectorId":{"shape":"identifier"},
        "detectorVersionId":{"shape":"nonEmptyString"},
        "status":{"shape":"DetectorVersionStatus"}
      }
    },
    "UpdateDetectorVersionStatusResult":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateModelVersionRequest":{
      "type":"structure",
      "required":[
        "modelId",
        "modelType",
        "modelVersionNumber",
        "description",
        "status"
      ],
      "members":{
        "modelId":{"shape":"identifier"},
        "modelType":{"shape":"ModelTypeEnum"},
        "modelVersionNumber":{"shape":"nonEmptyString"},
        "description":{"shape":"description"},
        "status":{"shape":"ModelVersionStatus"}
      }
    },
    "UpdateModelVersionResult":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateRuleMetadataRequest":{
      "type":"structure",
      "required":[
        "rule",
        "description"
      ],
      "members":{
        "rule":{"shape":"Rule"},
        "description":{"shape":"description"}
      }
    },
    "UpdateRuleMetadataResult":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateRuleVersionRequest":{
      "type":"structure",
      "required":[
        "rule",
        "expression",
        "language",
        "outcomes"
      ],
      "members":{
        "rule":{"shape":"Rule"},
        "description":{"shape":"description"},
        "expression":{"shape":"ruleExpression"},
        "language":{"shape":"Language"},
        "outcomes":{"shape":"NonEmptyListOfStrings"}
      }
    },
    "UpdateRuleVersionResult":{
      "type":"structure",
      "members":{
        "rule":{"shape":"Rule"}
      }
    },
    "UpdateVariableRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"string"},
        "defaultValue":{"shape":"string"},
        "description":{"shape":"string"},
        "variableType":{"shape":"string"}
      }
    },
    "UpdateVariableResult":{
      "type":"structure",
      "members":{
      }
    },
    "ValidationException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"string"}
      },
      "exception":true
    },
    "Variable":{
      "type":"structure",
      "members":{
        "name":{"shape":"string"},
        "dataType":{"shape":"DataType"},
        "dataSource":{"shape":"DataSource"},
        "defaultValue":{"shape":"string"},
        "description":{"shape":"string"},
        "variableType":{"shape":"string"},
        "lastUpdatedTime":{"shape":"time"},
        "createdTime":{"shape":"time"}
      }
    },
    "VariableEntry":{
      "type":"structure",
      "members":{
        "name":{"shape":"string"},
        "dataType":{"shape":"string"},
        "dataSource":{"shape":"string"},
        "defaultValue":{"shape":"string"},
        "description":{"shape":"string"},
        "variableType":{"shape":"string"}
      }
    },
    "VariableEntryList":{
      "type":"list",
      "member":{"shape":"VariableEntry"},
      "max":25,
      "min":1
    },
    "VariableList":{
      "type":"list",
      "member":{"shape":"Variable"}
    },
    "VariablesMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":50
    },
    "attributeKey":{
      "type":"string",
      "max":64,
      "min":1
    },
    "attributeValue":{
      "type":"string",
      "max":256,
      "min":1,
      "sensitive":true
    },
    "blob":{"type":"blob"},
    "contentType":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "description":{
      "type":"string",
      "max":128,
      "min":1
    },
    "float":{"type":"float"},
    "iamRoleArn":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"^arn\\:aws\\:iam\\:\\:[0-9]{12}\\:role\\/[^\\s]{2,64}$"
    },
    "identifier":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"^[0-9a-z_-]+$"
    },
    "integer":{"type":"integer"},
    "nonEmptyString":{
      "type":"string",
      "min":1
    },
    "ruleExpression":{
      "type":"string",
      "max":4096,
      "min":1
    },
    "s3BucketLocation":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"^s3:\\/\\/[^\\s]+$"
    },
    "string":{"type":"string"},
    "time":{"type":"string"}
  }
}
