{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tagmanager.delete.containers": {
          "description": "Delete your Google Tag Manager containers"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containers": {
          "description": "Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
          "description": "Manage your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
          "description": "View and manage your Google Tag Manager accounts"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.users": {
          "description": "Manage user permissions of your Google Tag Manager account and container"
        },
        "https://www.googleapis.com/auth/tagmanager.publish": {
          "description": "Publish your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.readonly": {
          "description": "View your Google Tag Manager container and its subcomponents"
        }
      }
    }
  },
  "basePath": "/tagmanager/v2/",
  "baseUrl": "https://www.googleapis.com/tagmanager/v2/",
  "batchPath": "batch/tagmanager/v2",
  "canonicalName": "Tag Manager",
  "description": "Accesses Tag Manager accounts and containers.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/tag-manager/api/v2/",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/DTmHY5YcSH4XeouavtxWfeZiT6M\"",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "id": "tagmanager:v2",
  "kind": "discovery#restDescription",
  "name": "tagmanager",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "accounts": {
      "methods": {
        "get": {
          "description": "Gets a GTM Account.",
          "httpMethod": "GET",
          "id": "tagmanager.accounts.get",
          "parameterOrder": [
            "path"
          ],
          "parameters": {
            "path": {
              "description": "GTM Accounts's API relative path. Example: accounts/{account_id}",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{+path}",
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ]
        },
        "list": {
          "description": "Lists all GTM Accounts that a user has access to.",
          "httpMethod": "GET",
          "id": "tagmanager.accounts.list",
          "parameters": {
            "pageToken": {
              "description": "Continuation token for fetching the next page of results.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "accounts",
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ]
        },
        "update": {
          "description": "Updates a GTM Account.",
          "httpMethod": "PUT",
          "id": "tagmanager.accounts.update",
          "parameterOrder": [
            "path"
          ],
          "parameters": {
            "fingerprint": {
              "description": "When provided, this fingerprint must match the fingerprint of the account in storage.",
              "location": "query",
              "type": "string"
            },
            "path": {
              "description": "GTM Accounts's API relative path. Example: accounts/{account_id}",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{+path}",
          "request": {
            "$ref": "Account"
          },
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ]
        }
      },
      "resources": {
        "containers": {
          "methods": {
            "create": {
              "description": "Creates a Container.",
              "httpMethod": "POST",
              "id": "tagmanager.accounts.containers.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "GTM Account's API relative path. Example: accounts/{account_id}.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{+parent}/containers",
              "request": {
                "$ref": "Container"
              },
              "response": {
                "$ref": "Container"
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ]
            },
            "delete": {
              "description": "Deletes a Container.",
              "httpMethod": "DELETE",
              "id": "tagmanager.accounts.containers.delete",
              "parameterOrder": [
                "path"
              ],
              "parameters": {
                "path": {
                  "description": "GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{+path}",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.delete.containers"
              ]
            },
            "get": {
              "description": "Gets a Container.",
              "httpMethod": "GET",
              "id": "tagmanager.accounts.containers.get",
              "parameterOrder": [
                "path"
              ],
              "parameters": {
                "path": {
                  "description": "GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{+path}",
              "response": {
                "$ref": "Container"
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ]
            },
            "list": {
              "description": "Lists all Containers that belongs to a GTM Account.",
              "httpMethod": "GET",
              "id": "tagmanager.accounts.containers.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "GTM Accounts's API relative path. Example: accounts/{account_id}.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{+parent}/containers",
              "response": {
                "$ref": "ListContainersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ]
            },
            "update": {
              "description": "Updates a Container.",
              "httpMethod": "PUT",
              "id": "tagmanager.accounts.containers.update",
              "parameterOrder": [
                "path"
              ],
              "parameters": {
                "fingerprint": {
                  "description": "When provided, this fingerprint must match the fingerprint of the container in storage.",
                  "location": "query",
                  "type": "string"
                },
                "path": {
                  "description": "GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "{+path}",
              "request": {
                "$ref": "Container"
              },
              "response": {
                "$ref": "Container"
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ]
            }
          },
          "resources": {
            "environments": {
              "methods": {
                "create": {
                  "description": "Creates a GTM Environment.",
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.environments.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+parent}/environments",
                  "request": {
                    "$ref": "Environment"
                  },
                  "response": {
                    "$ref": "Environment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "delete": {
                  "description": "Deletes a GTM Environment.",
                  "httpMethod": "DELETE",
                  "id": "tagmanager.accounts.containers.environments.delete",
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "path": {
                      "description": "GTM Environment's API relative path. Example: accounts/{account_id}/containers/{container_id}/environments/{environment_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+path}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "get": {
                  "description": "Gets a GTM Environment.",
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.environments.get",
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "path": {
                      "description": "GTM Environment's API relative path. Example: accounts/{account_id}/containers/{container_id}/environments/{environment_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+path}",
                  "response": {
                    "$ref": "Environment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "list": {
                  "description": "Lists all GTM Environments of a GTM Container.",
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.environments.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "Continuation token for fetching the next page of results.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+parent}/environments",
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "reauthorize": {
                  "description": "Re-generates the authorization code for a GTM Environment.",
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.environments.reauthorize",
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "path": {
                      "description": "GTM Environment's API relative path. Example: accounts/{account_id}/containers/{container_id}/environments/{environment_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+path}:reauthorize",
                  "request": {
                    "$ref": "Environment"
                  },
                  "response": {
                    "$ref": "Environment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ]
                },
                "update": {
                  "description": "Updates a GTM Environment.",
                  "httpMethod": "PUT",
                  "id": "tagmanager.accounts.containers.environments.update",
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the environment in storage.",
                      "location": "query",
                      "type": "string"
                    },
                    "path": {
                      "description": "GTM Environment's API relative path. Example: accounts/{account_id}/containers/{container_id}/environments/{environment_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+path}",
                  "request": {
                    "$ref": "Environment"
                  },
                  "response": {
                    "$ref": "Environment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                }
              }
            },
            "version_headers": {
              "methods": {
                "latest": {
                  "description": "Gets the latest container version header",
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.version_headers.latest",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+parent}/version_headers:latest",
                  "response": {
                    "$ref": "ContainerVersionHeader"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "list": {
                  "description": "Lists all Container Versions of a GTM Container.",
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.version_headers.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "includeDeleted": {
                      "description": "Also retrieve deleted (archived) versions when true.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "description": "Continuation token for fetching the next page of results.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+parent}/version_headers",
                  "response": {
                    "$ref": "ListContainerVersionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                }
              }
            },
            "versions": {
              "methods": {
                "delete": {
                  "description": "Deletes a Container Version.",
                  "httpMethod": "DELETE",
                  "id": "tagmanager.accounts.containers.versions.delete",
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "path": {
                      "description": "GTM ContainerVersion's API relative path. Example: accounts/{account_id}/containers/{container_id}/versions/{version_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+path}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ]
                },
                "get": {
                  "description": "Gets a Container Version.",
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.versions.get",
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "containerVersionId": {
                      "description": "The GTM ContainerVersion ID. Specify published to retrieve the currently published version.",
                      "location": "query",
                      "type": "string"
                    },
                    "path": {
                      "description": "GTM ContainerVersion's API relative path. Example: accounts/{account_id}/containers/{container_id}/versions/{version_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+path}",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "live": {
                  "description": "Gets the live (i.e. published) container version",
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.versions.live",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+parent}/versions:live",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "publish": {
                  "description": "Publishes a Container Version.",
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.versions.publish",
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "location": "query",
                      "type": "string"
                    },
                    "path": {
                      "description": "GTM ContainerVersion's API relative path. Example: accounts/{account_id}/containers/{container_id}/versions/{version_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+path}:publish",
                  "response": {
                    "$ref": "PublishContainerVersionResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ]
                },
                "set_latest": {
                  "description": "Sets the latest version used for synchronization of workspaces when detecting conflicts and errors.",
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.versions.set_latest",
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "path": {
                      "description": "GTM ContainerVersion's API relative path. Example: accounts/{account_id}/containers/{container_id}/versions/{version_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+path}:set_latest",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "undelete": {
                  "description": "Undeletes a Container Version.",
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.versions.undelete",
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "path": {
                      "description": "GTM ContainerVersion's API relative path. Example: accounts/{account_id}/containers/{container_id}/versions/{version_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+path}:undelete",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ]
                },
                "update": {
                  "description": "Updates a Container Version.",
                  "httpMethod": "PUT",
                  "id": "tagmanager.accounts.containers.versions.update",
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "location": "query",
                      "type": "string"
                    },
                    "path": {
                      "description": "GTM ContainerVersion's API relative path. Example: accounts/{account_id}/containers/{container_id}/versions/{version_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+path}",
                  "request": {
                    "$ref": "ContainerVersion"
                  },
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ]
                }
              }
            },
            "workspaces": {
              "methods": {
                "create": {
                  "description": "Creates a Workspace.",
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.workspaces.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "GTM parent Container's API relative path. Example: accounts/{account_id}/containers/{container_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+parent}/workspaces",
                  "request": {
                    "$ref": "Workspace"
                  },
                  "response": {
                    "$ref": "Workspace"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "create_version": {
                  "description": "Creates a Container Version from the entities present in the workspace, deletes the workspace, and sets the base container version to the newly created version.",
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.workspaces.create_version",
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "path": {
                      "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+path}:create_version",
                  "request": {
                    "$ref": "CreateContainerVersionRequestVersionOptions"
                  },
                  "response": {
                    "$ref": "CreateContainerVersionResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ]
                },
                "delete": {
                  "description": "Deletes a Workspace.",
                  "httpMethod": "DELETE",
                  "id": "tagmanager.accounts.containers.workspaces.delete",
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "path": {
                      "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+path}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.delete.containers"
                  ]
                },
                "get": {
                  "description": "Gets a Workspace.",
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.workspaces.get",
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "path": {
                      "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+path}",
                  "response": {
                    "$ref": "Workspace"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "getStatus": {
                  "description": "Finds conflicting and modified entities in the workspace.",
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.workspaces.getStatus",
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "path": {
                      "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+path}/status",
                  "response": {
                    "$ref": "GetWorkspaceStatusResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "list": {
                  "description": "Lists all Workspaces that belong to a GTM Container.",
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.workspaces.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "Continuation token for fetching the next page of results.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "GTM parent Container's API relative path. Example: accounts/{account_id}/containers/{container_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+parent}/workspaces",
                  "response": {
                    "$ref": "ListWorkspacesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "quick_preview": {
                  "description": "Quick previews a workspace by creating a fake container version from all entities in the provided workspace.",
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.workspaces.quick_preview",
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "path": {
                      "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+path}:quick_preview",
                  "response": {
                    "$ref": "QuickPreviewResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ]
                },
                "resolve_conflict": {
                  "description": "Resolves a merge conflict for a workspace entity by updating it to the resolved entity passed in the request.",
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.workspaces.resolve_conflict",
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the entity_in_workspace in the merge conflict.",
                      "location": "query",
                      "type": "string"
                    },
                    "path": {
                      "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+path}:resolve_conflict",
                  "request": {
                    "$ref": "Entity"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "sync": {
                  "description": "Syncs a workspace to the latest container version by updating all unmodified workspace entities and displaying conflicts for modified entities.",
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.workspaces.sync",
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "path": {
                      "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+path}:sync",
                  "response": {
                    "$ref": "SyncWorkspaceResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "update": {
                  "description": "Updates a Workspace.",
                  "httpMethod": "PUT",
                  "id": "tagmanager.accounts.containers.workspaces.update",
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the workspace in storage.",
                      "location": "query",
                      "type": "string"
                    },
                    "path": {
                      "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "{+path}",
                  "request": {
                    "$ref": "Workspace"
                  },
                  "response": {
                    "$ref": "Workspace"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                }
              },
              "resources": {
                "built_in_variables": {
                  "methods": {
                    "create": {
                      "description": "Creates one or more GTM Built-In Variables.",
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.built_in_variables.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "type": {
                          "description": "The types of built-in variables to enable.",
                          "enum": [
                            "advertiserId",
                            "advertisingTrackingEnabled",
                            "ampBrowserLanguage",
                            "ampCanonicalHost",
                            "ampCanonicalPath",
                            "ampCanonicalUrl",
                            "ampClientId",
                            "ampClientMaxScrollX",
                            "ampClientMaxScrollY",
                            "ampClientScreenHeight",
                            "ampClientScreenWidth",
                            "ampClientScrollX",
                            "ampClientScrollY",
                            "ampClientTimestamp",
                            "ampClientTimezone",
                            "ampGtmEvent",
                            "ampPageDownloadTime",
                            "ampPageLoadTime",
                            "ampPageViewId",
                            "ampReferrer",
                            "ampTitle",
                            "ampTotalEngagedTime",
                            "appId",
                            "appName",
                            "appVersionCode",
                            "appVersionName",
                            "builtInVariableTypeUnspecified",
                            "clickClasses",
                            "clickElement",
                            "clickId",
                            "clickTarget",
                            "clickText",
                            "clickUrl",
                            "containerId",
                            "containerVersion",
                            "debugMode",
                            "deviceName",
                            "elementVisibilityFirstTime",
                            "elementVisibilityRatio",
                            "elementVisibilityRecentTime",
                            "elementVisibilityTime",
                            "environmentName",
                            "errorLine",
                            "errorMessage",
                            "errorUrl",
                            "event",
                            "eventName",
                            "firebaseEventParameterCampaign",
                            "firebaseEventParameterCampaignAclid",
                            "firebaseEventParameterCampaignAnid",
                            "firebaseEventParameterCampaignClickTimestamp",
                            "firebaseEventParameterCampaignContent",
                            "firebaseEventParameterCampaignCp1",
                            "firebaseEventParameterCampaignGclid",
                            "firebaseEventParameterCampaignSource",
                            "firebaseEventParameterCampaignTerm",
                            "firebaseEventParameterCurrency",
                            "firebaseEventParameterDynamicLinkAcceptTime",
                            "firebaseEventParameterDynamicLinkLinkid",
                            "firebaseEventParameterNotificationMessageDeviceTime",
                            "firebaseEventParameterNotificationMessageId",
                            "firebaseEventParameterNotificationMessageName",
                            "firebaseEventParameterNotificationMessageTime",
                            "firebaseEventParameterNotificationTopic",
                            "firebaseEventParameterPreviousAppVersion",
                            "firebaseEventParameterPreviousOsVersion",
                            "firebaseEventParameterPrice",
                            "firebaseEventParameterProductId",
                            "firebaseEventParameterQuantity",
                            "firebaseEventParameterValue",
                            "formClasses",
                            "formElement",
                            "formId",
                            "formTarget",
                            "formText",
                            "formUrl",
                            "historySource",
                            "htmlId",
                            "language",
                            "newHistoryFragment",
                            "newHistoryState",
                            "newHistoryUrl",
                            "oldHistoryFragment",
                            "oldHistoryState",
                            "oldHistoryUrl",
                            "osVersion",
                            "pageHostname",
                            "pagePath",
                            "pageUrl",
                            "platform",
                            "randomNumber",
                            "referrer",
                            "resolution",
                            "scrollDepthDirection",
                            "scrollDepthThreshold",
                            "scrollDepthUnits",
                            "sdkVersion",
                            "videoCurrentTime",
                            "videoDuration",
                            "videoPercent",
                            "videoProvider",
                            "videoStatus",
                            "videoTitle",
                            "videoUrl",
                            "videoVisible"
                          ],
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            ""
                          ],
                          "location": "query",
                          "repeated": true,
                          "type": "string"
                        }
                      },
                      "path": "{+parent}/built_in_variables",
                      "response": {
                        "$ref": "CreateBuiltInVariableResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "delete": {
                      "description": "Deletes one or more GTM Built-In Variables.",
                      "httpMethod": "DELETE",
                      "id": "tagmanager.accounts.containers.workspaces.built_in_variables.delete",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "path": {
                          "description": "GTM BuiltInVariable's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/built_in_variables",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "type": {
                          "description": "The types of built-in variables to delete.",
                          "enum": [
                            "advertiserId",
                            "advertisingTrackingEnabled",
                            "ampBrowserLanguage",
                            "ampCanonicalHost",
                            "ampCanonicalPath",
                            "ampCanonicalUrl",
                            "ampClientId",
                            "ampClientMaxScrollX",
                            "ampClientMaxScrollY",
                            "ampClientScreenHeight",
                            "ampClientScreenWidth",
                            "ampClientScrollX",
                            "ampClientScrollY",
                            "ampClientTimestamp",
                            "ampClientTimezone",
                            "ampGtmEvent",
                            "ampPageDownloadTime",
                            "ampPageLoadTime",
                            "ampPageViewId",
                            "ampReferrer",
                            "ampTitle",
                            "ampTotalEngagedTime",
                            "appId",
                            "appName",
                            "appVersionCode",
                            "appVersionName",
                            "builtInVariableTypeUnspecified",
                            "clickClasses",
                            "clickElement",
                            "clickId",
                            "clickTarget",
                            "clickText",
                            "clickUrl",
                            "containerId",
                            "containerVersion",
                            "debugMode",
                            "deviceName",
                            "elementVisibilityFirstTime",
                            "elementVisibilityRatio",
                            "elementVisibilityRecentTime",
                            "elementVisibilityTime",
                            "environmentName",
                            "errorLine",
                            "errorMessage",
                            "errorUrl",
                            "event",
                            "eventName",
                            "firebaseEventParameterCampaign",
                            "firebaseEventParameterCampaignAclid",
                            "firebaseEventParameterCampaignAnid",
                            "firebaseEventParameterCampaignClickTimestamp",
                            "firebaseEventParameterCampaignContent",
                            "firebaseEventParameterCampaignCp1",
                            "firebaseEventParameterCampaignGclid",
                            "firebaseEventParameterCampaignSource",
                            "firebaseEventParameterCampaignTerm",
                            "firebaseEventParameterCurrency",
                            "firebaseEventParameterDynamicLinkAcceptTime",
                            "firebaseEventParameterDynamicLinkLinkid",
                            "firebaseEventParameterNotificationMessageDeviceTime",
                            "firebaseEventParameterNotificationMessageId",
                            "firebaseEventParameterNotificationMessageName",
                            "firebaseEventParameterNotificationMessageTime",
                            "firebaseEventParameterNotificationTopic",
                            "firebaseEventParameterPreviousAppVersion",
                            "firebaseEventParameterPreviousOsVersion",
                            "firebaseEventParameterPrice",
                            "firebaseEventParameterProductId",
                            "firebaseEventParameterQuantity",
                            "firebaseEventParameterValue",
                            "formClasses",
                            "formElement",
                            "formId",
                            "formTarget",
                            "formText",
                            "formUrl",
                            "historySource",
                            "htmlId",
                            "language",
                            "newHistoryFragment",
                            "newHistoryState",
                            "newHistoryUrl",
                            "oldHistoryFragment",
                            "oldHistoryState",
                            "oldHistoryUrl",
                            "osVersion",
                            "pageHostname",
                            "pagePath",
                            "pageUrl",
                            "platform",
                            "randomNumber",
                            "referrer",
                            "resolution",
                            "scrollDepthDirection",
                            "scrollDepthThreshold",
                            "scrollDepthUnits",
                            "sdkVersion",
                            "videoCurrentTime",
                            "videoDuration",
                            "videoPercent",
                            "videoProvider",
                            "videoStatus",
                            "videoTitle",
                            "videoUrl",
                            "videoVisible"
                          ],
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            ""
                          ],
                          "location": "query",
                          "repeated": true,
                          "type": "string"
                        }
                      },
                      "path": "{+path}",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "list": {
                      "description": "Lists all the enabled Built-In Variables of a GTM Container.",
                      "httpMethod": "GET",
                      "id": "tagmanager.accounts.containers.workspaces.built_in_variables.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "{+parent}/built_in_variables",
                      "response": {
                        "$ref": "ListEnabledBuiltInVariablesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ]
                    },
                    "revert": {
                      "description": "Reverts changes to a GTM Built-In Variables in a GTM Workspace.",
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.built_in_variables.revert",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "path": {
                          "description": "GTM BuiltInVariable's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/built_in_variables",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "type": {
                          "description": "The type of built-in variable to revert.",
                          "enum": [
                            "advertiserId",
                            "advertisingTrackingEnabled",
                            "ampBrowserLanguage",
                            "ampCanonicalHost",
                            "ampCanonicalPath",
                            "ampCanonicalUrl",
                            "ampClientId",
                            "ampClientMaxScrollX",
                            "ampClientMaxScrollY",
                            "ampClientScreenHeight",
                            "ampClientScreenWidth",
                            "ampClientScrollX",
                            "ampClientScrollY",
                            "ampClientTimestamp",
                            "ampClientTimezone",
                            "ampGtmEvent",
                            "ampPageDownloadTime",
                            "ampPageLoadTime",
                            "ampPageViewId",
                            "ampReferrer",
                            "ampTitle",
                            "ampTotalEngagedTime",
                            "appId",
                            "appName",
                            "appVersionCode",
                            "appVersionName",
                            "builtInVariableTypeUnspecified",
                            "clickClasses",
                            "clickElement",
                            "clickId",
                            "clickTarget",
                            "clickText",
                            "clickUrl",
                            "containerId",
                            "containerVersion",
                            "debugMode",
                            "deviceName",
                            "elementVisibilityFirstTime",
                            "elementVisibilityRatio",
                            "elementVisibilityRecentTime",
                            "elementVisibilityTime",
                            "environmentName",
                            "errorLine",
                            "errorMessage",
                            "errorUrl",
                            "event",
                            "eventName",
                            "firebaseEventParameterCampaign",
                            "firebaseEventParameterCampaignAclid",
                            "firebaseEventParameterCampaignAnid",
                            "firebaseEventParameterCampaignClickTimestamp",
                            "firebaseEventParameterCampaignContent",
                            "firebaseEventParameterCampaignCp1",
                            "firebaseEventParameterCampaignGclid",
                            "firebaseEventParameterCampaignSource",
                            "firebaseEventParameterCampaignTerm",
                            "firebaseEventParameterCurrency",
                            "firebaseEventParameterDynamicLinkAcceptTime",
                            "firebaseEventParameterDynamicLinkLinkid",
                            "firebaseEventParameterNotificationMessageDeviceTime",
                            "firebaseEventParameterNotificationMessageId",
                            "firebaseEventParameterNotificationMessageName",
                            "firebaseEventParameterNotificationMessageTime",
                            "firebaseEventParameterNotificationTopic",
                            "firebaseEventParameterPreviousAppVersion",
                            "firebaseEventParameterPreviousOsVersion",
                            "firebaseEventParameterPrice",
                            "firebaseEventParameterProductId",
                            "firebaseEventParameterQuantity",
                            "firebaseEventParameterValue",
                            "formClasses",
                            "formElement",
                            "formId",
                            "formTarget",
                            "formText",
                            "formUrl",
                            "historySource",
                            "htmlId",
                            "language",
                            "newHistoryFragment",
                            "newHistoryState",
                            "newHistoryUrl",
                            "oldHistoryFragment",
                            "oldHistoryState",
                            "oldHistoryUrl",
                            "osVersion",
                            "pageHostname",
                            "pagePath",
                            "pageUrl",
                            "platform",
                            "randomNumber",
                            "referrer",
                            "resolution",
                            "scrollDepthDirection",
                            "scrollDepthThreshold",
                            "scrollDepthUnits",
                            "sdkVersion",
                            "videoCurrentTime",
                            "videoDuration",
                            "videoPercent",
                            "videoProvider",
                            "videoStatus",
                            "videoTitle",
                            "videoUrl",
                            "videoVisible"
                          ],
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            ""
                          ],
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "{+path}/built_in_variables:revert",
                      "response": {
                        "$ref": "RevertBuiltInVariableResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    }
                  }
                },
                "folders": {
                  "methods": {
                    "create": {
                      "description": "Creates a GTM Folder.",
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.folders.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "{+parent}/folders",
                      "request": {
                        "$ref": "Folder"
                      },
                      "response": {
                        "$ref": "Folder"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "delete": {
                      "description": "Deletes a GTM Folder.",
                      "httpMethod": "DELETE",
                      "id": "tagmanager.accounts.containers.workspaces.folders.delete",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "path": {
                          "description": "GTM Folder's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/folders/{folder_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "{+path}",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "entities": {
                      "description": "List all entities in a GTM Folder.",
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.folders.entities",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query",
                          "type": "string"
                        },
                        "path": {
                          "description": "GTM Folder's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/folders/{folder_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "{+path}:entities",
                      "response": {
                        "$ref": "FolderEntities"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ]
                    },
                    "get": {
                      "description": "Gets a GTM Folder.",
                      "httpMethod": "GET",
                      "id": "tagmanager.accounts.containers.workspaces.folders.get",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "path": {
                          "description": "GTM Folder's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/folders/{folder_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "{+path}",
                      "response": {
                        "$ref": "Folder"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ]
                    },
                    "list": {
                      "description": "Lists all GTM Folders of a Container.",
                      "httpMethod": "GET",
                      "id": "tagmanager.accounts.containers.workspaces.folders.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "{+parent}/folders",
                      "response": {
                        "$ref": "ListFoldersResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ]
                    },
                    "move_entities_to_folder": {
                      "description": "Moves entities to a GTM Folder.",
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.folders.move_entities_to_folder",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "path": {
                          "description": "GTM Folder's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/folders/{folder_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "tagId": {
                          "description": "The tags to be moved to the folder.",
                          "location": "query",
                          "repeated": true,
                          "type": "string"
                        },
                        "triggerId": {
                          "description": "The triggers to be moved to the folder.",
                          "location": "query",
                          "repeated": true,
                          "type": "string"
                        },
                        "variableId": {
                          "description": "The variables to be moved to the folder.",
                          "location": "query",
                          "repeated": true,
                          "type": "string"
                        }
                      },
                      "path": "{+path}:move_entities_to_folder",
                      "request": {
                        "$ref": "Folder"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "revert": {
                      "description": "Reverts changes to a GTM Folder in a GTM Workspace.",
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.folders.revert",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the tag in storage.",
                          "location": "query",
                          "type": "string"
                        },
                        "path": {
                          "description": "GTM Folder's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/folders/{folder_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "{+path}:revert",
                      "response": {
                        "$ref": "RevertFolderResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "update": {
                      "description": "Updates a GTM Folder.",
                      "httpMethod": "PUT",
                      "id": "tagmanager.accounts.containers.workspaces.folders.update",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the folder in storage.",
                          "location": "query",
                          "type": "string"
                        },
                        "path": {
                          "description": "GTM Folder's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/folders/{folder_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "{+path}",
                      "request": {
                        "$ref": "Folder"
                      },
                      "response": {
                        "$ref": "Folder"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    }
                  }
                },
                "tags": {
                  "methods": {
                    "create": {
                      "description": "Creates a GTM Tag.",
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.tags.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "{+parent}/tags",
                      "request": {
                        "$ref": "Tag"
                      },
                      "response": {
                        "$ref": "Tag"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "delete": {
                      "description": "Deletes a GTM Tag.",
                      "httpMethod": "DELETE",
                      "id": "tagmanager.accounts.containers.workspaces.tags.delete",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "path": {
                          "description": "GTM Tag's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/tags/{tag_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "{+path}",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "get": {
                      "description": "Gets a GTM Tag.",
                      "httpMethod": "GET",
                      "id": "tagmanager.accounts.containers.workspaces.tags.get",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "path": {
                          "description": "GTM Tag's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/tags/{tag_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "{+path}",
                      "response": {
                        "$ref": "Tag"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ]
                    },
                    "list": {
                      "description": "Lists all GTM Tags of a Container.",
                      "httpMethod": "GET",
                      "id": "tagmanager.accounts.containers.workspaces.tags.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "{+parent}/tags",
                      "response": {
                        "$ref": "ListTagsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ]
                    },
                    "revert": {
                      "description": "Reverts changes to a GTM Tag in a GTM Workspace.",
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.tags.revert",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of thetag in storage.",
                          "location": "query",
                          "type": "string"
                        },
                        "path": {
                          "description": "GTM Tag's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/tags/{tag_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "{+path}:revert",
                      "response": {
                        "$ref": "RevertTagResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "update": {
                      "description": "Updates a GTM Tag.",
                      "httpMethod": "PUT",
                      "id": "tagmanager.accounts.containers.workspaces.tags.update",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the tag in storage.",
                          "location": "query",
                          "type": "string"
                        },
                        "path": {
                          "description": "GTM Tag's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/tags/{tag_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "{+path}",
                      "request": {
                        "$ref": "Tag"
                      },
                      "response": {
                        "$ref": "Tag"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    }
                  }
                },
                "templates": {
                  "methods": {
                    "create": {
                      "description": "Creates a GTM Custom Template.",
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.templates.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "{+parent}/templates",
                      "request": {
                        "$ref": "CustomTemplate"
                      },
                      "response": {
                        "$ref": "CustomTemplate"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "delete": {
                      "description": "Deletes a GTM Template.",
                      "httpMethod": "DELETE",
                      "id": "tagmanager.accounts.containers.workspaces.templates.delete",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "path": {
                          "description": "GTM Custom Template's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/templates/{template_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "{+path}",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "get": {
                      "description": "Gets a GTM Template.",
                      "httpMethod": "GET",
                      "id": "tagmanager.accounts.containers.workspaces.templates.get",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "path": {
                          "description": "GTM Custom Template's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/templates/{template_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "{+path}",
                      "response": {
                        "$ref": "CustomTemplate"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ]
                    },
                    "list": {
                      "description": "Lists all GTM Templates of a GTM container workspace.",
                      "httpMethod": "GET",
                      "id": "tagmanager.accounts.containers.workspaces.templates.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "{+parent}/templates",
                      "response": {
                        "$ref": "ListTemplatesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ]
                    },
                    "revert": {
                      "description": "Reverts changes to a GTM Template in a GTM Workspace.",
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.templates.revert",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the template in storage.",
                          "location": "query",
                          "type": "string"
                        },
                        "path": {
                          "description": "GTM Custom Template's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/templates/{template_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "{+path}:revert",
                      "response": {
                        "$ref": "RevertTemplateResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "update": {
                      "description": "Updates a GTM Template.",
                      "httpMethod": "PUT",
                      "id": "tagmanager.accounts.containers.workspaces.templates.update",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the templates in storage.",
                          "location": "query",
                          "type": "string"
                        },
                        "path": {
                          "description": "GTM Custom Template's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/templates/{template_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "{+path}",
                      "request": {
                        "$ref": "CustomTemplate"
                      },
                      "response": {
                        "$ref": "CustomTemplate"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    }
                  }
                },
                "triggers": {
                  "methods": {
                    "create": {
                      "description": "Creates a GTM Trigger.",
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.triggers.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "GTM Workspaces's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "{+parent}/triggers",
                      "request": {
                        "$ref": "Trigger"
                      },
                      "response": {
                        "$ref": "Trigger"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "delete": {
[...]
