name: CIFuzz
on:
  workflow_call:
permissions:
  contents: read

jobs:
  Fuzzing:
    runs-on: ubuntu-latest
    steps:
      - name: Build Fuzzers
        id: build
        uses: google/oss-fuzz/infra/cifuzz/actions/build_fuzzers@583430e8af89f27b46bdec369423ecfae534254c # master
        with:
          oss-fuzz-project-name: "prometheus"
          dry-run: false
      - name: Run Fuzzers
        uses: google/oss-fuzz/infra/cifuzz/actions/run_fuzzers@583430e8af89f27b46bdec369423ecfae534254c # master
        # Note: Regularly check for updates to the pinned commit hash at:
        # https://github.com/google/oss-fuzz/tree/master/infra/cifuzz/actions/run_fuzzers
        with:
          oss-fuzz-project-name: "prometheus"
          fuzz-seconds: 600
          dry-run: false
      - name: Upload Crash
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: failure() && steps.build.outcome == 'success'
        with:
          name: artifacts
          path: ./out/artifacts
