name: Renovate
on:
  workflow_dispatch:
  schedule:
    # Run every Monday at 2am UTC
    - cron: '0 2 * * 1'
permissions:
  # Only needed for code checkout, Renovate uses the app token with its associated permissions
  contents: read
jobs:
  renovate:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'prometheus'
    steps:
      - name: Generate GitHub App Token
        id: generate-token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ secrets.RENOVATE_APP_ID }}
          private-key: ${{ secrets.RENOVATE_APP_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          # GITHUB_TOKEN is not necessary after this step
          persist-credentials: false
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@5712c6a41dea6cdf32c72d92a763bd417e6606aa # v44.0.5
        with:
          configurationFile: renovate.json
          token: ${{ steps.generate-token.outputs.token }}
