---
name: Sync repo files
on:
  schedule:
    - cron: '44 17 * * *'
permissions:
  contents: read

jobs:
  repo_sync:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'prometheus'
    container:
      image: quay.io/prometheus/golang-builder
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
      - run: ./scripts/sync_repo_files.sh
        env:
          GITHUB_TOKEN: ${{ secrets.PROMBOT_GITHUB_TOKEN }}
